<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-friends-list'>

    <div class='spotbie-friend-tile' *ngFor="let friend of friends_list">

        <div class='spotbie-friend-tile-upper' [routerLink]="['/user-profile/' + friend.user.username]"></div>
        
        <div class='spotbie-friend-tile-bottom' (click)="setCurrentFriend(friend)"></div>

        <div class='spotbie-friend-default'
            *ngIf="friend.spotbie_user.default_picture as user_default"
            [ngStyle]="{'background-image' : 'url(' + user_default + ')'}"></div>

        <div class='spotbie-friend-user-name'>{{ friend.user.username }}</div>

    </div>

    <div class='spotbie-no-notis-box' *ngIf='no_spotbie_friends'>

        <div>
            No SpotBie Friends
        </div>

    </div>

</div>

<div class='spotbie-load-more-button spotbie-button' *ngIf="load_more_friends" (click)="loadMoreFriends()">
    Load More
</div>

<app-friend-actions [peer]="current_friend" *ngIf="show_friend_actions"></app-friend-actions>