<h1 mat-dialog-title>Feedback</h1>
<div mat-dialog-content>
  <p>
    <span>Leave your feedback for {{ data.businessName }}</span>
  </p>

  <form [formGroup]="feedbackForm">
    <ng-container *ngIf="(formSubmitted$ | async) === true && f.feedbackText.errors">
      <p class="text-warning" *ngIf="f.feedbackText.errors.required">The feedback text is required.</p>
      <p class="text-warning" *ngIf="f.feedbackText.errors.minlength">The feedback text must be greater than 100.</p>
      <p class="text-warning" *ngIf="f.feedbackText.errors.maxlength">The feedback text must be less than 1500.</p>
    </ng-container>

    <mat-form-field>
      <mat-label>Leave your feedback.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  formControlName="feedbackText"
                  placeholder="Your feedback."
        ></textarea>
    </mat-form-field>
  </form>

  <ng-container *ngIf="(formSavedSuccessfully$ | async) === true">
    <p>Feedback saved successfully.</p>
  </ng-container>
  <ng-container *ngIf="(formSavedFailed$ | async) === true">
    <p class="text-warning">Feedback could not be saved, please try again.</p>
  </ng-container>

  <div>
    <button mat-button (click)="confirm()">Confirm</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>
</div>
