<!--<table class='spotbie-pairing-table-menu'>
    <tr>
        <td>
            Current Pairs
        </td>
        <td class='spotbie-menu-selected'>
            Pair Up
        </td>
        <td>
            Pending Pairs
        </td>
        <td>
            Blocked Pairs
        </td>
    </tr>
</table>

<div class='spotbie-pairing-info'></div>

<div class='spotbie-pairing-holder'>

</div>

<div class='spotbie-purchase-more'>

</div>-->

<div class="spotbie-overlay-window" [ngStyle]="{'background-color' : bg_color}">
    <div class='spotbie-coming-soon'>
        Location Pairing Coming Soon
    </div>
    <div class='spotbie-coming-soon-desc'>
        The Location Pairing app will help you stay close to the people you love the most by allowing you pair locations with them. Don't worry, you willbe able to
        stop location pairs at anytime you want.
    </div>    
    <div class="sb-closeButton" (click)="closeWindow()">close location pairing</div>
</div>