h3{
    line-height: 60px;
}
.sb-dashboardWrapper{
    background-color: #27242e;
    position: relative;
    display: block;
    border-bottom: 8px solid #332f3e;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sb-qrImage{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 250px;
    min-width: 250px;
    margin-bottom: 70px;
    cursor: pointer;
}
.sb-optionGet{
    position: relative;
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
    min-width: 24%;
    width: 24%;
    max-width: 24%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sb-optionGet i{
    font-size: 45px;
    color: white;
}
@media (max-width: 768px){
    .sb-qrImage {
        width: 150px;
        min-width: 150px
    }
}