<div class='spotbie-overlay-window animated fadeIn' [ngStyle]="{ 'background-color' : bg_color }">

    <div class='spotbie-repost-title'>Share the post URL link.</div>

    <app-stream-post [stream_post]="stream_post" [input_flag]="input_flag"></app-stream-post>

    <div class='spotbie-share-buttons-wrappper'>

        <button mat-fab class="spotbie-share-button" shareButton="facebook" 
                [style.backgroundColor]="share.prop.facebook.color" 
                [url]="stream_post.stream_link"
                [title]="stream_post_title"
                [description]="stream_post_description">   
            <ngx-fa name="facebook" size="3x" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color"
                [url]="stream_post.stream_link"
                [title]="stream_post_title"
                [description]="stream_post_description">    
            <ngx-fa name="twitter" size="3x" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color"
                [url]="stream_post.stream_link"
                [title]="stream_post_title"
                [description]="stream_post_description">   
            <ngx-fa name="linkedin" size="3x" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="reddit" [style.backgroundColor]="share.prop.reddit.color"
                [url]="stream_post.stream_link"
                [title]="stream_post_title"
                [description]="stream_post_description">
            <ngx-fa name="reddit" size="3x" style="color:white;"></ngx-fa>
        </button> 

        <button mat-fab class="spotbie-share-button" shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color"
                [url]="stream_post.stream_link"
                [title]="stream_post_title"
                [description]="stream_post_description">   
            <ngx-fa name="pinterest" size="3x" style="color:white;"></ngx-fa>
        </button>

    </div>

    <div class='spotbie-copy-link-button' (click)="linkCopy(spotbie_share_link)">tap to copy link</div>

    <div class='spotbie-share-post-link' (click)="linkCopy(spotbie_share_link)">
        <input class='spotbie-input' type='text' [attr.value]="stream_post.stream_link" readonly #spotbie_share_link/>
    </div>

    <table class="spotbie-bottom-button-bar">
        <tr>
            <td class="spotbie-button spotbie-td-button" (click)="closeWindowX()">close</td>
        </tr>
    </table>
    

    <div class='spotbie-toast-message animated fadeIn' *ngIf="successful_url_copy">Post URL copied.</div>

</div>