<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="spotbie-overlay-window container">

  <div class="sb-closeButton" (click)="closeWindow()">
    <i class="fa fa-times"></i>
  </div>

  <div class="sb-login-top-padding"></div>  
  
  <form [formGroup]="logInForm" (ngSubmit)="initLogIn()">

    <div *ngIf="submitted && f.spotbieUsername.errors else username_normal" class="spotbie-invalid-feedback text-uppercase spotbie-text-gradient spotbie-error">
                
      <div *ngIf="f.spotbieUsername.errors.required || f.spotbieUsername.errors.emptyUsername">
        USERNAME OR E-MAIL REQUIRED.
      </div>

      <div *ngIf="f.spotbieUsername.errors.wrongLength">
        USERNAME MUST BE BETWEEN 5 AND 15 CHARACTERS.
      </div>     

      <div *ngIf="f.spotbieUsername.errors.illegalChars">
        USERNAME MUST ONLY CONTAIN LETTERS, NUMBERS, AND UNDERSCORES.
      </div>
      
    </div> 

    <ng-template #username_normal>
      <div #spotbieLogInIssues class="spotbie-invalid-feedback text-uppercase spotbie-text-gradient spotbie-error">
      </div>
    </ng-template>

    <table class="sb-inputWithIconWrapper">

      <td class="sb-iconInInputWrapper">
        <i class="fa fa-envelope"></i>
      </td>

      <td>
        <input class="sb-input" id="spotbieLoginUsername" formControlName="spotbieUsername" type="text" placeholder="USERNAME/EMAIL" autocomplete="username"/>
      </td>

    </table>

    <div *ngIf="submitted && f.spotbiePassword.errors else password_normal" class="spotbie-invalid-feedback spotbie-text-gradient spotbie-error">
              
      <div *ngIf="f.spotbiePassword.errors.required">
        PASSWORD IS REQUIRED.
      </div>   
      
    </div>

    <ng-template #password_normal>
      <div class="spotbie-input-info spotbie-invalid-feedback spotbie-text-gradient"></div>
    </ng-template>
    
    <table class="sb-inputWithIconWrapper">

      <td class="sb-iconInInputWrapper">
        <i class="fa fa-lock"></i>
      </td>

      <td>
        <input class='sb-input' 
                [type]="!passwordShow ? 'password' : 'text'"  
                formControlName="spotbiePassword" 
                id='spotbieLoginPassword' 
                autocomplete="password" 
                placeholder='PASSWORD'/>  

        <fa-icon class='fa-eye' [icon]="faEye" (click)="togglePassword()" *ngIf="!passwordShow"></fa-icon> 
        <fa-icon class='fa-eye' [icon]="faEyeSlash" (click)="togglePassword()" *ngIf="passwordShow"></fa-icon> 

      </td>

    </table>

    <div class="spotbie-rel-div
                spotbie-forgot-your-pass
                spotbie-text-link"
                (click)="openWindow(forgotPasswordWindow)">
      FORGOT YOUR PASSWORD?
    </div>

    <!--<table class="spotbie-toggle" (click)="toggleRememberMe()">

      <tr>
        <td class="spotbie-toggle-info-text spotbie-gradient-link" id="spotbieRememberMeText">REMEMBER ME</td>

        <td class="spotbie-toggle-light" id="spotbieRememberMeLight" [ngStyle]="{'background-color' : rememberMeLight }"></td>
      </tr>

    </table>-->

    <input id="spotbieRememberMe" type="hidden" [value]="rememberMeState" />

    <button class="btn sb-button spotbie-padding">
      LOGIN
    </button>

  </form>

  <button class="btn sb-button sb-fb-logIn-btn spotbie-padding" (click)="signInWithFB()">
    LOGIN WITH FACEBOOK <!--<i class="fa fa-facebook"></i>-->
  </button>

  <button class="btn sb-button sb-google-logIn-btn spotbie-padding" (click)="signInWithGoogle()">
    LOGIN WITH GOOGLE <!--<i class="fa fa-google-plus"></i>-->
  </button>

  <div class="spotbie-rel-div
              spotbie-padding
              spotbie-text-link"
              (click)="signUp()">
        NOT A MEMBER? SIGN UP NOW.
  </div>  

  <div class="sb-logo mt-3 mb-3"></div>

  <div class="spotbie-rel-div
              spotbie-padding
              spotbie-text-link"
              *ngIf="business"
              (click)="usersHome()">
      CLICK HERE FOR NON-BUSINESS USERS
  </div>

  <div class="spotbie-rel-div
              spotbie-padding
              spotbie-text-link"
              *ngIf="!business"
              (click)="businessHome()">
      LOOKING FOR THE BUSINESS PORTAL?
  </div>

  <div></div>


  <div class="spotbie-rel-div
              spotbie-padding
              spotie-login-terms
              spotbie-text-link">
    <span>BY LOGGING IN, YOU ARE AGREEING TO <a [routerLink]="['/terms']">OUR TERMS & PRIVACY POLICY.</a></span>
  </div>

  <div class='sb-closeButton' (click)="closeWindow()">
    <i class="fa fa-times"></i>
  </div>

</div>

<app-forgot-password *ngIf="forgotPasswordWindow.open" (closeWindow)="forgotPasswordWindow.open = false"></app-forgot-password>
