<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="spotbie-overlay-window d-flex container">

  <div class="sb-closeButton" (click)="closeWindow()">
    <i class="fa fa-times"></i>
  </div>

  <div class='sb-scroll'>

    <p class='sb-signUpGeneralInstructions spotbie-text-gradient text-uppercase text-center mt-4' *ngIf="!business">Login to earn rewards with spotbie.</p>
    
    <p class='sb-signUpGeneralInstructions spotbie-text-gradient text-uppercase text-center mt-4' *ngIf="business">Login to find customers.</p>
    
    <p class='sb-signUpGeneralInstructions spotbie-text-gradient text-uppercase text-center mt-4' id="sign_up_general_instructions" #spotbieSignUpIssues></p>

    <div class='spotbie-loginWrapper'>

      <form [formGroup]="logInForm">

        <div *ngIf="submitted && f.spotbieUsername.errors" class="spotbie-invalid-feedback text-uppercase spotbie-text-gradient spotbie-error">
                
          <div *ngIf="f.spotbieUsername.errors.required || f.spotbieUsername.errors.emptyUsername">
            USERNAME OR E-MAIL REQUIRED.
          </div>
    
          <div *ngIf="f.spotbieUsername.errors.wrongLength">
            USERNAME MUST BE BETWEEN 5 AND 15 CHARACTERS.
          </div>     
    
          <div *ngIf="f.spotbieUsername.errors.illegalChars">
            USERNAME MUST ONLY CONTAIN LETTERS, NUMBERS, AND UNDERSCORES.
          </div>

          <div *ngIf="f.spotbieUsername.errors.spotbie_google_account" >
            You signed up with google.
          </div>

          <div *ngIf="f.spotbieUsername.errors.spotbie_fb_account" >
            You signed up with facebook.
          </div>
          
          <div *ngIf="f.spotbieUsername.errors.spotbie_account" >
            You signed up with an email address.
          </div>          

        </div> 

        <table class="sb-inputWithIconWrapper">
    
          <td class="sb-iconInInputWrapper">
            <i class="fa fa-envelope"></i>
          </td>
    
          <td>          

            <input class="sb-input" id="spotbieLoginUsername" formControlName="spotbieUsername" type="text" placeholder="USERNAME/EMAIL" autocomplete="username"/>

          </td>
    
        </table>
    
        <div *ngIf="submitted && f.spotbiePassword.errors" class="spotbie-invalid-feedback spotbie-text-gradient spotbie-error">
                  
          <div *ngIf="f.spotbiePassword.errors.required">
            PASSWORD IS REQUIRED.
          </div>   
          
        </div>
    
        <table class="sb-inputWithIconWrapper">
    
          <td class="sb-iconInInputWrapper">
            <i class="fa fa-lock"></i>
          </td>
    
          <td>
            <input class='sb-input' 
                    [type]="!passwordShow ? 'password' : 'text'"  
                    formControlName="spotbiePassword" 
                    id='spotbieLoginPassword' 
                    autocomplete="password" 
                    placeholder='PASSWORD'/>  
    
            <fa-icon class='fa-eye' [icon]="faEye" (click)="togglePassword()" *ngIf="!passwordShow"></fa-icon> 
            <fa-icon class='fa-eye' [icon]="faEyeSlash" (click)="togglePassword()" *ngIf="passwordShow"></fa-icon> 
    
          </td>
    
        </table>
    
        <div class="spotbie-rel-div
                    spotbie-forgot-your-pass
                    spotbie-text-link"
                    (click)="openWindow(forgotPasswordWindow)">
          FORGOT YOUR PASSWORD?
        </div>
    
        <!--<table class="spotbie-toggle" (click)="toggleRememberMe()">
    
          <tr>
            <td class="spotbie-toggle-info-text spotbie-gradient-link" id="spotbieRememberMeText">REMEMBER ME</td>
    
            <td class="spotbie-toggle-light" id="spotbieRememberMeLight" [ngStyle]="{'background-color' : rememberMeLight }"></td>
          </tr>
    
        </table>-->
    
        <input id="spotbieRememberMe" type="hidden" [value]="rememberMeState" />
    
        <button class="btn spotbie-button spotbie-padding mt-3" (click)="initLogIn()">
          LOGIN
        </button>
        
      </form>

    </div>

    <button class="btn spotbie-button sb-fb-logIn-btn spotbie-padding" (click)="signInWithFB()">
      LOGIN WITH FACEBOOK <!--<i class="fa fa-facebook"></i>-->
    </button>

    <button class="btn spotbie-button sb-google-logIn-btn spotbie-padding" (click)="signInWithGoogle()">
      LOGIN WITH GOOGLE <!--<i class="fa fa-google-plus"></i>-->
    </button>

    <div class="spotbie-rel-div
                spotbie-padding
                spotbie-text-link"
                (click)="signUp()">
          NOT A MEMBER? SIGN UP NOW.
    </div> 

    <div></div>

    <p class='spotbie-rel-div
              spotbie-padding
              spotbie-login-terms
              spotbie-text-link
              text-uppercase'>
      By Logging in, you are agreeing to <a [routerLink]="['/terms']">OUR TERMS & PRIVACY POLICY.</a>
    </p>

    <div class="sb-logo mt-3 mb-3"></div>

    <div class="spotbie-rel-div
                spotbie-padding
                spotbie-text-link"
                *ngIf="business"
                (click)="usersHome()">
          <i class="fas fa-user"></i>  CLICK HERE FOR NON-BUSINESS USERS
    </div>

    <div class="spotbie-rel-div
                spotbie-padding
                spotbie-text-link"
                *ngIf="!business"
                (click)="businessHome()">
          <i class="fas fa-business-time"></i> LOOKING FOR THE BUSINESS PORTAL?
    </div>

    <div></div>

    <div class='sb-closeButton' (click)="closeWindow()">
      <i class="fa fa-times"></i>
    </div>

  </div>

</div>

<app-forgot-password *ngIf="forgotPasswordWindow.open" (closeWindow)="forgotPasswordWindow.open = false"></app-forgot-password>
