<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="spotbie-overlay-window">

    <div class='signUpBox' #vc_spotbie_sign_up_box_inner>                                                
        
        <div class='signUpBoxInstructions' id="sign_up_general_instructions" #spotbieSignUpIssues>
            Sign up to add friends and customize your profile.
        </div>
        
        <form [formGroup]="signUpFormx" (ngSubmit)="initSignUp()">                                               

            <div class='displayTableName'>

                <div *ngIf="submitted && f.spotbieUsername.errors else username_normal" class="signUpBoxInstructions spotbie-error-red">

                    <div *ngIf="f.spotbieUsername.errors.required || f.spotbieUsername.errors.emptyUsername">
                        Username required.
                    </div>

                    <div *ngIf="f.spotbieUsername.errors.wrongLength">
                        Username must be 1 to 35 characters long.
                    </div>

                    <div *ngIf="f.spotbieUsername.errors.illegalChars">
                        Username must only contain letters, numbers, and underscores.
                    </div>
                    
                    <div *ngIf="f.spotbieUsername.errors.notUnique">
                        Username is already in use.
                    </div>

                </div>   

                <ng-template #username_normal>

                    <label class="signUpBoxInstructions" id='username_label' for='spotbie_username'>
                        What will be your username?
                    </label>

                </ng-template>    

                <input class='sb-input signUpInput'
                        username
                        type='text' 
                        id='spotbie_username' 
                        formControlName="spotbieUsername" 
                        placeholder='Username' 
                        autocomplete="username"/>

            </div>

            <div class='displayTableName'>

                <div *ngIf="submitted && f.spotbieFirstName.errors else first_name_normal" class="signUpBoxInstructions spotbie-error-red">

                    <div *ngIf="f.spotbieFirstName.errors.required">
                        Please enter your first name.
                    </div>
                    
                    <div *ngIf="f.spotbieFirstName.errors.invalidInput">
                        Invalid first name given. Must contain letters and no spaces.
                    </div>

                </div>          
                                                    
                <ng-template #first_name_normal>

                    <label class="signUpBoxInstructions" id='first_name_label' for='user_first_name'>
                        What is your first name?
                    </label>

                </ng-template>    

                <input class='sb-input signUpInput'
                        personName
                        type='text' 
                        id='user_first_name' 
                        formControlName="spotbieFirstName" 
                        placeholder='First Name' 
                        autocomplete="given-name" />

            </div>

            <div class='displayTableName'>

                <div *ngIf="submitted && f.spotbieLastName.errors else last_name_normal" class="signUpBoxInstructions spotbie-error-red">

                    <div *ngIf="f.spotbieLastName.errors.required">
                        Please enter your last name.
                    </div>
                    
                    <div *ngIf="f.spotbieLastName.errors.invalidInput">
                        Invalid last name given. Must contain letters and no spaces.
                    </div>
                    
                </div>          

                <ng-template #last_name_normal>

                    <label class="signUpBoxInstructions" id='last_name_label' for='user_last_name'>
                        What about your last name?
                    </label>

                </ng-template>   

                <input class='sb-input signUpInput' 
                        personName
                        type='text' 
                        id='user_last_name' 
                        formControlName="spotbieLastName" 
                        placeholder='Last Name' 
                        autocomplete="family-name" />

            </div>                                     

            <div class='displayTableName'>

                <div *ngIf="f.spotbieEmail.touched && f.spotbieEmail.errors else email_normal" class="signUpBoxInstructions spotbie-error-red">

                    <div *ngIf="f.spotbieEmail.errors.required">
                        Please enter your e-mail.
                    </div>

                    <div *ngIf="f.spotbieEmail.errors.email">
                        Invalid e-mail.
                    </div>                              
                        
                    <div *ngIf="f.spotbieEmail.errors.notUnique">
                        E-mail is already in use.
                    </div>                             

                    <div *ngIf="f.spotbieEmail.errors.emailTaken">
                        E-mail is already in use.
                    </div> 

                </div>      

                <ng-template #email_normal>

                    <label class="signUpBoxInstructions" id='email_label' for='user_email'>
                        What e-mail should we reach you at?
                    </label>

                </ng-template> 

                <input class='sb-input signUpInput'
                        (keyup)="removeWhiteSpace('spotbieEmail')" 
                        type='text' id='user_email' 
                        formControlName="spotbieEmail" 
                        placeholder='E-mail Address' 
                        autocomplete="email"/>

            </div>                 

            <div class='displayTableName'>

                <div *ngIf="submitted && f.spotbiePassword.errors else password_normal" class="signUpBoxInstructions spotbie-error-red">
                        
                    <div *ngIf="f.spotbiePassword.errors.required">
                        Please provide a password.
                    </div>

                    <div *ngIf="f.spotbiePassword.errors.wrongLength">
                        Username must be 1 to 15 characters long.
                    </div>

                    <div *ngIf="f.spotbiePassword.errors.oneNumber">
                        Password must contain at least one number (0-9)!
                    </div> 

                    <div *ngIf="f.spotbiePassword.errors.oneLowerCase">
                        Password must contain at least one lowercase letter (a-z)!
                    </div>  

                    <div *ngIf="f.spotbiePassword.errors.oneUpperCase">
                        Password must contain at least one uppercase letter (A-Z)!
                    </div> 

                </div> 
                                                
                <ng-template #password_normal>

                    <label class="signUpBoxInstructions" id='password_label' for='user_pass'>
                        What will be your password?
                    </label>

                </ng-template>     

                <input class='sb-input signUpInput' 
                        [type]="!passwordShow ? 'password' : 'text'"  
                        formControlName="spotbiePassword" 
                        id='user_pass' 
                        autocomplete="new-password" 
                        placeholder='Password'/>
                
                <fa-icon class='fa-eye' [icon]="faEye" (click)="togglePassword()" *ngIf="!passwordShow"></fa-icon> 
                <fa-icon class='fa-eye' [icon]="faEyeSlash" (click)="togglePassword()" *ngIf="passwordShow"></fa-icon>    

            </div>                

            <div class='displayTableName' style="margin-bottom: 20px;">

                <div *ngIf="submitted && f.spotbieConfirm.errors else confirm_password_normal" class="signUpBoxInstructions spotbie-error-red">

                    <div *ngIf="f.spotbieConfirm.errors.mustMatch">
                        Your passwords must match.
                    </div>
                    
                    <div *ngIf="f.spotbieConfirm.errors.required">
                        Please confirm your password.
                    </div>                              

                </div>        
                                        
                <ng-template #confirm_password_normal>
                    <label class="signUpBoxInstructions" id='confirm_password_label' for='user_pass_confirm'>
                        Confirm your password.
                    </label>  
                </ng-template>    

                <input class='sb-input signUpInput' 
                        [type]="!passwordShow ? 'password' : 'text'" 
                        formControlName="spotbieConfirm" 
                        id='user_pass_confirm' 
                        placeholder='Confirm Password' />

                <fa-icon class='fa-eye' [icon]="faEye" (click)="togglePassword()" *ngIf="!passwordShow"></fa-icon> 
                <fa-icon class='fa-eye' [icon]="faEyeSlash" (click)="togglePassword()" *ngIf="passwordShow"></fa-icon>   

            </div>                           

            <p class='signUpBoxInstructions signUpTerms'>
                By clicking or tapping "Let's Go!" you are agreeing to <a [routerLink]="['/terms']">our terms and privacy policy.</a>
            </p>

            <div class='displayTableName signUpButtons'>
                <button class='spotbieSignUpButton'>Let's Go!</button>

                <div class='spotbieSignUpButton' (click)="closeWindowX();">Cancel</div>
            </div>  

        </form>

    </div>                                                                
                  
    <div id='success_box' class='successBoxOutter'>
      
      <div class='successBoxPage'>
          
          <span class='successBoxNames' id='first_name_x_vo'></span>, you have successfully signed up to <span class='successBoxNames'>SpotBie</span>.
          You will receive an e-mail for account verification. Please check your spam folders.
          Verify your e-mail before launch date to receive <span class='successBoxNames' (click)="accountPerks();" style="text-decoration: underline; cursor: pointer;">perks</span> on your account.
          Welcome to the new social network.
          <br/><br/>
          Your username: <span id='username_x_vo' class='successBoxNames'></span>
          <br/>
          Your e-mail: <span id='email_x_vo' class='successBoxNames'></span>
          
          <div class='sb-button sb-button-mini' (click)="finishSignUp();">Finish</div>
          
      </div>                    
      
    </div>

</div>

<div class="sb-closeButton" (click)="closeWindowX()">
    <i class="fa fa-times"></i>
</div>