<div>
    
    <div class='sb-v-wrapper' style="display: grid; align-content: center;">
        
        <h5 class="spotbie-text-gradient text-center text-uppercase mt-5 mb-3">
            AD MANAGER
        </h5>

        <p class="spotbie-text-gradient text-center">
            Create an Ad with SpotBie and generate local exposure.
        </p>
        
        <div class="spotbie-button text-uppercase" (click)="openAdEditor()" *ngIf="!adEditor && userAdList.length < 8">
            MANAGE ADS
        </div>

        <div class="sb-adCreateWrapper" *ngIf='adEditor'>

            <ad-editor-app [ad]="ad"
                           (adCreated)="addCreated()">                
            </ad-editor-app>

        </div>

        <div class="sb-adCreateWrapper">

            <ad-editor-app *ngFor="let ad of userAdList">                
            </ad-editor-app>

        </div>
        
    </div>

</div>
