<app-scroll-to-top></app-scroll-to-top>

<div class="spotbie-overlay-window">
  <div class="sb-top-headerImg"></div>

  <div class="termsBody mt-5">
    <p
      class="sb-text-light-green-gradient text-uppercase cursor-pointer"
      [routerLink]="['/home']"
      style="text-align: right"
    >
      Home
    </p>

    <h1>Deleting your Account</h1>

    <p>
      In order to delete your SpotBie account you'll need to follow these steps:
    </p>

    <ol>
      <li>Log-in with a personal or business account.</li>
      <li>Navigate to the main menu on the top left of your screen.</li>
      <li>Tap on Settings.</li>
      <li>Scroll to the bottom of the settings section and tap or click on "Deactivate Account"</li>
      <li>You will be prompted for your password.</li>
      <li>Input your password, tap submit, and your account will be deleted.</li>
    </ol>

    <p>
      Your data will be retained for 3 months during which time you will still be able to recover your account. After these 3 months
      pass by, your account and data will be permanently deleted.
    </p>

    <h1>Contact Us</h1>
    <p>
      If you have any questions about this Privacy Policy, You can contact us:
    </p>
    <ul>
      <li>admin@spotbie.com</li>
    </ul>
  </div>
</div>
