<div class='spotbie-overlay-window' style="z-index: 99;" *ngIf="calendlyUp">

    <div class='sb-v-wrapper' style="display: grid; align-content: center;">  
         
        <!-- Calendly inline widget begin -->
        <div id="calendlyEl" class="calendly-inline-widget"></div>                
        <!-- Calendly inline widget end -->

        <div class='spotbie-text-gradient text-center text-uppercase mt-4' 
            style="cursor: pointer;" (click)="calendly()">CLOSE</div>

    </div>

</div>