<div class='HomeWrapper' id='home_wrapper'>                                    
                
    <div class="QuestionsTuto" style="background-color: transparent;">                                            

        <div role="main">                                

            <div class="QuestionsPar">

                <p class="spotbie-desc">
                    
                    Connecting <span>users</span>,

                    <span>retail shops</span>,

                    <span>places to eat</span>,

                    and <span>events</span>.

                </p>

            </div>                        

            <table class="AppsRx" *ngIf="!isCordova">
                <tbody>
                    <tr>
                        <td (click)="appOpen(0)">
                            <i class="fa fa-android" aria-hidden="true"></i>
                        </td>
                        <td (click)="appOpen(1)">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>                                

            <h2 class="HA spotbieAddPointerCursor" id="places-to-eat">
                <span class="dfg">Connecting Users to Places to Eat</span>
            </h2>                                     

            <picture>
                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-eat-around-you.webp' media="(min-width: 881px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-eat-around-you1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-eat-around-you2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-eat-around-you3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/providing-you-places-to-eat-around-you.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/providing-you-places-to-eat-around-you.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" style="margin-top: 0%;"
                        src="assets/images/home_imgs/png/providing-you-places-to-eat-around-you.jpg" 
                        alt="Picture of girl in her twenties enjoying food in a restaurant." />

            </picture>  

            <p class="QuestionsPar spotbieAddPointerCursor">        
                <span class='spotbie-search-click' (click)="searchFood()">Search Places to Eat</span>        
            </p>   

            <app-single-ad></app-single-ad>

            <h2 class="HA spotbieAddPointerCursor" id="events">
                <span class="dfg">Connecting Users to Events</span>
            </h2>                                     

            <img class="QuestionsImage" style="margin-top: 0%;"
                    src="assets/images/home_imgs/jpg/find_events_around.jpg" 
                    alt="Picture of girl in her twenties enjoying food in a restaurant." />

            <p class="QuestionsPar">                     
                <span class='spotbie-search-click' (click)="searchEvents()">Search Events</span>
            </p>  

            <app-single-ad></app-single-ad>
            
            <!-- <h2 class="HA spotbieAddPointerCursor" (click)="openSlideShow(0);">
                <span class="dfg">Monetizable Profiles</span>
            </h2>                                                

            <picture>

                <source srcset='assets/images/home_imgs/webp/spotbie-a-new-social-network.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-a-new-social-network1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-a-new-social-network2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-a-new-social-network3x.webp' media="(min-width: 1px)" type='image/webp'>
                    
                <source srcset='assets/images/home_imgs/jxr/spotbie-a-new-social-network.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/spotbie-a-new-social-network.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" 
                        (click)="openSlideShow(0);" 
                        style="margin-top: 0%;"
                        srcset="assets/images/home_imgs/png/spotbie-a-new-social-network.jpg"
                        alt="Picture of lake with the sun setting and the SpotBie logo." />

            </picture>

            <p class="QuestionsPar spotbieAddPointerCursor" (click)="openSlideShow(0);" id="media">
                All SpotBie users are allowed to earn through their profiles. Our best Content Creators can turn on "endorsements" which allows them to receive donations from other SpotBie users.
            </p>   

            <h2 class="HA spotbieAddPointerCursor" (click)="openSlideShow(2);">
                <span class="dfg">Connecting Users to Media Files</span>
            </h2>                            

            <picture>

                <source srcset='assets/images/home_imgs/webp/upload-download-and-sell-media.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/upload-download-and-sell-media1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/upload-download-and-sell-media2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/upload-download-and-sell-media3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/upload-download-and-sell-media.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/upload-download-and-sell-media.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" 
                    (click)="openSlideShow(2);" 
                    style="margin-top: 0%;" 
                    src="assets/images/home_imgs/png/upload-download-and-sell-media.jpg" 
                    alt="Picture of a media file icon being transferred into a phone." />

            </picture>  

            <p class="QuestionsPar spotbieAddPointerCursor" (click)="openSlideShow(2);" id="retail">        
                We localize media files such as music, graphic design, video games, movies, and text documents for our users.
                By browsing the map near their location or thousands of miles away, our users are introduced to content based on its exact place of origin.        
            </p>-->

            
            <h2 class="HA spotbieAddPointerCursor" id="retail">

                <span class="dfg">Connecting Users to Retail Shops</span>

            </h2>                                        

            <picture>

                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-shop-around-you.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-shop-around-you1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-shop-around-you2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/providing-you-places-to-shop-around-you3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/providing-you-places-to-shop-around-you.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/providing-you-places-to-shop-around-you.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" 
                    style="margin-top: 0%;"
                    src="assets/images/home_imgs/png/providing-you-places-to-shop-around-you.jpg" 
                    alt="Picture of two women shopping in a mall." />

            </picture>  

            <p class="QuestionsPar spotbieAddPointerCursor">
                <span class='spotbie-search-click' (click)="searchRetail()">Search Retail Shops</span>      
            </p>                         

            <app-single-ad></app-single-ad>

            <h2 class="HA spotbieAddPointerCursor" id="people">

                <span class="dfg">Connecting Users by Location</span>

            </h2>                                          
            
            <picture>

                <source srcset='assets/images/home_imgs/webp/find-and-make-new-friends.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/find-and-make-new-friends1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/find-and-make-new-friends2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/find-and-make-new-friends3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/find-and-make-new-friends.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/find-and-make-new-friends.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor"
                        style="margin-top: 0%;"
                        src="assets/images/home_imgs/png/find-and-make-new-friends.jpg" 
                        alt="Picture of group of friends in a circle playing cards at the beach." />

            </picture>        


            <!-- <h2 class="HA spotbieAddPointerCursor" (click)="openSlideShow(5);">        
                <span class="dfg">Connecting Users to Content Creators</span>        
            </h2>                            

            <picture>

                <source srcset='assets/images/home_imgs/webp/rewarding-artists-for-content.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/rewarding-artists-for-content1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/rewarding-artists-for-content2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/rewarding-artists-for-content3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/rewarding-artists-for-content.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/rewarding-artists-for-content.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" (click)="openSlideShow(5);" style="margin-top: 0%;"
                    src="assets/images/home_imgs/png/rewarding-artists-for-content.jpg" 
                        alt="Picture of man tearing shirt off with paint coming out of his chest." />

            </picture>  

            <p class="QuestionsPar spotbieAddPointerCursor" (click)="openSlideShow(5);" id="locationPairing">        
                By tapping the "Content Creators" button, our users are able to see a list of artists, authors, developers, etc. along with their work and efforts.        
                Each purchase of their work or contribution made through our platform goes to help the content creator's career.        
            </p>                                                                  
            
            <h2 class="HA spotbieAddPointerCursor" (click)="openSlideShow(6);">        
                <span class="dfg">Location Pairing</span>
            </h2>                            

            <picture>

                <source srcset='assets/images/home_imgs/webp/spotbie-connects-people-media-objects.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-connects-people-media-objects1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-connects-people-media-objects2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-connects-people-media-objects3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/spotbie-connects-people-media-objects.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/spotbie-connects-people-media-objects.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" 
                    (click)="openSlideShow(6);" style="margin-top: 0%;"
                    src="assets/images/home_imgs/png/spotbie-connects-people-media-objects.jpg" 
                    alt="Image of a city with map location markers spread throughout." />

            </picture>  

            <p class="QuestionsPar spotbieAddPointerCursor" (click)="openSlideShow(6);" id="textingAndDriving">
                We all have someone we care for. SpotBie allows you to pair up your location with those you care for. This way you will both know where you are in case of emergencies, or when
                you can't talk on the phone.
            </p> -->

            <!--<h2 class="HA">        
                <span class="dfg">Prevent Texting and Driving</span>        
            </h2>                            

            <picture>

                <source srcset='assets/images/home_imgs/webp/spotbie-reminds-you-to-not-text-and-drive.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-reminds-you-to-not-text-and-drive1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-reminds-you-to-not-text-and-drive2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/spotbie-reminds-you-to-not-text-and-drive3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/spotbie-reminds-you-to-not-text-and-drive.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/spotbie-reminds-you-to-not-text-and-drive.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" style="margin-top: 0%;" 
                        src="assets/images/home_imgs/png/spotbie-reminds-you-to-not-text-and-drive.jpg" 
                        alt="Don't text and drive. Image of man driving car while texting on mobile phone." />

            </picture>

            <p class="QuestionsPar" id="missingPeople">
                The National Safety Council reports that cell phone use while driving leads to 1.6 million crashes each year. SpotBie offers our users a button to send notifications that
                let your friends know when you will be driving.
            </p>                       

            <h2 class="HA">        
                <span class="dfg">Help Find Missing People</span>
            </h2>                            

            <picture class="QuestionsImage spotbieAddPointerCursor" style="margin-top: 0%;">

                <source srcset='assets/images/home_imgs/webp/help-find-missing-people.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/help-find-missing-people1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/help-find-missing-people2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/help-find-missing-people3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/help-find-missing-people.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/help-find-missing-people.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" style="margin-top: 0%;"
                        src="assets/images/home_imgs/png/help-find-missing-people.jpg" 
                        alt="Picture of infant with flowers." />

            </picture>  

            <p class="QuestionsPar" id="everyday_objects">
                Every year in the United States, around 600,000 people go missing. SpotBie offers a way to help find those who go missing through our app.                        
            </p>              -->
            
            <!--<h2 class="HA">        
                <span class="dfg">Everyday Objects</span>        
            </h2>                            

            <picture>

                <source srcset='assets/images/home_imgs/webp/finding-and-identifying-objects-around-you.webp' media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/finding-and-identifying-objects-around-you1x.webp' media="(min-width: 481px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/finding-and-identifying-objects-around-you2x.webp'  media="(min-width: 415px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/webp/finding-and-identifying-objects-around-you3x.webp' media="(min-width: 1px)" type='image/webp'>
                <source srcset='assets/images/home_imgs/jxr/spotbie-connects-people-media-objects.jxr' type='image/vnd.ms-photo'>
                <source srcset='assets/images/home_imgs/jp2/spotbie-connects-people-media-objects.jp2' type='image/jp2'>

                <img class="QuestionsImage spotbieAddPointerCursor" style="margin-top: 0%;"
                        src="assets/images/home_imgs/png/spotbie-connects-people-media-objects.jpg" 
                        alt="Picture of earth with acbstact network connections throughout." />

            </picture> 

            <p class="QuestionsPar">        
                While it's only a technology under progress, SpotBie extends its service to bringing people a better understanding of everyday objects and how they function.      
            </p>       -->                           
            
            

            <div class="HA termsAndService" style="text-align: center;
                                margin-bottom: 15px;
                                border-bottom-right-radius: 20px;
                                border-bottom-left-radius: 20px;">
                <a class="dfg termsAndService" [routerLink]="['/terms']" >Terms of Use and Privacy Policy</a>
            </div>                                                              
            
        </div>
        
        <!--<div class='spotBieSlideShow' id="spotbie_slide_show">
        
            <div class='slideshowArrow arrowLeft' (click)="slidePrev();"><</div>
            <div class='slideshowArrow arrowRight' (click)="slideNext();">></div>                                    
            
            <div class='slideshowMain' id="vc_slideshow_main"></div>
            
            <div class='slideshowDisclaimer' id="vc_slideshow_caption"></div>                
            
            <div class='closeSlideshow' (click)="closeSlideShow();">close</div>
            
        </div>-->
        
        <div id='loading_screen' *ngIf="loading">
            
            <div class='loading_gif'></div>
            
        </div>                                   
                
    </div>
    
</div> 