.spotbie-friends-app{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    margin-top: 75px;
    padding-bottom: 150px;    
}
.spotbie-friend-tile{
    position: relative;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    height: 150px;
    cursor: pointer; 
    margin-bottom: unset;
}
.spotbie-friend-default{
    position: absolute;
    width: 100%;
    min-width: 100%; 
    max-width: 100%;
    min-height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.spotbie-friend-user-name{
    position: absolute;
    min-height: 20px;
    padding-top: 9px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.43);
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    bottom: 0;
    font-size: 12px;
    width: 96%;
    min-width: 96%;
    max-width: 96%;
    overflow: hidden;
    text-align: center;
}
.spotbie-load-more-button{
    margin-top: 40px;
}
.spotbie-friends-header-table{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 810px;
    max-width: 810px;
    min-width: 810px;
    table-layout: fixed;
    text-align: center;
    border-spacing: 5px;
    z-index: 99;
    background-color: inherit !important;
}
.spotbie-friends-header-table td{
    width: 25%;
    max-width:  25%;
    min-width: 25%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,.23);
    border-radius: 10px;
}
.spotbie-friends-header-table img{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.spotbie-friends-header-table i{
    font-size: 40px;
}
.spotbie-no-notis-box{
    margin: 0 auto;
    margin-top: 120px;
    max-width: 650px;
    text-align: center;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0,0,0,.23);
}
.spotbie-friend-tile-upper{
    position: absolute;
    width: 100%;
    max-width:  100%;
    min-width: 100%;
    top: 0%;
    height: 50%;
    max-height:  50%;
    min-height: 50%;
    z-index: 2;
    outline: none;
}
.spotbie-friend-tile-bottom{
    position: absolute;
    width: 100%;
    max-width:  100%;
    min-width: 100%;
    bottom: 0%;
    height: 50%;
    max-height:  50%;
    min-height: 50%;
    z-index: 2;
    outline: none;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 
    .spotbie-friends-header-table{    
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 
    .spotbie-friend-tile{
        width: 125px;
        min-width: 125px;
        max-width: 125px;
        min-height: 125px;
        max-height: 125px;
        height: 125px;
    }
    .spotbie-friends-header-table img{
        width: 30px;
        min-width: 30px;
        max-width: 30px;
    }   
    .spotbie-friends-app{
        margin-top: 65px;
    }     
}
@media (max-width: 560px) { 
     
}
@media (max-width: 460px) { 
              
}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) { 
 
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}