h2,h3,p, li{
    color: black;
    font-family: GothamBook !important;
}
h1,a{
    color: #4a8b00;
}
body{
    background-color: white !important;
}
.spotbie-overlay-window{
    padding: 50px;
    background-color: #332f3e;
    overflow-y: scroll;
    text-align: left;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   
   
}
@media (max-width: 1024px) { 

}
@media (max-width: 900px) { 

}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 
    h1{
        font-size: 28px;
    }
    h1{
        font-size: 23px;
    }    
    .termsWrapper{
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }
}
@media (max-width: 560px) { 
     
}
@media (max-width: 460px) { 

}
@media (max-width: 420px) { 
               
}
@media (max-width: 360px) { 
    
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}