<div class="spotbie-main-holder" id="spotbieMainHolder">
  <div class="spotbie-overlay-window" id="spotbieMainSpotBieScroll">
    <div>
      <div>
        <table
          class="spotbie-el-100 spotbie-menu spotbie-menu-fixed"
        >
          <tr>
            <td style="width: 25%">
              <img
                class="spotbie-header-mini-logo"
                src="../../../assets/images/spotbie_logo_header.svg"
              />
            </td>

            <td style="text-align: right; cursor: default" (click)="goHome()">
              <span>HOME</span>
            </td>
          </tr>
        </table>

        <div class="menu-padding"></div>

        <div class="does-itWork">
          <h2 class="sb-text-light-green-gradient">DELETE YOUR ACCOUNT & DATA</h2>

          <h2 class="sb-text-light-green-gradient mt-5">
            Overview...
          </h2>
          <p>
            In this page we'll cover ways in which you can delete your account from the SpotBie platform. When deleting
            your account you have three options;
          </p>

          <h2 class="sb-text-light-green-gradient mt-5">1. Permanent Deletion</h2>
          <p>
            This is a irreversible action and it means that you will not be able to recover your account. Your loyalty
            points, rewards, places visited, (e.g., all data associated with your unique account identifier will be
            permanently deleted). If you want to permanently delete your account, you can do so under the settings section
            of our website.
          </p>

          <h2 class="sb-text-light-green-gradient mt-5">2. Temporary Deletion</h2>
          <p>
            If for some reason you'd like to delete your SpotBie account temporarily and gain access to it later,
            you'll be able to do so by simply navigating to settings and tapping on "Deactivate Account" as shown in this
            screenshot.
          </p>

          <h2 class="sb-text-light-green-gradient mt-5">3. Delete Account Data</h2>
          <p>
            SpotBie also allows users to delete their account data without deleting their account, simply e-mail or call us
            and we will gladly take care of this for you.
          </p>
        </div>

        <div class="mb-4 sb-readImage" id="sbReadImageUsers"></div>

        <div class="sb-footer text-uppercase pt-5 pb-5">
          <p [routerLink]="['/terms']">Terms & Privacy Policy</p>

          <img class="mt-3 mb-3" src="../../../assets/images/logo_spotbie_green.svg" />

          <p [routerLink]="['/terms']">SpotBie, LLC.&copy; Copyright 2024-25</p>

          <div class="mt-4">
            <i class="fab fa-instagram" (click)="openIg()"></i>
            <i class="fab fa-twitter" (click)="openTwitter()"></i>
            <i class="fab fa-youtube" (click)="openYoutube()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
