<div class='spotbie-overlay-window'>

    <div class='spotbie-welcome-wrapper'>

        <h1>Spotbie</h1>
    
        <h2>
            The World Is Yours
            <strong class='sep-two'></strong>
        </h2>
        
        <div class='spotbie-flash-card animated flipInX' [ngStyle]="whichCard(0)">

            <h3>
                Welcome to Spotbie
            </h3>

            <p>
                Spotbie uses your location to find nearby users, retail shops, places to eat, and events.
            </p>

            <div class='sb-button' (click)="switchCard()">Let's Go!</div>

        </div>

    </div>

</div>