.spotbie-overlay-window{
    text-align: left;
}
.spotbie-my-places-wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 760px;
}
.spotbie-toast-info{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.spotbie-input{
    margin-left: 0;
}