<div class="spotbie-overlay-window" [ngClass]="getOverlayWindowStyling()">

    <div class="sb-closeButton" (click)="closeWindowX()">
        <i class="fa fa-times"></i>
    </div>

    <div class='spotbie-album-media-image-wrapper' 
            *ngIf="info_object !== null && info_object !== undefined">
        
        <div class='spotbie-info-object-title spotbie-text-gradient text-uppercase'>
            
            <img class='sb-miniLogoIcon' src="assets/images/home_imgs/spotbie-green-icon.svg" />

            <h1 class="sb-titleGreen">{{ info_object.name }}</h1>
            
            <span class='spotbie-search-result-price' *ngIf="info_object.price_on == '1'">({{ info_object.price }})</span>

        </div>

        <!--<div class='spotbie-info-object-image' [ngStyle]="{ 'background' : 'url(' + infoObjectImageUrl + ')'}"></div>-->
    
        <div *ngIf="info_object !== null && info_object.hours !== undefined">

            <div class='spotbie-info-object-open' *ngIf="!info_object.isOpenNow">
                <span class="text-uppercase spotbie-text-gradient">CLOSED </span><span class='fa fa-circle spotbie-is-closed'></span>
            </div>
            
            <div class='spotbie-info-object-open' *ngIf="info_object.isOpenNow">
                <span class="text-uppercase spotbie-text-gradient">OPEN </span><span class='fa fa-circle spotbie-is-open'></span>
            </div>

        </div>

        <div class='spotbie-info-object-image-list'>
    
            <div class='spotbie-info-object-image-thumb'
                *ngFor="let thumbnail of info_object.photos"
                (click)="switchPhoto(thumbnail)"
                [ngStyle]="{ 'background' : 'url(' + thumbnail + ')'}"></div>
    
        </div>
        
        <div class='spotbie-search-result-phone text-uppercase spotbie-text-gradient' *ngIf="info_object.phone != ''">
            
            <a href="tel:{{info_object.phone}}" class='spotbie-friendly-ph spotbie-gradient-link'>
                {{ info_object.display_phone }}
            </a>

        </div>

        <div class='spotbie-info-object-rating text-uppercase spotbie-text-gradient' *ngIf="info_object.type_of_info_object == 'yelp_business'" (click)="visitInfoObjectPage()">

            <table class='spotbie-yelp-rating-table'>
                <tr>
                    <td>
                        <div class='spotbie-search-result-rating-img' [ngStyle]="{ 'background' : 'url(' + info_object.rating_image + ')' }"></div>
                    </td>
                    <td>
                        <div class='spotbie-search-result-yelp-logo' [ngStyle]="{ 'background' : 'url(assets/images/yelp/yelp_logo.png)' }"></div>
                    </td>
                </tr>
            </table>

        </div>
        
        <div class='spotbie-review-count spotbie-text-gradient text-uppercase mt-2' *ngIf="info_object.type_of_info_object == 'yelp_business'" (click)="visitInfoObjectPage()">
            Based on {{ info_object.review_count }} Reviews
        </div>
        
        <div class='spotbie-info-object-address spotbie-text-gradient text-uppercase' *ngIf="info_object.type_of_info_object == 'ticketmaster_event'">

            <div class='spotbie-venue-name'>{{ info_object._embedded.venues[0].name }}</div>
            
            <br/>
            
            {{ info_object._embedded.venues[0].address.line1 }} {{ info_object._embedded.venues[0].city.name }}, {{ info_object._embedded.venues[0].state.stateCode }} {{ info_object._embedded.venues[0].postalCode }}    
        
            <div class='spotbie-time-event' *ngIf="info_object.dates.start.localDate">
                {{ info_object.dates.start.spotbieDate }}
            </div>

            <div class='spotbie-price-ranges' *ngIf="info_object.priceRanges !== undefined">
                Price Ranges ${{ info_object.priceRanges[0].min }} to ${{ info_object.priceRanges[0].max }}
            </div>

            <div class='spotbie-event-code' *ngIf="info_object.dates.status.code">
                Status: {{ info_object.dates.status.code }}
            </div>

        </div>
 
        <div class="spotbie-info-object-buttons">

            <div class='spotbie-distance spotbie-text-gradient text-uppercase' *ngIf="info_object.distance !== undefined" (click)="openWithGoogleMaps()">
                {{ info_object.distance }} miles from you.
            </div>

            <i class="fa fa-map-marker-alt spotbie-text-gradient" aria-hidden="true" (click)="openWithGoogleMaps()"></i>

            <i class="fa fa-globe spotbie-text-gradient" aria-hidden="true" (click)="visitInfoObjectPage()"></i>

            <div class='spotbie-distance spotbie-text-gradient text-uppercase'>Start Navigation</div>

            <div class='spotbie-info-object-address spotbie-text-gradient text-uppercase' *ngIf="info_object.type_of_info_object == 'yelp_business'" (click)="openWithGoogleMaps()">
                {{ info_object.location.display_address[0] }} 
                <br/>
                {{ info_object.location.display_address[1] }}            
            </div>

        </div>
    
        <div class='spotbie-info-object-transactions'> {{ info_object.friendly_transactions }} </div>

        <div class='spotbie-add-to-favorites' 
                (click)="addFavorite()"
                *ngIf="info_object.type_of_info_object != 'ticketmaster_event' && showFavorites">

            <span class="spotbie-text-gradient text-uppercase">ADD TO FAVORITES</span>            

            <i class="fa fa-plus"></i>

        </div>

        <div class='spotbie-add-to-favorites text-uppercase' 
                (click)="removeFavorite()" 
                *ngIf="info_object.type_of_info_object != 'ticketmaster_event' && !showFavorites">

            <span class="spotbie-text-gradient">REMOVE FROM FAVORITES</span>            

            <i class="fa fa-minus"></i>

        </div>

        <div class='sb-button spotbie-add-to-favorites' (click)="goToTicket()" *ngIf="info_object.type_of_info_object == 'ticketmaster_event'">
            Buy Tickets
        </div>

        <div class='spotbie-share-buttons-wrappper' *ngIf="info_object !== undefined">
    
            <share-buttons
                    [include]="['facebook', 'twitter', 'linkedin', 'reddit', 'tumblr', 'mix', 'viber', 'messenger','whatsapp']"
                    [url]="infoObjectLink"
                    [title]="info_object.name"
                    [description]="infoObjectDescription"
                    [autoSetMeta]="false">     
            </share-buttons>
    
        </div>

        <div class='spotbie-copy-link-button text-uppercase spotbie-text-gradient' (click)="linkCopy(infoObjectShareLink)">tap to copy link</div>
    
        <div class='spotbie-share-post-link' (click)="linkCopy(infoObjectShareLink)">
    
            <input class='sb-input' type='text' [(value)]="infoObjectLink" readonly #infoObjectShareLink />
    
        </div>

    </div>

    <div class='spotbie-exif-optional'></div>
    <div class='spotbie-ai-items-in-image'></div>

    <div class='spotbie-toast-message animated fadeIn' *ngIf="successful_url_copy">Object link copied.</div>

</div>

<app-loading-screen *ngIf="loading"></app-loading-screen>