<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-profile-header'>
    
    <div class='spotbie-profile-title' *ngIf="!public_profile">
        {{ user.username }}
    </div>

    <div class='spotbie-profile-title' *ngIf="public_profile">
        {{ user.username }}'s Profile      
    </div>

    <div class='spotbie-profile-slideshow'>

        <div class='spotbie-toast-message animated fadeIn' *ngIf="successful_default_change">Profile Image Changed</div>
        
        <div class='spotbie-slideshow-button-holder' id="spotbie_previous_profile_img_holder" (click)="prevSlide()" title="Previous Default Image">
            <i class="fa fa-chevron-circle-left spotbie-slideshow-button" 
                id="spotbie_previous_profile_img" 
                aria-hidden="false"></i>
        </div>

        <div class='spotbie-slideshow-button-holder' id="spotbie_next_profile_img_holder" (click)="nextSlide()" title="Next Default Image">
            <i class="fa fa-chevron-circle-right spotbie-slideshow-button" 
                id="spotbie_next_profile_img" 
                aria-hidden="false"></i>
        </div>   

        <div class='spotbie-slide-wrapper'>             
            
            <div class="spotbie-swiper">

                <div class="swiper-wrapper">

                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    
                    <div class='swiper-slide'></div>    

                    <div *ngFor="let account_default of user.profile_pictures" class="spotbie-profile-image-drop">

                        <div class='spotbie-default-image-opacity' [ngStyle]="{'background' : 'url(' + account_default + ')'}"></div>

                        <div [ngStyle]="{'background' : 'url(' + account_default + ')'}" class="spotbie-profile-image"></div> 

                    </div>      
            
                </div>
            
                <div class="swiper-pagination"></div>       

            </div>                
                         
        </div>

        <table class='spotbie-profile-image-options' *ngIf='!public_profile'>
            <tr>
                <td>
                    <div class='spotbie-profile-image-button-holder' (click)="changeProfilePicture()" title="Upload Default Image">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div> 
                </td>                    
                <td>
                    <div class='spotbie-profile-image-button-holder' (click)="setDefault()" title="Set as Default Image">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div> 
                </td>
                <td>
                    <div class='spotbie-profile-image-button-holder' (click)="deleteProfilePicture()" title="Delete Default Image">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </td>                                            
            </tr>
        </table> 

    </div>

    <div class='spotbie-profile-header-bottom'>

        <div class='spotbie-background-image' [ngStyle]="{ 'background' : 'url(' + user.acc_splash + ')' }"></div>

        <div class='spotbie-profile-name'> {{ user.exe_user_full_name }} </div>
    
        <div class='spotbie-profile-desc' (click)="editDescription()" *ngIf="user.exe_desc && !public_profile">
            {{ user.exe_desc | sanitize }} 
        </div>

        <div class='spotbie-profile-desc' *ngIf="user.exe_desc && public_profile">
            {{ user.exe_desc | sanitize }} 
        </div>        

        <table class='spotbie-profile-header-options'>

            <tr>

                <td (click)="editDescription()" *ngIf='!public_profile' title="Edit Profile Description">
                    <div>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </td>
                
                <td (click)="newBackground()" *ngIf='!public_profile' title="New Profile Background">
                    <div>
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </div>
                </td>

                <!--<td (click)="openWindow(questionsWindow)" *ngIf='!public_profile' title="Change Friendship Questions">
                    <div>
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </div>
                </td>-->

                <td (click)="openWindow(contactMeWindow)" title="Update ContactMe">
                    <div>
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                    </div>
                </td>

            </tr> 

        </table>        

        <!--<app-albums [public_profile_info]="public_profile_info"
                    [album_id]="album_id"
                    [album_media_id]="album_media_id"></app-albums>-->
        
    </div>
    
</div>

<div class='spotbie-overlay-window' *ngIf="edit_description">

    <div class='spotbie-toast-input-box' [ngStyle]="{ 'background-color' : user.exe_background_color }">

        <form [formGroup]="profile_description_form">

            <div *ngIf="description_submitted && f.spotbie_profile_description.errors else spotbie_description_normal" class="spotbie-invalid-feedback animated shake">                   
                <div *ngIf="f.spotbie_profile_description.errors.maxlength">
                    Your profile description can only be 300 characters long.
                </div>                       
            </div> 

            <ng-template #spotbie_description_normal>
                <div class="spotbie-toast-info spotbie-description-info" #spotbie_description_info>
                    Change your profile description.
                </div>
            </ng-template>        

            <textarea class='spotbie-textarea' formControlName="spotbie_profile_description" maxlength="360"></textarea>

            <div class='spotbie-button spotbie-button-mini' (click)="setDescription()">Save Description</div>
            <div class='spotbie-button spotbie-button-mini' (click)="cancelDescription()">Cancel</div>

        </form>

    </div>

</div>

<div class='spotbie-overlay-window' *ngIf="upload_background">

    <div class='spotbie-toast-input-box' [ngStyle]="{ 'background-color' : user.exe_background_color }">

        <form>
            
            <div class="spotbie-toast-info spotbie-description-info" #spotbie_upload_background_info>
                {{ background_media_message }}
            </div>
            
            <input type="file" 
                class='spotbie-background-upload-input' 
                #spotBackgroundInput (change)="uploadBackground(spotBackgroundInput.files)" 
                accept="image/jpeg, image/gif, image/png"
                multiple=false >

            <div class='spotbie-upload-new-background-holder' 
                [ngStyle]="{ 'background' : 'url(' + user.acc_splash + ')' }"
                (click)="startBackgroundUploader()"
                #spotbieBackgroundUploader>
                <div class='spotbie-click-or-drag-upload'>
                    touch or drag to upload
                </div>
            </div>

            <div class='spotbie-button spotbie-button-mini' (click)="saveBackground()">Save Background</div>
            <div class='spotbie-button spotbie-button-mini' (click)="cancelBackground()">Cancel</div>

        </form>

    </div>

</div>


<div class='spotbie-overlay-window' *ngIf="upload_default">

    <div class='spotbie-toast-input-box' [ngStyle]="{ 'background-color' : user.exe_background_color }">

        <form>
            
            <div class="spotbie-toast-info spotbie-description-info" #spotbie_upload_default_info>
                {{ default_media_message }}
            </div>
            
            <input type="file" 
                class='spotbie-background-upload-input' 
                #spotDefaultInput (change)="uploadDefault(spotDefaultInput.files)" 
                accept="image/jpeg, image/gif, image/png"
                multiple=false >

            <div class='spotbie-upload-new-background-holder' 
                [ngStyle]="{ 'background' : 'url(' + user.exe_user_default_picture + ')' }"
                (click)="startDefaultUploader()"
                #spotbieDefaultUploader>
                <div class='spotbie-click-or-drag-upload'>
                    touch or drag to upload
                </div>
            </div>

            <div class='spotbie-button spotbie-button-mini' (click)="cancelDefault()">Cancel</div>

        </form>

    </div>

</div>

<!--<app-questions *ngIf="questionsWindow.open"></app-questions>-->

<app-contactme *ngIf="contactMeWindow.open" [user_id]="user.id"></app-contactme>
