<app-loading-screen *ngIf="loading"></app-loading-screen>


<div class='spotbie-overlay-window'>

    <div class='spotbie-toast-input-box'  [ngStyle]="{ 'background-color' : background_color }">

        <form [formGroup]="spotbie_questions_form">

            <table class='spotbie-questions-table' *ngIf="questions_on">
                <tr>
                    <td>
                        <div class='spotbie-questions-inst' #spotbie_questions_info></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="questions_submitted && g.spotbie_question_1.errors else spotbie_question_1_normal" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_question_1.errors.maxlength">
                                Questions can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_question_1.errors.required">
                                All questions are required.
                            </div>                                                  
                        </div>                         
                        <ng-template #spotbie_question_1_normal>
                            <div class="spotbie-toast-info spotbie-questions-info">
                                Question # 1
                            </div>
                        </ng-template>                     
                        <input class='spotbie-input' formControlName="spotbie_question_1"  maxlength="60" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="questions_submitted && g.spotbie_answer_1.errors else spotbie_answer_1_normal" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_answer_1.errors.maxlength">
                                Answers can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_answer_1.errors.required">
                                All answers are required.
                            </div>                                                  
                        </div>                         
                        <ng-template #spotbie_answer_1_normal>
                            <div class="spotbie-toast-info spotbie-questions-info">
                                Answer # 1
                            </div>
                        </ng-template>                  
                        <input class='spotbie-input' formControlName="spotbie_answer_1" maxlength="60" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="questions_submitted && g.spotbie_question_2.errors else spotbie_question_2_normal" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_question_2.errors.maxlength">
                                Questions can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_question_2.errors.required">
                                All questions are required.
                            </div>                                                  
                        </div>                         
                        <ng-template #spotbie_question_2_normal>
                            <div class="spotbie-toast-info spotbie-questions-info">
                                Question # 2
                            </div>
                        </ng-template>                     
                        <input class='spotbie-input' formControlName="spotbie_question_2" maxlength="60" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="questions_submitted && g.spotbie_answer_2.errors else spotbie_answer_2_normal" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_answer_2.errors.maxlength">
                                Answers can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_answer_2.errors.required">
                                All answers are required.
                            </div>                                                  
                        </div>                         
                        <ng-template #spotbie_answer_2_normal>
                            <div class="spotbie-toast-info spotbie-questions-info">
                                Answer # 2
                            </div>
                        </ng-template>                  
                        <input class='spotbie-input' formControlName="spotbie_answer_2" maxlength="60" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="questions_submitted && g.spotbie_question_3.errors else spotbie_question_3_normal" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_question_3.errors.maxlength">
                                Questions can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_question_3.errors.required">
                                All questions are required.
                            </div>                                                  
                        </div>                         
                        <ng-template #spotbie_question_3_normal>
                            <div class="spotbie-toast-info spotbie-questions-info">
                                Question # 3
                            </div>
                        </ng-template>                     
                        <input class='spotbie-input' formControlName="spotbie_question_1" maxlength="60" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="questions_submitted && g.spotbie_answer_3.errors else spotbie_answer_3_normal" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_answer_3.errors.maxlength">
                                Answers can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_answer_3.errors.required">
                                All answers are required.
                            </div>                                                  
                        </div>                         
                        <ng-template #spotbie_answer_3_normal>
                            <div class="spotbie-toast-info spotbie-questions-info">
                                Answer # 3
                            </div>
                        </ng-template>                  
                        <input class='spotbie-input' formControlName="spotbie_answer_3" maxlength="60" />                        
                    </td>
                </tr>
            </table>
            <table class='spotbie-questions-table'>
                <tr>
                    <td>
                        <table class="spotbie-toggle">
        
                            <tr>
                                <input type="hidden" formControlName="require_questions" />
        
                                <td class="spotbie-toggle-info-text" id="spotbieGhostText" (click)="toggleQuestions()">
                                    Questions <span>{{questions_state}}</span>
                                </td>
                                
                                <td class="spotbie-toggle-light" (click)="toggleQuestions()" [ngStyle]="getLight(this.require_questions)"></td>
                        
                                <td class="spotbie-toggle-help-switch" (click)="toggleHelp(this.questions_help)">?</td>
                    
                            </tr>
                        
                        </table>
                    </td>
                </tr> 
                <tr>
                    <td>
                        <div class="spotbie-help-text" *ngIf="help_text.length > 0">
                            {{ help_text }}
                        </div>                
                    </td>
                </tr>                               
            </table>



            <div class='spotbie-button spotbie-button-mini' (click)="saveQuestions()">Save Questions</div>
            <div class='spotbie-button spotbie-button-mini' (click)="closeWindow()">Close</div>

        </form>

    </div>

</div>