<div class='spotbie-overlay-window'>
    
    <div class='spotbie-reportReasons' *ngIf="reportReasonsUp">

        <div class='spotbie-reportReasonsInnerWrapper' [ngStyle]="{ 'background-color' : bgColor}">

            <h4>Why would you like to report {{ friend.user.username }}?</h4>

            <div class="spotbie-reportReason" *ngFor="let reportReason of reportReasonList" (click)="report(reportReason.id)">
                {{ reportReason.name }}
            </div>

        </div>

    </div>
    
    <div class='spotbie-friend-actions-image' 
        *ngIf="friend.spotbie_user.default_picture as user_default"
        [ngStyle]="{'background' : 'url(' + user_default + ')'}"></div>
    
    <div class='spotbie-friend-actions-username'>{{ friend.user.username }}</div>
    
    <div class='spotbie-friend-action-buttons'>

        <div class='spotbie-button' [routerLink]="['/user-profile/' + friend.user.username]">View Profile</div>

        <div class='spotbie-button' (click)="unfriend()">Unfriend</div>

        <div class='spotbie-button' (click)="blockUser()">Block</div>

        <div class='spotbie-button' (click)="reportReasonsWindow()">Report</div>

        <div class="spotbie-close-button" (click)="closeWindow()">close</div>

    </div>

    <div class="spotbie-successful-action-wrapper" *ngIf="successful_action">

        <div class="spotbie-successful-action-title">
            {{ successful_action_title }}
        </div>

        <div class="spotbie-successful-action-description">
            {{ successful_action_description }}
        </div>        

    </div>

</div>