.sb-readImage{
    position: relative;
    top: 3px;                
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.sb-getStarted{ 
    max-width: 220px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 20px;
    border-radius: 13px!important;
    background: -webkit-linear-gradient(45deg,#64e56f,#35a99f);
    background: linear-gradient(45deg,#64e56f,#35a99f);
}
.sb-getStarted span{
    background: linear-gradient(45deg,#212529,#131313);
    background: -webkit-linear-gradient(45deg,#212529,#131313);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.sb-whiteIconBg{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
}
.sb-greenIcon{
    position: relative;
    display: block;
    margin-top: -60px;
    margin-bottom: 60px;
    max-width: 50px;
    width: 50px;
    max-height: 50px;
    height: 50px;
    z-index: 1;
}
.sb-logo-withStreet{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
}
.sb-top-headerImg{
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 650px;
    min-height: 650px;
    background: url(../../../assets/images/spotbie-miami.jpg);
    box-shadow: inset 0px -80px 65px #332f3e;
}

h4{
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    text-align: center;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 20px;
    cursor: pointer;
    background: -webkit-linear-gradient(45deg,#64e56f,#35a99f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4::after{
    position: relative;
    width: 100%;
    min-width: 100%;
    min-height: 1px;
    height: 1px;
    background: -webkit-linear-gradient(45deg,#64e56f,#35a99f);
}

h5{
    position: relative;
    margin: 0 auto; 
    min-width: 450px;
    width: 450px;   
    max-width: 450px;
    color: white;
    text-align: center;
}

img{
    position: relative;
    width: 100%;
    min-width: 100%;
    z-index: -2;
}

p{
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    text-align-last: center;
    color: white;
    max-width: 800px;
    width: 800px;
    min-width: 800px;
}
.sb-homePageIconsTable{
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    display: table;
    table-layout: fixed;
}
.sb-homePageIconsTable div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    width: 25%;
    min-width: 25%;
    font-size: .6rem;
}
.sb-homePageIconsTable img{
    max-width: 100px;
    width: 100px;
}
.sb-footer{
    position: relative;
    width: 100%;
    min-width: 100%;
    text-align: center;
    background: -webkit-linear-gradient(45deg,#64e56f,#35a99f);
}
.sb-footer img{
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    z-index: 1;
}
.sb-footer p{
    color: #332f3e !important;
    cursor: pointer;
    font-size: .6rem !important;
}
@media (max-width: 840px) {
    p{
        width: 90%;
        max-width: 90%;
        min-width: 90%;
    }
    h4{
        text-align: center;
    }
    h5{
        font-size: 0.9rem;
        min-width: 90%;
        width: 90%;
        max-width: 90%;        
    }
    .sb-logo-withStreet {
        max-width: 150px!important;
        min-width: 150px!important;
        width: 150px!important;
    }  
}
@media (max-width: 700px) { 
    .sb-homePageIconsTable{
        max-width: 90%;
        min-width: 90%;
        width: 90%;
    }
    .sb-homePageIconsTable img{
        width: 70px;
        min-width: 70px        
    }
}