h1,
a {
  color: #4a8b00;
}
h1,
p {
  text-align: center;
}
textarea {
  position: relative;
  display: block;
  margin: 0 auto;
}
.sb-mainWrapper {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.902);
  background: url('../../assets/images/home_imgs/jpg/spotbie-login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 75px !important;
}
.termsWrapper {
  position: relative;
  margin: 0 auto;
  width: 96%;
  min-width: 96%;
  max-width: 96%;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 900px) {
}
@media (max-width: 768px) {
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
}
@media (max-width: 560px) {
}
@media (max-width: 460px) {
}
@media (max-width: 420px) {
}
@media (max-width: 360px) {
}

@media (max-width: 320px) {
}
@media (max-width: 220px) {
}
@media (max-width: 120px) {
}
