<div class='sb-backgroundImg'></div>

<div class="sb-mainWrapper" *ngIf="showSubmitBug">

    <h1>Submitting Bugs</h1>

    <p>Want to report bugs in our platform? You can do so here.</p>
    
    <form [formGroup]="bugsForm">

        <div *ngIf="submitted && f.description.errors" class="spotbie-invalid-feedback">                   
            <div *ngIf="f.description.errors.maxlength">
                Your profile description can only be 500 characters long.
            </div>                       
        </div> 

        <textarea formControlName="description" placeholder="Bug details..." maxlength="500"></textarea>

    </form>
    
    <div class="sb-button" (click)="insertBug()">Send</div>

</div>

<div class="sb-mainWrapper" *ngIf="success">

    <h1>Bug was Submitted!</h1>

    <p>Your bug report was sent successfully. Thank you.</p>

</div>


<div class='aards-servicesTable'>
    
    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(0)">
    
        <div class='aards-serviceIcon'></div>

        <h3>AUTOIMMUNE DISEASES</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile' onclick="readMoreService(1)">
    
        <div class='aards-serviceIcon'></div>

        <h3>RHEUMATOID ARTHRITIS</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(2)">
    
        <div class='aards-serviceIcon'></div>

        <h3>OSTEOPOROSIS</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile' onclick="readMoreService(3)">
    
        <div class='aards-serviceIcon'></div>

        <h3>SYSTEMIC LUPUS ERYTHEMATOSUS</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(4)">
    
        <div class='aards-serviceIcon'></div>

        <h3>PSORIATIC ARTHRITIS</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile' onclick="readMoreService(5)">
    
        <div class='aards-serviceIcon'></div>

        <h3>CHRONIC PAIN</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(6)">
    
        <div class='aards-serviceIcon'></div>

        <h3>GOUT</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile' onclick="readMoreService(7)">
    
        <div class='aards-serviceIcon'></div>

        <h3>FIBROMYALGIA</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

</div>
<div class='aards-servicesTable'>
    
    <div class='aards-serviceTile' onclick="readMoreService(8)">
    
        <div class='aards-serviceIcon'></div>

        <h3>CARPAL TUNNEL SYNDROME</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(9)">
    
        <div class='aards-serviceIcon'></div>

        <h3>DRY MOUTH SYNDROME</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile' onclick="readMoreService(10)">
    
        <div class='aards-serviceIcon'></div>

        <h3>SJOGREN'S SYNDROME</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(11)">
    
        <div class='aards-serviceIcon'></div>

        <h3>POLYMYOSITIS</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile' onclick="readMoreService(12)">
    
        <div class='aards-serviceIcon'></div>

        <h3>ANKYLOSING SPONDYLITIS</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(13)">
    
        <div class='aards-serviceIcon'></div>

        <h3>SCLERODERMA</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile' onclick="readMoreService(14)">
    
        <div class='aards-serviceIcon'></div>

        <h3>PAGET'S DISEASE</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

    <div class='aards-serviceTile aards-BlueBg' onclick="readMoreService(15)">
    
        <div class='aards-serviceIcon'></div>

        <h3>OSTEOARTHRITIS</h3>
        
        <div class='aards-serviceReadMore'>
            READ MORE
            <i class='fa fa-chevron-circle-right'></i>
        </div>

    </div>

</div>