
<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-overlay-window'>

    <div class='spotbie-close-button' (click)="closeWindow()">
        <i class="fa fa-times"></i>
    </div>

    <div class='spotbie-toast-input-box' [ngStyle]="{ 'background-color' : bgColor }">

        <div class='spotbie-contact-me-info' #spotbieContactMeInfo></div>

        <form [formGroup]="spotbieContactMeForm">
            
            <table class='spotbie-contact-me-table'>
                <tr>
                    <td>
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </td>                    
                    <td>

                        <div *ngIf="contactMeSubmitted && g.facebook.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.facebook.errors.maxlength">
                                Facebook can only be 130 characters or less in length.
                            </div>                                                  
                        </div>     

                        <input class='spotbie-input' formControlName="facebook" placeholder="Facebook" (click)="$event.target.select()" maxlength="130" />       

                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </td>                     
                    <td>
                        <div *ngIf="contactMeSubmitted && g.instagram.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.instagram.errors.maxlength">
                                Instagram can only be 130 characters or less in length.
                            </div>                                             
                        </div>                                         
                        <input class='spotbie-input' formControlName="instagram" placeholder="Instagram" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </td>                     
                    <td>
                        <div *ngIf="contactMeSubmitted && g.twitter.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.twitter.errors.maxlength">
                                Twitter can only be 130 characters or less in length.
                            </div>                                                 
                        </div>                                          
                        <input class='spotbie-input' formControlName="twitter" placeholder="Twitter" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </td>                      
                    <td>
                        <div *ngIf="contactMeSubmitted && g.whatsapp.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.whatsapp.errors.maxlength">
                                WatsApp can only be 130 characters or less in length.
                            </div>                                                 
                        </div>                         
                
                        <input class='spotbie-input' formControlName="whatsapp" placeholder="WhatsApp" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                    </td>                     
                    <td>
                        <div *ngIf="contactMeSubmitted && g.snapchat.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.snapchat.errors.maxlength">
                                Snapchat can only be 130 characters or less in length.
                            </div>                                                  
                        </div>                                             
                        <input class='spotbie-input' formControlName="snapchat" placeholder="Snapchat" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>                
            </table>

            <div class='spotbie-button spotbie-button-mini' (click)="saveContactMe()" *ngIf="this.publicProfileInfo === undefined">Save ContactMe</div>            

        </form>

    </div>

</div>