.spotbie-overlay-window{
    background-color: rgba(0,0,0, .85);
}
.spotbie-contact-me-table i{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    font-size: 30px;
}
.spotbie-contact-me-table{
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;    
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    background-color: rgba(0,0,0,.23);
    border-radius: 20px;
    table-layout: fixed;
}
.spotbie-toast-input-box{
    max-width: 500px;
}
.spotbie-contact-me-table td{
    padding-top: 20px;
    padding-bottom: 20px;
}
.spotbie-contact-me-table tr td:nth-of-type(1){
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}
.spotbie-input{
    width: 92%;
    min-width: 92%;
    max-width: 92%;
    margin-left: 0;
}
.spotbie-contact-me-info{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.spotbie-contact-me-inst{
    position: relative;
    width: 90%;
    min-width: 90%;
    max-width: 90%;    
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(0,0,0,.23);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 20px;
}

/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 

}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 

}
@media (max-width: 560px) { 
     
}
@media (max-width: 460px) { 
    .spotbie-toast-input-box{
        max-width: 98%;
        min-width: 98%;
        width: 98%;
        padding: 20px 1%;
    }
    .spotbie-contact-me-inst{
        width: 96%;
        min-width: 96%;
        max-width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .spotbie-contact-me-table{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding-left: 4%;
        padding-right: 4%;    
    }       
}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) { 
 
}
@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}