
<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-overlay-window'>

    <div class='spotbie-toast-input-box'  [ngStyle]="{ 'background-color' : background_color }">

        <form [formGroup]="spotbie_contact_me_form">
            
            <table class='spotbie-contact-me-table'>
                <tr>
                    <td>
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </td>                    
                    <td>
                        <div *ngIf="contact_me_submitted && g.spotbie_contact_me_1.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_contact_me_1.errors.maxlength">
                                Facebook can only be 130 characters or less in length.
                            </div>                                                  
                        </div>                         
                        <input class='spotbie-input' formControlName="spotbie_contact_me_1" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </td>                     
                    <td>
                        <div *ngIf="contact_me_submitted && g.spotbie_contact_me_2.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_contact_me_2.errors.maxlength">
                                Instagram can only be 130 characters or less in length.
                            </div>                                             
                        </div>                                         
                        <input class='spotbie-input' formControlName="spotbie_contact_me_2" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                    </td>                     
                    <td>
                        <div *ngIf="contact_me_submitted && g.spotbie_contact_me_3.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_contact_me_3.errors.maxlength">
                                Snapchat can only be 130 characters or less in length.
                            </div>                                                  
                        </div>                                             
                        <input class='spotbie-input' formControlName="spotbie_contact_me_3" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </td>                     
                    <td>
                        <div *ngIf="contact_me_submitted && g.spotbie_contact_me_4.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_contact_me_4.errors.maxlength">
                                Twitter can only be 130 characters or less in length.
                            </div>                                                 
                        </div>                                          
                        <input class='spotbie-input' formControlName="spotbie_contact_me_4" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </td>                      
                    <td>
                        <div *ngIf="contact_me_submitted && g.spotbie_contact_me_5.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_contact_me_5.errors.maxlength">
                                WatsApp can only be 130 characters or less in length.
                            </div>                                                 
                        </div>                         
                
                        <input class='spotbie-input' formControlName="spotbie_contact_me_5" (click)="$event.target.select()" maxlength="130" />                        
                    </td>
                </tr>
            </table>

            <div class='spotbie-button spotbie-button-mini' (click)="saveContactMe()">Save ContactMe</div>
            <div class='spotbie-button spotbie-button-mini' (click)="closeWindow()">Close</div>

        </form>

    </div>

</div>