.sb-imgDownloadApp{
  position: relative;
  margin: 0 20px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  text-align: center;
}

@media (max-width: 768px){
  .sb-top-headerImg {
    box-shadow: inset 0 0px 65px #332f3e;
  }
}

@media (max-width: 650px){
  .sb-top-headerImg {
    max-height: 160px;
    min-height: 160px;
    height: 160px;
    box-shadow: inset 0 0px 65px #332f3e;
  }
}
