<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-friends-list'>
    <div class='spotbie-friend-tile' *ngFor="let friend of pending_list">
        <div class='spotbie-friend-tile-upper' [routerLink]="['/user-profile/' + friend.user.username]"></div>
        <div class='spotbie-friend-tile-bottom' (click)="setCurrentPending(friend)"></div>        
        <div class='spotbie-friend-default'
            *ngIf="friend.spotbie_user.default_picture as user_default"
            [ngStyle]="{'background-image' : 'url(' + user_default + ')'}"></div>
        <div class='spotbie-friend-user-name'>{{ friend.user.username }}</div>
    </div>
    <div class='spotbie-no-notis-box' *ngIf='pending_list.length == 0'>
        <div>
            No Pending Requests
        </div>
    </div>    
</div>

<div class='spotbie-load-more-button spotbie-button' *ngIf="load_more_pending" (click)="loadMorePending()">
    Load More
</div>

<app-pending-friend-actions *ngIf="show_pending_actions" [peer]="current_pending"></app-pending-friend-actions>