<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-search-app-holder'>

    <div class='spotbie-search-bar-holder'>
        <input type='text' (keyup)="searchSpotbie($event)" class='spotbie-input spotbie-search-bar' placeholder='Search SpotBie' #spotbie_search_bar />
        <img class='spotbie-search-glass' src='../../assets/images/search.png' *ngIf="search_up" />
    </div>

    <div class='spotbie-search-results-for' *ngIf="search_up">
        Search results for "{{search_value}}" in "{{search_type}}" : {{ total_search_results }} total results.
    </div>

    <div class='spotbie-search-result-list'>
        
        <div class='spotbie-search-result' *ngFor="let search_result of search_result_list" (click)="goToResult(search_result)">
            
            <div class='spotbie-search-result-image' [ngStyle]="{'background' : 'url(' + search_result.exe_user_default_picture + ')'}"></div>
            <div class='spotbie-search-result-username'>
                {{ search_result.exe_username }} <br/> <span>{{ search_result.exe_user_full_name }}</span>
            </div>

        </div>

        <div class='spotbie-button spotbie-load-more-search-results' 
        (click)="loadMoreSearch()"
        *ngIf="load_more_search_results">load more</div>
    </div>

</div>