<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="spotbie-overlay-window" [ngStyle]="{'background-color' : bg_color}">

    <div class='spotbie-album-media-image-wrapper'
        *ngIf="media.media_type == 'image' && media.content | albumMediaPath as media_path"
        [ngStyle]="{'background' : 'url(' + media_path  + ')' } ">

        <div class='spotbie-album-media-image-blur'></div>         

    </div>

    <img class='spotbie-album-media-image' *ngIf="media.media_type == 'image' && media.content | albumMediaPath as media_path" [src]="media_path" /> 

    <div class='spotbie-album-media-video-holder' 
        *ngIf="media.media_type == 'video'">

        <video class='spotbie-album-media-video' controls>
            <source *ngIf="media.content | albumMediaPath as media_path" src="{{ media_path }}">
        </video>

    </div>  

    <form [formGroup]="item_form" *ngIf="caption_form_ready" (ngSubmit)="initSaveItem()">
        
        <table class='spotbie-media-caption'>
            <tr>
                <td>
                    <div *ngIf="submitted && f.item_caption.errors else item_caption_normal" class="spotbie-invalid-feedback animated shake">
            
                        <div *ngIf="f.item_caption.errors.maxlength">
                            Your item caption cannot be longer than 300 characters.
                        </div>            
                
                        <div *ngIf="f.item_caption.errors.invalidAlbumName">
                            Please enter a valid item caption. Only letters, numbers, and underscores.
                        </div>   

                    </div>                            
                    <ng-template #item_caption_normal>
                        <div #albumMediaFileInfoMessage class="spotbie-album-media-upload-title">
                            {{ album_item_updated_msg }}
                        </div>          
                    </ng-template>                        
                    <textarea class="spotbie-input-textarea spotbie-input" 
                                formControlName="item_caption" type="text" 
                                placeholder="Item Caption" maxlength="300"></textarea>
                </td>
            </tr>
        </table>
        
        <button class='spotbie-button'>Save Caption</button>

    </form>

    <div class='spotbie-exif-optional'></div>
    <div class='spotbie-ai-items-in-image'></div>

    <div class="spotbie-close-button" (click)="closeWindow()"><i class="fa fa-times"></i></div>

    <div class='spotbie-toast-message animated fadeIn' *ngIf="successful_update">Album Item Updated.</div>

</div>