<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-overlay-window' [ngStyle]="{'background-color' : bg_color }">

    <div class='spotbie-coming-soon'>
        Multi-Media Coming Soon!
    </div>

    <!--
    <div class='spotbie-media-player'>
        
        <div class='spotbie-top-cats'>

            <div class='spotbie-master-media'>
                <div class='spotbie-media-type'
                        [ngStyle]="onMasterStyle(master_name)"
                        *ngFor="let master_name of master_name_list"
                        (click)="masterPicker(master_name);">{{ master_name }}</div>            
            </div>
    
            <*!-- Media Player Controls Section--*>
    
            <div class='spotbie-master-media'>
                <div class='spotbie-media-type'
                        [ngStyle]="onCategoryStyle(media_type.name)"
                        *ngFor="let media_type of media_type_list"
                        (click)="chooseMediaType(media_type.name);">{{ media_type.name }}</div>
                <*!--<div class='spotbie-media-close-types' (click)="openMediaTypePick()">x</div>--*>
            </div>
    
            <div class="spotbie-media-type-picker" *ngIf="sub_category_picker" [ngStyle]="{'background-color' : bg_color }">
                
                <div class='spotbie-media-type' (click)="closeSubCats();">hide genres</div>
                
                <div class='spotbie-media-type' 
                    [ngStyle]="onSubcatStyle(sub_category.sub_name)"
                    *ngFor="let sub_category of sub_category_list"
                    (click)="pushSubCat(sub_category.sub_name);">
                    {{sub_category.sub_name}} ({{sub_category.sub_hits}})
                </div>
    
                <div class='spotbie-no-genre' *ngIf="sub_category_none && chosen_media_type == 'Music'">No Music Genres</div>
                <div class='spotbie-no-genre' *ngIf="sub_category_none && chosen_media_type == 'Video'">No Video Genres</div>
                <div class='spotbie-no-genre' *ngIf="sub_category_none && chosen_media_type == 'Image'">No Image Categories</div>
                    
            </div>

        </div>
    
        <div class='spotbie-media-player-content'>
            <app-media-player-content [master_pick]="master_pick"
                                    [chosen_media_type]="chosen_media_type" 
                                    [genre_list]="active_sub_cats">
            </app-media-player-content>
        </div>
    
        <div class='spotbie-media-player-stream'>
            <app-media-player-stream></app-media-player-stream>
        </div>
    
        <div class='spotbie-media-player-show-map' (click)="showMediaMap();">show map</div>
    
        <!-- END OF Controls Section --*>
    
        <div class='spotbie-media-player-map' *ngIf="show_media_map">
            <app-media-player-map></app-media-player-map>
        </div>

    </div>-->

    <div class="spotbie-close-button" (click)="closeWindow()">close media</div>

</div>