span.sb-loyalty-points{
    font-size: 14rem !important;
    color: #fff !important;
    cursor: pointer !important;
    border-right: unset !important;    
    margin-right: .8rem;
}
img.sb-loyalty-points{
    width: 25px;
    min-width: 25px;
    max-width: 25px;
    cursor: pointer;
    vertical-align: unset;    
}
h3{
    color: white;
}
p{
    position: relative;
    margin: 0 auto;    
    max-width: 100%;
}
.sb-input{
    text-align: center;
    width: 450px;
    min-width: 450px;
}
.spotbie-overlay-window{
    padding-top: 90px;
    padding-bottom: 100px;
    background: #332f3e;
    text-align: center;    
    z-index: 99;
}
.sb-loyalty-points-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sb-budget-wrapper{
    position: absolute;
    left: 0;
    right: 0;
}
.fa-question-circle{
    margin-right: 5px;
}
.sb-helpBlock{
    position:relative;
    margin: 0 auto;
    max-width: 650px;
}
.sb-loyalty-points.sb-text-light-green-gradient{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    letter-spacing: unset;
    line-height: unset;
}
.sb-loyalty-points-new{
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.sb-added-loyalty-points{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 3.5rem;
    line-height: 3.5rem;
    z-index: 999;
}