<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="spotbie-overlay-window">

    <div class="sb-loyalty-points-wrapper">

        <h4 class="spotbie-text-gradient text-center text-uppercase mt-4 mb-5">SPOTBIE LOYALTY POINTS</h4>

        <p class="mb-4" (click)="initBusinessLoyaltyPoints()">   

            <span class='sb-loyalty-points'>{{ userLoyaltyPoints | number:'1.0':'en-US' }}</span>

            <span class="sb-added-loyalty-points sb-text-light-green-gradient animated fadeOutUp" 
                    *ngIf="newUserLoyaltyPoints !== null"
                    #newBalanceLoyaltyPoints>+{{ newUserLoyaltyPoints | number:'1.0':'en-US' }}</span>

            <img class='sb-loyalty-points' src="../assets/images/spotbie-loyalty-points.svg" />            
        </p>    

        <div class='sb-button text-uppercase' (click)="closeThis()">
            CLOSE
        </div>

    </div>

    <div class="sb-closeButton" (click)="closeThis()">
        <i class="fa fa-times"></i>
    </div>

</div>

<div class="spotbie-overlay-window" *ngIf="businessLoyaltyPointsOpen">

    <div class="sb-budget-wrapper">        

        <div>

            <h6 #businessLoyaltyPointsInfo class="spotbie-text-gradient text-center text-uppercase mb-5">
                <h4 class="spotbie-text-gradient text-center text-uppercase">MONTHLY BUDGET</h4>
            </h6>

            <form [formGroup]="businessLoyaltyPointsForm" *ngIf="businessLoyaltyPointsFormUp">

                <div *ngIf="businessLoyaltyPointsSubmitted && f.businessCoinPercentage.errors else percentage_normal" class="spotbie-input-info spotbie-text-gradient spotbie-error">
            
                    <div *ngIf="f.businessCoinPercentage.errors.required">
                        You must enter a value!
                    </div>
                    
                </div> 
                
                <ng-template #percentage_normal>
                    <div class="spotbie-input-info spotbie-text-gradient text-uppercase mb-4">
                        What % of a dollar are your points worth?
                    </div>          
                </ng-template>

                <input class="sb-input" 
                        (click)="$event.target.select()" 
                        (keyup)="calculateDollarValue()"
                        [dropSpecialCharacters]="false"
                        formControlName="businessCoinPercentage" 
                        type="text" 
                        placeholder="1.5%"
                        separatorLimit="1000"
                        suffix="%"
                        maxlength="6"
                        mask="percent" />     

                <div *ngIf="businessLoyaltyPointsSubmitted && f.businessLoyaltyPoints.errors else loyalty_points_normal" class="spotbie-input-info spotbie-text-gradient spotbie-error">
            
                    <div *ngIf="f.businessLoyaltyPoints.errors.required">
                        You must enter a value!
                    </div>
                    
                </div> 
                
                <ng-template #loyalty_points_normal>
                    <div class="spotbie-input-info spotbie-text-gradient text-uppercase mt-4 mb-4">
                        Total loyalty points Offered per Month
                    </div>          
                </ng-template>

                <input class="sb-input" 
                        (click)="$event.target.select()" 
                        (keyup)="calculateDollarValue()"
                        formControlName="businessLoyaltyPoints" 
                        type="text" 
                        placeholder="0" 
                        maxlength="7"
                        thousandSeparator="," 
                        mask="separator.0" />            
            
            </form>               
            
            <p class="spotbie-text-gradient text-uppercase mt-4" style="font-size: .8rem !important;" *ngIf="monthlyDollarValueCalculated">
                monthly dollar value ${{ businessPointsDollarValue | number:'1.0':'en-US' }}
            </p>

            <div class='spotbie-text-gradient text-center text-uppercase mt-4' (click)="toggleHelp()" style="cursor: pointer;">
                <i class='fa fa-question-circle'></i>how does it work?
            </div>

            <div class='sb-helpBlock mt-4' *ngIf="helpEnabled" style="text-align: left;">
                <p class='spotbie-text-gradient mb-3'>
                    1. Input the dollar value of each of your loyalty points.
                </p>
                <p class='spotbie-text-gradient mb-3'>
                    2. Input the amount of loyalty points you want to give away each month.
                </p>
                <p class='spotbie-text-gradient mb-3'>
                    3. When your customers <b>scan your QR code</b>, they will get an amount of loyalty points directly proportional to their bill.
                </p>               
                <p class='spotbie-text-gradient mb-3'>
                    <b>EXAMPLE</b>: Let's say your customer <b>spent $200</b> on their bill. If your <b>loyalty points are worth 2.5% of a Dollar</b>, then your customer will gain
                    <b>$200.00 * (2.5%/100) = 5 Loyalty Points</b>!
                </p> 
            </div>

            <div class='sb-button text-uppercase mt-3' (click)="submitBusinessLoyaltyPoints()">
                SAVE
            </div>    

            <div class='spotbie-text-gradient text-center text-uppercase mt-4' 
            style="cursor: pointer;" (click)="closeBusinessLoyaltyPoints()">CANCEL</div>

        </div>

        <app-business-menu [loyaltyPoints]="userLoyaltyPoints" (closeWindowEvt)="closeThis()"></app-business-menu>
        
    </div>
    
    <div class="sb-closeButton" (click)="closeBusinessLoyaltyPoints()">
        <i class="fa fa-times"></i>
    </div>

</div>
