<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-toast-input-overlay'>

    <div class='spotbie-toast-input-box'  [ngStyle]="{ 'background-color' : background_color }">

        <form [formGroup]="spotbie_questions_form">

            <table class='spotbie-questions-table'>
                <tr>
                    <td class='spotbie-question-friends'>
                        {{ question_1 }}                       
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="answers_submitted && g.spotbie_answer_1.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_answer_1.errors.maxlength">
                                Answers can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_answer_1.errors.required">
                                All answers are required.
                            </div>                                                  
                        </div>                                       
                        <input class='sb-input' formControlName="spotbie_answer_1" maxlength="60" placeholder="Answer # 1" />                        
                    </td>
                </tr>
                <tr>
                    <td class='spotbie-question-friends'>
                        {{ question_2 }}                      
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="answers_submitted && g.spotbie_answer_2.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_answer_2.errors.maxlength">
                                Answers can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_answer_2.errors.required">
                                All answers are required.
                            </div>                                                  
                        </div>                                         
                        <input class='sb-input' formControlName="spotbie_answer_2" maxlength="60" placeholder="Answer # 2"/>                        
                    </td>
                </tr>
                <tr>
                    <td class='spotbie-question-friends'>
                        {{ question_3 }}                    
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="answers_submitted && g.spotbie_answer_3.errors" class="spotbie-invalid-feedback animated shake">                   
                            <div *ngIf="g.spotbie_answer_3.errors.maxlength">
                                Answers can only be 60 characters or less in length.
                            </div> 
                            <div *ngIf="g.spotbie_answer_3.errors.required">
                                All questions are required.
                            </div>                                                  
                        </div>                                        
                        <input class='sb-input' formControlName="spotbie_answer_3" maxlength="60" placeholder="Answer # 3" />                        
                    </td>
                </tr>
            </table>

            <table class='spotbie-questions-table'>
                <tr>
                    <td>
                        <div class="spotbie-help-text" *ngIf="help_text.length > 0">
                            {{ help_text }}
                        </div>                
                    </td>
                </tr>                               
            </table>

            <div class='sb-button sb-button-mini' (click)="sendRequest()">Send Request</div>

            <div class='sb-button sb-button-mini' (click)="cancel()">Cancel</div>
        </form>

    </div>

</div>