.spotbie-items-comments-title{
    position: relative;
    margin: 0 auto;
    text-align: left;
    font-size: 24px;
    color: white;
}
.spotbie-textarea::placeholder{
    color: grey;
}
.spotbie-textarea{
    border: 1px solid white;
    color: white;
    text-align: left;
    width: 96%;
    min-width: 96%;
    max-width: 96%;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    height: 70px;
    min-height: 70px;
    resize: vertical;
}
.spotbie-button{
    font-size: 18px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.65)
}
.spotbie-comment-separator{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 1px;
    height: 1px;
}
.spotbie-no-comments{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.spotbie-comment{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}
.spotbie-comment-user-default{
    position: relative;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 99%;  
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;      
}
.spotbie-comment-table td{
    vertical-align: top;
}
.spotbie-comment-username{
    position: relative;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}
.spotbie-comment-description{
    position: relative;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.spotbie-comment-date{
    position: relative;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
}
.spotbie-load-more-button{
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,.23);
}
.spotbie-description-info{
    text-align: left;
}
.spotbie-trash-comment{
    position: relative;
    display: block;
    margin-top: 14px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.52);
    font-size: 15px;
    cursor: pointer;
}
.spotbie-comment-table{
    text-align: left;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 

}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 

}
@media (max-width: 560px) { 
     
}
@media (max-width: 460px) { 
    .spotbie-textarea{
        font-size: 14px;
        padding: 4%;
        width: 90%;
        min-width: 90%;
        max-width: 90%;   
        border: 1px solid #abaaaa96;     
    }
    .spotbie-button{
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        font-size: 15px;        
    }  
    .spotbie-description-info{
        margin-top: 20px;
        font-size: 15px;
    }
}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) { 
 
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}