
<div class="sb-top-headerImg"></div>

<h5 class="text-uppercase">CONNECTING PLACES TO EAT, SHOPPING, AND EVENTS TO CUSTOMERS.</h5>

<button class="spotbie-button sb-getStarted" (click)="signUp()">
    <span>GET STARTED</span>
</button>

<img class="sb-logo-withStreet mt-4 mb-4" src="assets/images/spotbie-miami-find-places-to-eat.png" />

<h4 class="text-uppercase">SPOTBIE COMMUNITY</h4>

<p>
    The SpotBie community unites users to places to eat, events, and retail shops. The SpotBie community rewards users to keep attending
    locales and venues that are part of it. Users redeem their SpotBie Loyalty Points at SpotBie community partner locations.
</p>

<div class="sb-homePageIconsTable mt-4 mb-4">
    <div>
        <img src="assets/images/home_imgs/find-places-to-eat.svg" />
        <h2>FOOD</h2>
    </div>
    <div>
        <img src="assets/images/home_imgs/find-events.svg" />
        <h2>EVENTS</h2>
    </div>        
    <div>
        <img src="assets/images/home_imgs/find-places-for-shopping.svg" />
        <h2>SHOPPING</h2>
    </div>                        
</div>

<img class="mb-4 sb-readImage cursor-pointer" style="margin-top: 0%;"
        src="assets/images/home_imgs/jpg/spotbie-find-restaurant-customers-near-you.jpg" 
        alt="Image of person enjoying some beer being served." />
        
<img class='sb-greenIcon' src='assets/images/home_imgs/spotbie-green-icon.svg' />            

<h4 class="text-uppercase">
    APPEAL TO HUNGRY CUSTOMERS
</h4>

<p class="mt-2 mb-2">

    <!--<img class='sb-whiteIconBg' src='assets/images/home_imgs/spotbie-white-icon.svg' />-->

    Do you own a <b>place to eat</b>? 
    Let SpotBie help you find the best <b>customers around you</b>. 
    SpotBie uses GPS technology to help you find <b>customers</b>. 
    We show users your <b>restaurant</b> by displaying it neatly in a map.
    Make sure you upload great rewards such as items from your menu or unbeatable discounts.
    Users are more likely to visit your store if they see great rewards and higher loyalty point ratings. 
    Mark your restaurant under a category to be easier to find. Compete with local SpotBie community members and
    bring in clients who are truly interested in your restaurant.

</p>      

<button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="signUp()">
    <span>GET STARTED</span>
</button>

<img class="mb-4 sb-readImage cursor-pointer" style="margin-top: 0%;"
        src="assets/images/home_imgs/jpg/spotbie-miami-events.jpg" 
        alt="Image of people attending an event and having a great time."/>  

<img class='sb-greenIcon' src='assets/images/home_imgs/spotbie-green-icon.svg' />

<h4 class="text-uppercase">
    FIND PEOPLE FOR YOUR EVENTS
</h4>

<p class="mt-2 mb-2">

    <!--<img class='sb-whiteIconBg' src='assets/images/home_imgs/spotbie-white-icon.svg' />-->

    Are you looking for <b>people to attend your event</b>? 
    Let SpotBie help you find local and bored people to attend your event. 
    SpotBie uses GPS technology to help you find bored users nearby who are looking to attend an event. 
    We display your event venue in our map and detail our users rewards and SpotBie loyalty points earnings for attending your event.          
    With the help of the SpotBie Community, you will get those attendees you are looking for.
    Make your event more tempting by offering high quality rewards.
    
</p>      

<button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="signUp()">
    <span>GET STARTED</span>
</button>

<img class="mb-4 sb-readImage cursor-pointer" 
        style="margin-top: 0%;"
        src="assets/images/home_imgs/jpg/spotbie-find-customers-near-you.jpg" 
        alt="Picture of two women shopping in a mall."/>

<img class='sb-greenIcon' src='assets/images/home_imgs/spotbie-green-icon.svg' />

<h4 class="text-uppercase">
    BRING MORE CUSTOMERS
</h4>

<p class="mt-2 mb-2">

    <!--<img class='sb-whiteIconBg' src='assets/images/home_imgs/spotbie-white-icon.svg' />-->

    Bring more clients to your store by offering satisfying discounts. SpotBie Community members love to shop
    and spend. SpotBie helps you attract new and old clientele by giving them an extra reason why to visit your store.
    When a SpotBie Community members opens the map, they will see your store if they are close by, and when they click on it,
    they will also be tempted by your fabulous loyalty point ratings and reward menu!

</p>      

<button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="signUp()">
    <span>GET STARTED</span>
</button>  

<img class="mb-4 sb-readImage cursor-pointer"
        style="margin-top: 0%;"
        src="assets/images/home_imgs/jpg/spotbie-miami-find-new-friends.jpg" 
        alt="Picture of group of friends in a circle playing cards at the beach." />