<div class='spotbie-stream-post'>
    
    <div class='spotbie-stream-post-wrapper'>

        <div class='spotbie-stream-post-wrapper'>

            <div class='spotbie-stream-post-default-picture'
            [routerLink]="['/user-profile/' + stream_post.stream_by.username ]"
            [ngStyle]="{'background' : 'url(' + stream_post.spotbie_user.default_picture  + ')' } "></div>

            <div class='spotbie-stream-post-by'>

                <span class='spotbie-username' [routerLink]="['/user-profile/' + stream_post.stream_by.username ]">{{ stream_post.stream_by.username }}</span>
                
                <span *ngIf="stream_post.repost"> reposted </span>

                <span class='spotbie-username' *ngIf="stream_post.repost"
                        [routerLink]="['/user-profile/' + stream_post._original_stream_username.exe_username ]">{{ stream_post._original_stream_username.exe_username }}'s</span>

                <span *ngIf="stream_post.repost"> post.</span>

            </div>
    
            <div class='spotbie-stream-post-extra-media-holder' 
                    *ngIf="stream_post.extra_media_obj !== undefined && stream_post.extra_media_obj.length > 0">
                
                <div class='spotbie-stream-post-extra-media-image _spotbie-exm-img-abs'
                    *ngIf="stream_post.extra_media_obj[0].type == 'image'"
                    [defaultImage]="loading_default"
                    [lazyLoad]="stream_post.extra_media_obj[0].content">
                </div>
                
                <div class='spotbie-stream-post-extra-media-image' 
                    *ngIf="stream_post.extra_media_obj[0].type == 'image'"
                    [defaultImage]="loading_default"
                    [lazyLoad]="stream_post.extra_media_obj[0].content">
                </div>

                <div class='spotbie-stream-post-extra-media-sound' *ngIf="stream_post.extra_media_obj[0].type == 'sound'"></div>

                <div class='spotbie-stream-post-extra-media-video' *ngIf="stream_post.extra_media_obj[0].type == 'video'">

                    <video controls *ngIf="stream_post.extra_media_obj[0].poster | albumMediaPath as extra_media_poster" 
                                    poster="{{ extra_media_poster }}">     

                        <source [src]="stream_post.extra_media_obj[0].content" type="video/mp4">
                            
                    </video>

                </div>

                <div class='spotbie-stream-post-extra-media-text' *ngIf="stream_post.extra_media_obj[0].type == 'text'">
                    {{ stream_post.extra_media_obj[0].content }}
                </div>

            </div>
            
            <div class='spotbie-extra-media-thumbnails-wrapper' *ngIf="stream_post.extra_media_obj !== undefined && stream_post.extra_media_obj.length > 1">

                <div class='spotbie-extra-media-thumbnail-holder' 
                    *ngFor="let extra_media of stream_post.extra_media_obj" 
                    (click)="switchToExtraMedia(stream_post, extra_media)">

                    <div class='spotbie-stream-post-extra-media-image-thumbnail' 
                        *ngIf="extra_media.type == 'image'"
                        [defaultImage]="loading_default"
                        [lazyLoad]="extra_media.content">
                    </div>

                    <div class='spotbie-stream-post-extra-media-image-thumbnail' 
                        *ngIf="extra_media.type == 'video' && extra_media.poster | albumMediaPath as video_poster"
                        [defaultImage]="loading_default"
                        [lazyLoad]="video_poster">    

                        <div class='spotbie-play-button'>
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div class='spotbie-stream-post-extra-media-sound' *ngIf="extra_media.type == 'sound'"></div>                   
    
                    <div class='spotbie-stream-post-extra-media-text' *ngIf="extra_media.type == 'text'"></div>

                </div>

            </div>
    
            <div class='spotbie-embed-tags' *ngIf='stream_post.video_embed'>
                
                <iframe class="spotbie-embed-video-inpost"
                        [src]="stream_post.video_embed_link.url_embed"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>                        
                </iframe>

            </div>
            
            <div class='spotbie-stream-post-description'>{{ stream_post.stream_content }}</div>

            <div class='spotbie-stream-post-date'>{{ stream_post.dated }}</div>
            
            <table class='spotbie-likes-table'>

                <tr> 

                    <td class='spotbie-likes-img-td'>

                        <i class="fa fa-heart-o" title="Add Like" (click)="insertLike(stream_post)"></i>
                        
                        <span class='spotbie-like-counter' 
                                attr.id="spotbieLikeStreamPost{{stream_post.stream_post_id}}" 
                                *ngIf="stream_post.likes_count != 0" 
                                (click)="openLikes(stream_post.stream_post_id)"
                                title="Likes"> {{ stream_post.likes_count }} </span>
                        
                        <span class='spotbie-like-counter' 
                                attr.id="spotbieLikeStreamPost{{stream_post.stream_post_id}}" 
                                *ngIf="stream_post.likes_count == 0"
                                title="Likes"> {{ stream_post.likes_count }} </span>

                    </td>

                    <td class='spotbie-likes-img-td' (click)="openComments(stream_post);" title="See Comments"> 

                        <i class="fa fa-commenting" aria-hidden="true"></i>

                        <span class='spotbie-like-counter'>{{ stream_post.comments_count }}</span>

                    </td>

                </tr>

            </table>            

            <div class='spotbie-stream-post-actions spotbie-edit' *ngIf="stream_post.stream_by.id == stream_by && input_flag == 'post'" (click)="editPost(stream_post)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>

            <div class='spotbie-stream-post-actions' (click)="showActions(stream_post)" *ngIf="input_flag == 'post'">
                <i class="fa fa-ellipsis-h" *ngIf="stream_post.stream_actions === undefined || stream_post.stream_actions === false" aria-hidden="true"></i>
                <i class="fa fa-times" *ngIf="stream_post.stream_actions === true" aria-hidden="true"></i>
            </div>

            <div class='spotbie-comments-wrapper'>

                <div class='spotbie-single-line-comment-wrapper' *ngIf="!stream_post.open_comments" (click)="openComments(stream_post);">
                    
                    <div class='spotbie-single-line-comment' *ngFor="let first_comments of stream_post.stream_post_first_comments">
                        <b>{{ first_comments.comment_by.exe_username}}</b> {{ first_comments.comment }}
                    </div>

                    <div class='spotbie-comments-read-more'>
                        Read More
                    </div>

                </div>

                <app-comments [current_subject]="stream_post" [comments_config]="comments_config" *ngIf="stream_post.open_comments"></app-comments>
                
            </div>  

            <div class='spotbie-options-bubble-wrap animated fadeIn' *ngIf="stream_post.stream_actions">

                <table class='spotbie-stream-post-actions-table'>
                    <tr>
                        <td (click)="repostStream(stream_post)">repost</td> 
                    </tr>                
                    <tr>
                        <td (click)="sharePost(stream_post)">share post</td> 
                    </tr>
                    <tr>
                        <td (click)="reportPost(stream_post)">flag</td> 
                    </tr>
                    <tr *ngIf="stream_post.stream_by.id == stream_by">
                        <td (click)="deletePost(stream_post)">delete</td> 
                    </tr>                                 
                </table>

            </div>

        </div>

    </div>  

</div>

<div class='spotbie-streamer-likes-list' *ngIf="likes_list_loaded">

    <div class='spotbie-likes-list-wrapper' [ngStyle]="{ 'background-color' : bg_color }">

        <div class='spotbie-stream-post-likes-title'>Stream Post Likes</div>

        <div class='spotbie-stream-post-likes-holder'>

            <div class='spotbie-stream-post-like-holder'             
                *ngFor="let stream_post_like of stream_post_like_list">

                <table class='spotbie-likes-all-table'>
                    <tr [routerLink]="['/user-profile/' + stream_post_like.user_info.exe_username]">
                        <td class='spotbie-likes-profile-picture'                            
                            *ngIf="stream_post_like.user_info.exe_user_default_picture | defaultImage as userBackgroundImage" 
                            [ngStyle]="{'background' : 'url(' + userBackgroundImage  + ')' } ">

                        </td>
                        <td class='spotbie-likes-profile-username'>
                            {{ stream_post_like.user_info.exe_username }}
                        </td>                
                    </tr>                
                </table>

            </div>

            <div class='spotbie-see-more' *ngIf="stream_post_likes_next" (click)="openLikes()">
                Load More
            </div>
            
        </div>

    </div>

    <div class="spotbie-close-button" (click)="closeLikesList()">close</div>

</div>

<app-stream-post-editor *ngIf="post_editor_window.open" [stream_post]="current_stream_post"
                                                        (streamPosted)="updateStreamPosted($event)"
                                                        [window_object]="post_editor_window"
                                                        (closeWindow)="closeWindow($event)"></app-stream-post-editor>

<app-delete-post *ngIf="post_delete_window.open" (closeWindow)="closeWindow($event)" 
                                                (streamPostDeleted)="onStreamPostDeleted($event)" 
                                                [stream_post]="current_stream_post"
                                                [window_object]="post_delete_window"></app-delete-post>

<app-reposter *ngIf="post_reposter_window.open" [stream_post]="current_stream_post"
                                                [window_object]="post_reposter_window"
                                                (closeWindow)="closeWindow($event)"></app-reposter>

<app-post-share *ngIf="share_post_window.open" [stream_post]="current_stream_post"
                                                [window_object]="share_post_window"
                                                (closeWindow)="closeWindow($event)"></app-post-share>

<app-post-report *ngIf="post_report_window.open" [stream_post]="current_stream_post"
                                                (closeWindow)="closeWindow($event)"
                                                [window_object]="post_report_window"></app-post-report>
