.sb-top-headerImg{
    background: url('../../../../assets/images/home_imgs/spotbie-miami.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;    
}