
<div class="sb-top-headerImg"></div>

<h5 class="text-uppercase">LOYALTY POINTS AT NEARBY<br/>PLACES TO EAT, RETAILS, AND EVENTS</h5>

<div class="spotbie-button sb-getStarted" (click)="spawnCategories('food')">
    <span>GET STARTED</span>
</div>

<img class="sb-logo-withStreet mt-4 mb-4" src="assets/images/spotbie-miami-find-places-to-eat.png" />

<h4 class="text-uppercase">SPOTBIE COMMUNITY</h4>

<p class="text-center">    

    <br/>
    <a class="spotbie-text-link text-uppercase" [routerLink]="['/earn-loyalty-points']">Earn Loyalty Points</a>
    <br/><br/>
    
    <span class="spotbie-text-gradient"><i class='fa fa-map-marker-alt'></i> from nearby</span>
    
    <br/><br/>
    <a class="spotbie-text-link text-uppercase" [routerLink]="['/business']">SpotBie Community Members</a> 
    
    <br/><br/>
    <span class="spotbie-text-gradient">Food, Shopping, Events</span>
    <br/><br/>

    Exclusive discounts, drinks & food, event merchandise, and more.
    
    <br/><br/><br/>

</p>

<div class="sb-homePageIconsTable mt-4 mb-4">
    <div (click)="spawnCategories('food')">
        <img src="assets/images/home_imgs/find-places-to-eat.svg" /><br/>
        <span class='spotbie-text-gradient'>FOOD</span>
    </div>
    <div (click)="spawnCategories('events')">
        <img src="assets/images/home_imgs/find-events.svg" /><br/>
        <span class='spotbie-text-gradient'>EVENTS</span>
    </div>        
    <div (click)="spawnCategories('shopping')">
        <img src="assets/images/home_imgs/find-places-for-shopping.svg" /><br/>
        <span class='spotbie-text-gradient'>RETAIL</span>
    </div>                        
</div>
        
<div class="mb-4 sb-readImage cursor-pointer" [ngStyle]="{ 'background' : 'url(assets/images/home_imgs/jpg/spotbie-miami-places-to-eat.jpg)' }" (click)="spawnCategories('food')"></div>

<img class='sb-greenIcon' src='assets/images/home_imgs/spotbie-green-icon.svg' (click)="spawnCategories('food')" />            

<h4 class="text-uppercase" (click)="spawnCategories('food')">
    PLACES TO EAT
</h4>

<img class='sb-whiteIconBg left' src='assets/images/qr/spotbie-white-icon.png' />

<p class="mt-2 mb-2">        
    Are you looking for <b>places to eat</b>? 
    Let SpotBie help you find the best <b>places to eat around you</b>. 
    SpotBie uses GPS technology to help you find <b>places to eat near you</b>. 
    We show you <b>restaurants around you</b> from YELP and display them neatly in a map 
    sorted by the best reviews, prices, distances from you, delivery, reservations, or eat in. 
    With SpotBie, you get to look for <b>restaurants around you</b> by choosing the category you are 
    feeling hungry for that day.        
</p>   

<button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="spawnCategories('food')">
    <span>GET STARTED</span>
</button>

<div class="mb-4 sb-readImage cursor-pointer" [ngStyle]="{ 'background' : 'url(assets/images/home_imgs/jpg/spotbie-miami-shopping.jpg' }" (click)="spawnCategories('shopping')"></div>

<img class='sb-greenIcon' src='assets/images/home_imgs/spotbie-green-icon.svg' (click)="spawnCategories('shopping')" />

<h4 class="text-uppercase" (click)="spawnCategories('shopping')">
    SHOPPING
</h4>

<p class="mt-2 mb-2">

    <img class='sb-whiteIconBg right' src='assets/images/qr/spotbie-white-icon.png' />

    Let SpotBie help you find the best places to shop with our <b>shopping around you feature</b>. 
    SpotBie's <b>shopping around you feature</b> uses GPS technology to help you find the best places to shop near you. 
    SpotBie shows shops around you from YELP and display them neatly in a map sorted by the best reviews, ratings, prices, and distances from you. 
    With SpotBie, you get to look for shops around you by choosing the category you are looking for. 
    The <b>shopping around you feature</b> also makes it easier to share places to eat with other people through social media or using your devices native sharing functions (text messages, etc.)

</p>      

<button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="spawnCategories('shopping')">
    <span>GET STARTED</span>
</button>  

<div class="mb-4 sb-readImage cursor-pointer" [ngStyle]="{ 'background' : 'url(assets/images/home_imgs/jpg/spotbie-miami-events.jpg)' }" (click)="spawnCategories('events')"></div>

<img class='sb-greenIcon' src='assets/images/home_imgs/spotbie-green-icon.svg' (click)="spawnCategories('events')" />

<h4 class="text-uppercase" (click)="spawnCategories('events')">
    EVENTS NEAR YOU
</h4>

<p class="mt-2 mb-2">

    <img class='sb-whiteIconBg' src='assets/images/qr/spotbie-white-icon.png' *ngIf="!isMobile" />

    Are you looking for <b>events around you</b>? 
    Let SpotBie help you find the best events around you. 
    SpotBie uses GPS technology to help you find events near you. 
    We show you <b>events around you</b> from TicketMaster and display them neatly in a map sorted by prices and distances from you. 
    With SpotBie, you get to look for <b>events around you</b> by choosing the category you feel like vibing to today, tonight, or this week. 
    SpotBie also makes it easier to share events near you with other people through social media or using your devices native sharing functions (text messages, etc.)
    
</p>      

<button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="spawnCategories('events')">
    <span>GET STARTED</span>
</button>

<div class="mb-4 sb-readImage cursor-pointer" [ngStyle]="{ 'background' : 'url(assets/images/home_imgs/jpg/spotbie-miami-find-new-friends.jpg)' }"></div>

<div class="sb-footer pt-5 pb-5">

    <p [routerLink]="['/terms']">Terms & Privacy Policy</p>
    <img class="mt-3 mb-3" src="assets/images/home_imgs/logo_spotbie-02.svg" />
    <p [routerLink]="['/terms']">SpotBie, LLC.&copy; Copyright 2021</p>

</div>