<div class="spotbie-overlay-window" [ngStyle]="{'background-color' : bg_color}">

    <div class='spotbie-album-media-image-wrapper'
        *ngIf="current_album.cover | albumMediaPath as media_path"
        [ngStyle]="{'background' : 'url(' + media_path + ')' } ">

        <div class='spotbie-album-media-image-blur'></div> 

    </div>

    <div class='spotbie-media-caption'>{{ album_title }}</div>

    <div class='spotbie-media-description'>
        {{ album_description }}
    </div>

    <div class='spotbie-exif-optional'></div>
    <div class='spotbie-ai-items-in-image'></div>

    <div class='spotbie-share-buttons-wrappper'>

        <button mat-fab class="spotbie-share-button" shareButton="facebook" 
                [style.backgroundColor]="share.prop.facebook.color" 
                [url]="album_link"
                [title]="album_title"
                [description]="album_description">     
            <ngx-fa name="facebook" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color"
                [url]="album_link"
                [title]="album_title"
                [description]="album_description">    
            <ngx-fa name="twitter" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color"
                [url]="album_link"
                [title]="album_title"
                [description]="album_description">     
            <ngx-fa name="linkedin" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="reddit" [style.backgroundColor]="share.prop.reddit.color"
                [url]="album_link"
                [title]="album_title"
                [description]="album_description">   
            <ngx-fa name="reddit" style="color:white;"></ngx-fa>
        </button> 

        <button mat-fab class="spotbie-share-button" shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color"
                [url]="album_link"
                [title]="album_title"
                [description]="album_description">     
            <ngx-fa name="pinterest" style="color:white;"></ngx-fa>
        </button>

    </div>

    <div class='spotbie-copy-link-button' (click)="linkCopy(spotbie_share_link)">tap to copy link</div>

    <div class='spotbie-share-post-link' (click)="linkCopy(spotbie_share_link)">
        <input class='sb-input' type='text' [attr.value]="album_link" readonly #spotbie_share_link/>
    </div>

    <div class="sb-closeButton" (click)="closeWindow()"><i class="fa fa-times"></i></div>

    <div class='spotbie-toast-message animated fadeIn' *ngIf="successful_url_copy">Album link copied.</div>

</div>