.spotbie-likes-table{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    min-width: 216px;
    text-align: center;
    table-layout: fixed;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 35px;
    padding-right: 23px;
    border-radius: 10px;
}
.spotbie-likes-table td{
    vertical-align: top;
}
.spotbie-likes-table tr{
    cursor: pointer;
}
.spotbie-likes-img{
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    margin-right: 10px;
    margin-left: 20px;
    float: right;
}
.spotbie-likes-img-td{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}
.spotbie-like-counter{
    float: right;
}
.spotbie-report-stream-post-flag{
    max-width: 10px;
    width: 15px;
    min-width: 15px;
}
.spotbie-streamer-likes-list{
    position: fixed;
    left: 0;
    top: 0%;
    bottom: 0%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 99;
}
.spotbie-stream-post-likes-holder{
   position: relative;
   margin: 0 auto;
   width: 450px; 
   min-width: 450px;
   max-width: 450px;
}

.spotbie-likes-all-table{
    position: relative;
    margin: 0 auto;
    width: 450px;
    min-width: 450px;
    max-width: 450px;
    text-align: center;
    background-color: #272727;
    border-radius: 10px;
}
.spotbie-likes-all-table td{
    background-color: rgba(0,0,0,.23);
}
.spotbie-likes-profile-picture{
    position: relative;
    width: 20%;
    min-width: 20%;
    max-width: 20%;       
    height: 90px;
    min-height: 90px;
    max-height: 90px;   
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;    
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; 
}
.spotbie-likes-profile-username{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    padding-left: 10px;  
}
.spotbie-stream-post-likes-title{
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 450px; 
    min-width: 450px;
    max-width: 450px; 
    text-align: center;      
}
.spotbie-stream-post-like-holder{
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.spotbie-likes-list-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    min-width: 450px;
    max-width: 450px;
    max-height: 75%;
    overflow-y: scroll;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}