<div class='spotbie-chat-box' [ngStyle]="chatStyles()">

    <div class="spotbie-chat-options" #spotbie_chat_options *ngIf="sh_spotbie_chat_options">
        <div (click)="deleteChat()">delete</div>
        <div (click)="reportChat()">report</div>
    </div>

    <div class='spotbie-control-chat' (click)="closeChat()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <div class='spotbie-control-chat _expand_chat' (click)="expandWindow()">
        <i class="fa fa-expand"></i>
    </div>

    <div class='spotbie-chat-title'>
        {{ chat_title }}
    </div>

    <div class='spotbie-chat-body'>

        <div class='spotbie-message' *ngFor='let chat_message of chat_message_list'>

            <div class="spotbie-message-body">
                {{ chat_message.txt }}
            </div>

            <div class="spotbie-message-date">
                {{ chat_message.date }}
            </div>

            <div class="spotbie-message-options" attr.id="spotbieMsgOptions{{chat_message.stream_post_id}}">
                <div (click)="deleteMsg(chat_message)">delete</div>
                <div (click)="reportMsg(chat_message)">report</div>
            </div>      

        </div>

    </div>

    <textarea class='spotbie-chat-textarea' placeholder="Enter your message..."></textarea>

</div>
