.spotbie-chat-box{
    position: relative;
    float: right;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    box-shadow: 3px 1px 13px 4px rgba(0,0,0,.23);
}
.spotbie-chat-title{
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: rgba(0,0,0,.23);
    min-height: 25px;
    height: 25px;
    max-height: 25px;
    font-size: 15px;
    text-align: left;
    padding-left: 8px;
}
.spotbie-control-chat{
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: rgba(238, 61, 61, .64);
    color: white;
    cursor: pointer;
    border-radius: 999px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 6px;
    z-index: 2;
    font-size: 15px;
}
.spotbie-control-chat:hover{
    background-color: red;
    color: white;
}

._expand_chat{
    position: absolute;
    right: 40px;
    background-color: rgba(162, 238, 61, .64);
}
._expand_chat:hover{
    background-color: rgba(162, 238, 61, .84);
}

.spotbie-chat-iframe{
    display: none;
    position: relative;
    height: 100%;
    width: 99%;
    z-index: 1;
}
.spotbie-chat-textarea::placeholder{
    color: grey;
}
.spotbie-chat-textarea{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5px;
    width: 92%;
    min-width: 92%;
    max-width: 92%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 10px;
    resize: vertical;
    padding: 10px;
    padding-bottom: 40px;
}