<div class="spotbie-notifications" (click)="openNotis()" title="Notifications">

    <i class="fa fa-bell" aria-hidden="true"></i>

    <div class='spotbie-notifications-bubble' #spot_notifications_bubble> {{ notifications }} </div>

</div>
        
<div class="spotbie-overlay-window" *ngIf="notifications_open" [ngStyle]="{'background-color' : bgColor }">

    <div class='spotbie-notifications-app' [ngStyle]="{'background-color' : bgColor }">

        <table class='spotbie-notifications-header-table'>
            <tr>             
                <td (click)="switchNotis(0)" [ngStyle]="notiTabStyles(0)">
                    Friends
                </td>
                <td (click)="switchNotis(1)" [ngStyle]="notiTabStyles(1)">
                    Messages
                </td>
                <td (click)="switchNotis(2)" [ngStyle]="notiTabStyles(2)">
                    Stream
                </td>
                <td (click)="switchNotis(3)" [ngStyle]="notiTabStyles(3)">
                    Tags
                </td>
                <td (click)="switchNotis(4)" [ngStyle]="notiTabStyles(4)">
                    All
                </td>                   
            </tr>
        </table>

        <app-friend-notifications *ngIf="friends_nots"></app-friend-notifications>
        <app-msg-notifications *ngIf="msgs_nots"></app-msg-notifications>
        <app-stream-notifications *ngIf="stream_nots"></app-stream-notifications>
        <app-tag-notifications *ngIf="tag_nots"></app-tag-notifications>
        <app-all-notifications *ngIf="all_notis"></app-all-notifications>

    </div>
    
    <div class="sb-closeButton" (click)="closeWindow()">close</div>

</div>