.spotbie-notifications{
    position: fixed;    
    right: 20px;
    bottom: 20px;
    transition: 0.5s;
    background-color: rgba(0,0,0,.53);
    padding: 13px;
    padding-bottom: 10px;
    border-radius: 99%;
    transition: 0.5s;
    z-index: 99;
}
.spotbie-notifications:hover{
    cursor: pointer;
    background-color: #a3190f;
}
.spotbie-notifications i{
    font-size: 22px;
}
.spotbie-notifications div{
    position: absolute;
    display: none;
    top: 14px;
    left: -28px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    background-color: red;
    border: 2px solid red;
    border-radius: 99%;
}
.spotbie-notifications-app{
    position: relative;
    margin: 0 auto;
    max-width:  800px;
    min-width: 800px;
    width: 800px;
}
.spotbie-notifications-header-table{
    position: fixed;
    top: 0;
    width: 810px;
    max-width: 810px;
    min-width: 810px;
    table-layout: fixed;
    text-align: center;
    border-spacing: 5px;
    z-index: 99;
    background-color: inherit !important;
}
.spotbie-notifications-header-table td{
    width: 25%;
    max-width:  25%;
    min-width: 25%;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,.23);
    border-radius: 10px;
}

/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 
    .spotbie-notifications-app,
    .spotbie-notifications-header-table{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 

}
@media (max-width: 560px) { 
     
}
@media (max-width: 460px) { 
    .spotbie-notifications img {
        width: 20px;
        min-width: 20px;
        max-width: 20px;
        height: 20px;
        min-height: 20px;
        max-height: 20px;
    }              
}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) { 
 
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}