<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-stream-wrapper'>
    
    <table class='spotbie-streamer-menu' *ngIf="isLoggedIn && !public_profile">

        <tr>

            <td #spotbieFriendsStream (click)="openStream(0)" *ngIf="!public_profile" title="Friend's Stream">                
                <span class='spotbie-streamer-st-label'>Friends' Stream</span>
                <img class='spotbie-streamer-life spotbie-friend-st-img-label' [lazyLoad]="spotbie_friends_stream_image"/>
            </td>    

            <td #spotbieMyStream (click)="openStream(1)" *ngIf="!public_profile" title="My Stream">
                <span class='spotbie-streamer-st-label'>My Stream</span>
                <img class='spotbie-streamer-life spotbie-friend-st-img-label' [lazyLoad]="spotbie_my_stream_img"/>
            </td>

            <td #spotbieMyStream (click)="openStream(1)" *ngIf="public_profile" title="{{ public_username }}'s Stream">                
                <span class='spotbie-streamer-st-label'>{{ public_username }}'s Stream</span>
                <img class='spotbie-streamer-life spotbie-friend-st-img-label' [lazyLoad]="spotbie_my_stream_img"/>
            </td> 

            <td #spotbieLifeStream (click)="lifeStream()" title="Life Stream">
                <img class='spotbie-streamer-life' [lazyLoad]="spotbie_life_stream_image"/>
            </td>

            <td #spotbieMediaStream (click)="getMedia()" title="Media Stream">
                <img class='spotbie-streamer-life' [lazyLoad]="spotbie_extra_media_image"/>
            </td>

        </tr>
        
    </table>
    
    <div class='spotbie-stream-holder'>
    
        <app-stream-poster *ngIf="isLoggedIn && !public_profile" 
            (streamPosted)="updateStreamPosted()" 
            [input_flag]="stream_poster_input_flag"></app-stream-poster>
        
        <div class='spotbie-stream-posts-anchor' #spotbie_stream_posts_anchor></div>

        <app-stream-post *ngFor="let stream_post of stream_posts" 
            (streamPostDeleted)="onStreamPostDeleted($event)"
            [stream_post]="stream_post" 
            [input_flag]="'post'"></app-stream-post>
        
        <div class='spotbie-no-posts' *ngIf="life_stream_coming_soon">
            {{ coming_soon_text }}
        </div>

        <div class='spotbie-no-posts' *ngIf="private_stream">
            {{ no_posts_text_3 }}
            <br/>
            {{ no_posts_text_4 }}
        </div>

        <div class='spotbie-no-posts' *ngIf="stream_posts.length == 0 && !private_stream && !life_stream_coming_soon">
            {{ no_posts_text_1 }}
            <br/>
            {{ no_posts_text_2 }}
        </div>
        
        <div class='spotbie-no-posts' *ngIf="!stream_next">
            You've reached the end.
        </div>

        <div class='spotbie-no-posts' *ngIf="pre_loading">
            Loading...
        </div>        

    </div>

</div>

<app-view-stream-post *ngIf="view_post_window.open" 
                [window_object]="view_post_window"
                [stream_post]="current_stream_post"                
                (closeWindow)="closeWindow($event)"></app-view-stream-post>