
<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-notifications-box-holder'>

    <div class='spotbie-notifications-box' 
        *ngFor="let notification of msgs_list"
        [ngStyle]="notificationStyle(notification)"
        (click)="openNotification(notification)">        

        <div class='spotbie-notification-user-image'
            *ngIf="notification.user_info.exe_user_default_picture | defaultImage as exe_user_default"
            [ngStyle]="{'background' : 'url(' + exe_user_default + ')'}"></div>

        <div class='spotbie-notification-text'>{{ notification.text }}</div>

        <div class='spotbie-notification-time'>{{ notification.made_on }}</div>

        <table class='spotbie-friend-actions-table' attr.id="spotbieMsgNotification{{notification.relation_id}}">
            <tr>
                <td (click)="deleteNotification(notification)">Delete Notification</td>
                <td (click)="viewProfile(notification)">View Profile</td>
                <td (click)="muteNotifications(notification)">Mute Notifications</td>
            </tr>
        </table>

    </div>

    <div class='spotbie-load-more-button spotbie-button' *ngIf="load_more_notifications" (click)="loadMoreNotifications()">Load More</div>

    <div class='spotbie-no-notis-box' *ngIf="msgs_list.length == 0">
        <div>
            You have no new messages!
        </div>
    </div>

</div>