<div class='spotbie-privacy-terms' style='text-align: left;'>

  <h3 [routerLink]="'/home'">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Spotbie
  </h3>

  <br/>
  <b>Terms, Privacy, & Conditions.</b>
  <br/>
  Throughout the SpotBie.com internet domain, you will run into various terms which are to be defined in the terms section below. All content found in the SpotBie.com internet domain opertates under SpotBie LLC. SpotBie LLC is a company owned by Franco Nicolas Petitfour, all problems to be addressed regarding this Internet Domain should be emailed to maindedeux@gmail.com
  <br/><br/>

  <h2>I.Terms</h2>
  
  <b>0. SpotBie App</b> : Strictly refers to the structured data, Graphical User Interface, Databases, and Computer Programming techniques/strategies used to build the fully functional website/web app you will find on the SpotBie.com domain.
  <br/><br/><b>1. Spot</b> : The action of finding SpotBie User location/s on the SpotBie Map through our SpotBie App function which allows you to visit the SpotBie User's SpotBie Profile.<br/>
  <br/><b>2. SpotBie Profile or Profile</b> : When a user signs-up to SpotBie, a profile is created for them which displays all the information they have posted.
  <br/><br/><b>3. Profile Bio</b> : A section in every SpotBie's profile which allows the owner of a profile to set a welcoming text to profile visitors.
  <br/><br/><b>4. Profile Visitor</b> : A SpotBie User who is looking at a profile which does not belong to them.
  <br/><br/><b>5. SpotBie User</b> : Any person or individual who is connected through the internet to the SpotBie.com domain.
  <br/><br/><b>6. Profile/Default Icon</b> : The first image found on every SpotBie Profile.
  <br/><br/><b>7. HTML, PHP, MySQL, CSS, JavaScript</b> : The computer languages or "code" used to build the structure of data and graphical user interfaces found throughout the SpotBie.tech domain.
  <br/><br/><b>8. Username</b> : HTML input field found in settings and sign-up sections of the SpotBie App. This input field is used to identify each Logged-In SpotBie User uniquely.
  <br/><br/><b>9. Logged-In</b> : Optional Prefix to term SpotBie User used to indicate a SpotBie User who has logged in with an existing SpotBie Username and Password thereby creating a unique session with our server.
  <br/><br/><b>10. Ghost Mode</b> : Refers to the optional preference of disabling your Profile to be accessed through the SpotBie Map or SpotBie Search Engine.
  <br/><br/><b>11. SpotBie Map</b> : When a SpotBie User accesses the SpotBie App, a SpotBie User will be able to Spot other SpotBie Users through the SpotBie Map provided by Google,Inc's API service.
  <br/><br/><b>12. Privacy Mode</b> : Allows Logged-In SpotBie Users to hide their Stream from other SpotBie Users who have not been Befriended.
  <br/><br/><b>13. Relationship Request</b> : When a SpotBie User answers Profile Questions which belong to another SpotBie User Correctly, the former sends a relationship request to the latter. If the latter does not require Friendship Questions, then the relationship request from the former is sent without a prerequisite of answering Friendship Questions.
  <br/><br/><b>14. Relationship</b> : <br/> a.When a SpotBie User Accepts a Relationship Request after another SpotBie User initiated it.<br/>b.When a SpotBie User Blocks another SpotBie User.<br/>c.When a SpotBie User Declines a Relationship Request from another SpotBie user.
  <br/><br/><b>15. Block</b> : When a SpotBie User Blocks another SpotBie User, the latter Logged-In SpotBie User is prohibited to view the former's SpotBie Profile.
  <br/><br/><b>16. Report User</b> : By visiting the Report User section of the SpotBie App, Logged-In SpotBie Users are able to send a report to system administrators. It usually takes time for a system administrator to read the report and make a decision.
  <br/><br/><b>17. Video/Audio Chat</b> : Video/Audio Chat refers to the action of initiating and taking part in a Video/Audio Call by pressing the green phone button on the bottom right screen of every chat, or accepting a video call with the green phone button if some one is calling you. Video/Audio Chats are not kept in our servers, therefore they are not logged and kept for future reference. If you engage in a Video/Audio Chat with another SpotBie User, you are entering an environment which is not monitored and cannot be reported to SpotBie authorities unless you are recording the Video Chat with a third party software/app.
  <br/><br/><b>18. Chat</b> : To Chat with another SpotBie User means to exchange audio, video, text, or images with them by pressing the message button on their SpotBie Profile. These Chats are logged and kept in our servers so they can be reported and looked at for abuse and invetigation. Typing sensitive information in Chat can get you in trouble if you are ever part of a Criminal Investigation as SpotBie will willingly cooperate with any criminal Investigation. 
  <br/><br/><b>19. Mature Content : </b> Mature Content refers to nude content, explicit jokes, explicit words, or violence directed towards any other human, animal, or group of the former. Such content is not tolerated in the SpotBie App and will get your account permanently banned. Violence (racist conten, gunshot wounds, stab wounds, knife fights, etc.) will also not be tolerated in the SpotBie App (Not even if marked as Mature Content). Weapons are allowed as long as they are not being used against another person or animal to inflict physical or psychological damage. Knives are also allowed as long as they are not harming animals or human beings. 
  Such Mature Content is not allowed to be posted in the SpotBie App.             
  
  <h2>II.Condtions</h2>
  
  <p>When using SpotBie you must abide by all conditions listed below:</p>
  
  <b>0.</b> You must be aware that you must be over 18 years of age, or 18 years of age to use SpotBie.
  <br/><br/><b>1.</b> <i>All</i> SpotBie Users must abide to the conditions found in this section.
  <br/><br/><b>2. Relationship Abuse</b> : When a SpotBie User abuses functionality found under section I.14.d of Relationship Terms. Repeated declined Relationship Requests may result in a Block from receiving user. One SpotBie User may also report another SpotBie User who is constantly sending Relationship Requests after such Relationship Requests have been denied by receiving SpotBie User. 
  <br/><br/><b>3. Code Tampering</b> : Tampering with Session Cookies, Javascript Files, HTML Inputs(by injecting PHP/MySQL code), and attempting to exploit our servers/files/databases weaknesses is strictly prohibitted.
  <br/><br/><b>4. Nudity</b> : Uploading images with nude content to a stream will get you permanently banned from SpotBie.
  <br/><br/><b>5. Obscene Content : </b>Uploading Obscene content to our database be it through HTML Input or through hacking malicious code which pourpose is to exploit vulnerabiliies of our SpotBie App is prohibited all throught our SpotBie App.
  <br/><br/><b>6. Following Conditions : </b>By using SpotBie App, all SpotBie Users are agreeing to do as SpotBie, Inc. instructs under an investigation which may include their SpotBie Profile and SpotBie App Involvement be it through IP Address or any other SpotBie App User Identification Method : Such as but not limited to, SpotBie User ID, SpotBie User Full Name, SpotBie User IP, SpotBie User Username.
  <br/><br/><b>6. Breaking Conditions : </b>SpotBie Reserves the right to deal with groups and individuals breaking our Conditions guidelines as suited.
  <br/><br/><b>7. Copying Code : </b>The Web Programming Languages found throughout SpotBie are all part of the SpotBie, LLC. library which we have worked on for years. We have received help of various GitHub Authors which have granted licenses to use some of the code you will find throughout the SpotBie App. PHP, Javascript, HTML, CSS, MYSQL, TypeScript, Angular code snippets and Frameworks have been acquired from third party developers who have granted licenses for SpotBie, LLC. to utilize. If you are copying and pasting code from this domain, it is probable that you are copying code for which you do not have a liscense to use. Consequently, you are breaking terms & conditions in this page : it is not allowed to copy code from SpotBie App and use it for your own commercial or individual advantage or profit.
  <br/><br/><b>8. DMCA Agent : </b>For any copyright issues please contact us at maindedeux@gmail.com
  <br/><br/><b>9. Copyright : </b>SpotBie &copy; 2018 is copyrighted and the code which makes up SpotBie cannot be used without permission from SpotBie owners.
  <br/><br/><b>10. Stalking : </b>It is against SpotBie's will for anybody to use the SpotBie App to bother/stalk other users on the SpotBie App or people.
  <br/><br/><b>11. Report Users : </b>If a SpotBie user finds him/herself being smothered/bothered/stalked by another user, it is advise to use the report button found on each profile or contact the authorities if it gets too suspicious.
  <br/><br/><b>12. Anonymous Users : </b>Anonymous do have access to the map functions. Therefore not every user of SpotBie can be traced by an IP Address. We believe our Web Host Manager does a good job at leaving malicious users out of reach. If you do have a problem though, please report a user through the Report Bugs Page.
  <br/><br/><b>13. Location : </b>SpotBie App uses location technology to pinpoint your location on a World Map. While out of Ghost Mode, you will be sharing your device's location with all other SpotBie users and our database. Unless using forceful measures that violate our terms & privacy conditions, no SpotBie User should ever be able to see your exact GPS coordinates. The only time a SpotBie User is able to see your location is when they are physically around your location or when SpotBie is cooperating with a criminal investigation in which your account is thought to be involved by authorities.
  <br/><br/><b>14. Intellectual Property : </b>By using SpotBie App you are agreeing that all of the computer code (such as HTML5, CSS3, JavaScript, MySQL, and PHP, to mention some) in the way it is structured and utilized to achieve SpotBie App's full functionality is the Intellectual Property of Franco Nicolas Petitfour Ayala of 516 East 28th st hialeah Fl 33013 and so are al lthe responsibilities of governing the SpotBie app. 
  <br/><br/><b>15. Forgot to turn on Mature Content Disclaimers : </b>If you forget to turn on Mature Content Disclaimers on your Profile, you will be warned about the issue. You will not be granted immunity for damages(psychological, emotional, or physical) caused to a Profile Visitor who has seen your content.
  
  <h2>III.Privacy</h2>

  <b>1. SpotBie User Privacy : </b> All SpotBie Users' information is inaccessible to SpotBie Employees. If a SpotBie Employee is found collecting information for a reason which the SpotBie User has not been informed of and agreed with, the SpotBie Employee will be dealt with as suited.
  <br/><br/><b>2. Protecting SpotBie User Information : </b> SpotBie App uses encryption and available methods to protect your information.
  <br/><br/><b>3. Multiple Devices Logged-In : </b> SpotBie App allows only one Logged-In SpotBie User per device. If the Remember Me button is green at time of logging-in, the SpotBie User may only be logged-in to the device the SpotBie User is using.
  <br/><br/><b>4. SpotBie App Privacy : </b> Employees of SpotBie, Inc. do their best in order to protect your personal information. For this reason, if something is to go Wrong site-wide throughout the SpotBie App, all member accounts will be notified of the incident through our message system. Your information is always backed up.
  <br/><br/><b>5. SpotBie User Data & Information : </b> SpotBie User information is not for sale, and never will be used by anyother company other than Exentriks, Inc.(our mother company) in order to better user experience only. We will never use data to categorize you, discriminate you, or put you in a mailing list. Exentriks, Inc. will never sell your data to any company no matter what the price might be. The only company with direct access to your location besides Exentriks, Inc, is Google, Inc. through our agreement with their Maps API.
  <br/><br/><b>6. Breach of Data : </b> In case of your information being breached by hackers, we will update the last copy of your account. SpotBie does not store credit card information in our servers, nor other sensitive information except your location.
  <br/><br/><b>7. Crime Evidence: </b> If for any reason, we are faced with the compromise of your account holding information valuable to a criminal investigation, your account data will be surrendered to authorities with a warning to your account.
  <br/><br/><b>7. Phone Numbers: </b> SpotBie User's Phone Numbers are used for the following: password recovery & urgent alerts.
  <br/><br/><b>9. Your Data : </b> Your data is never tampered, updated, or examined by any of our employees or associates. Your last location is always on our databsae, regardless if your are in Ghost Mode, we always keep your location for your safety. We do not use your location for any other reason other than the ones listed below: <br/>
  
  <ul>
    <li>Sharing your location with other users on the live Map if you are not in Ghost Mode.</li>
    <li>If something ever goes wrong, we will know your last location and will provide the authorities with it.</li>
  </ul>

  <h3 [routerLink]="'/home'">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Spotbie
  </h3>

</div>

<div class="spotbie-scroll-top spotbie-arrow-transparent" 
        (click)="scrollTop()"
        #scrollArrow>
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</div>

<div class="spotbie-scroll-top spotbie-arrow-transparent spotbie-home-fixed" 
        [routerLink]="'/home'">
        <i class="fa fa-home" aria-hidden="true"></i>
</div>
