h2,h3,p, li{
    color: black;
}
h1,a{
    color: #4a8b00;
}
.termsWrapper{
    position: relative;
    margin: 0 auto;
    width: 94%;
    min-width: 94%;
    max-width: 94%;
    word-wrap: break-word;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   
   
}
@media (max-width: 1024px) { 

}
@media (max-width: 900px) { 

}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 
    h1{
        font-size: 28px;
    }
    h1{
        font-size: 23px;
    }    
    .termsWrapper{
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }
}
@media (max-width: 560px) { 
     
}
@media (max-width: 460px) { 

}
@media (max-width: 420px) { 
               
}
@media (max-width: 360px) { 
    
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}