<div class="spotbie-main-holder" id="spotbieMainHolder">
  <div class="spotbie-overlay-window" id="spotbieMainSpotBieScroll">
    <div [ngClass]="getMapPromptMobileClass()" #featureWrapper>
      <div [ngClass]="getMapPromptMobileInnerWrapperClassOne()">
        <table
          class="spotbie-el-100 spotbie-menu spotbie-menu-fixed"
          #spotbieMainMenu
        >
          <tr>
            <td style="width: 25%">
              <img
                class="spotbie-header-mini-logo"
                src="../../../assets/images/spotbie_logo_header.svg"
              />
            </td>

            <td style="text-align: right; cursor: default" (click)="goHome()">
              <span>HOME</span>
            </td>
          </tr>
        </table>

        <div class="menu-padding"></div>

        <div class="does-itWork">
          <h2 class="spotbie-text-gradient">EXPOSURE, ACQUISITION, & RETENTION</h2>
          <h2 class="sb-text-light-green-gradient">
            GROW YOUR BUSINESS
          </h2>

          <h2 class="sb-text-light-green-gradient mt-5">Our Vision</h2>
          <p>
            We started SpotBie to build a highly rich user experience for people
            who love high quality products and services. This is not only true
            for consumers, but also true for business owners. At SpotBie, we aim
            to provide businesses with an easy to use and efficient platform that
            gets them the results they are looking for.
          </p>

          <h2 class="sb-text-light-green-gradient mt-5">Features</h2>
          <ul>
            <li>Exclusivity</li>
            <li>Loyalty Points</li>
            <li>Local Exposure</li>
            <li>Upload Rewards</li>
            <li>Loyalty Tiers</li>
            <li>Banner Ads</li>
            <li>SMS & E-Mail Campaigns</li>
            <li>Private Customer Feedback</li>
            <li>Simple, transparent, cost efficient algorithm.</li>
          </ul>

          <ng-container *ngIf="!isMobile">
            <div class="d-flex align-middle justify-content-center">
              <button
                class="spotbie-button sb-getStarted sbBetaBtn mt-4 mb-5"
                (click)="calendly()"
              >
                SCHEDULE DEMO
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="isMobile">
            <div>
              <button
                class="spotbie-button sb-getStarted mt-5 mb-4"
                (click)="calendly()"
              >
                SCHEDULE DEMO
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="calendlyUp">
            <div class="spotbie-overlay-window" style="z-index: 99">
              <div class="sb-v-wrapper" style="display: grid; align-content: center">
                <!-- Calendly inline widget begin -->
                <div id="calendlyEl" class="calendly-inline-widget"></div>
                <!-- Calendly inline widget end -->

                <div
                  class="spotbie-text-gradient text-center text-uppercase mt-4"
                  style="cursor: pointer"
                  (click)="calendly()"
                >
                  CLOSE
                </div>
              </div>
            </div>
          </ng-container>

          <h2 class="sb-text-light-green-gradient mt-5">
            Grow your exposure, acquisition, and retention rates.
          </h2>
          <p>
            If you have a business and are looking to increase your revenue, then it's
            time to give SpotBie a try. SpotBie knows what's important to get a business booming.
            We will move exposure, acquisition, and retention rates in your business two weeks from device installation.
            By funneling ready to spend-users to your business location we'll bump up the three key factors
            which will push a business to become everything it was dreamt-up to be.
          </p>
          <h2 class="sb-text-light-green-gradient mt-5">
            Exposure...
          </h2>
          <p>
            The methods used to increase your businesses' <b>exposure rate</b> include using
            exclusivity to bump up the quality of each impression received through the SpotBie platform.
            Our algorithm provides savings, simplicity, and transparency. There won't be no magic tricks you have to perform
            in order to figure out how we are charging you here. Keep bumping up your exposure rates with exciting presentation
            methods that work and reach the right audience. The higher the quality of impressions, the higher your possibilities
            will be of converting your users.
          </p>
          <h2 class="sb-text-light-green-gradient mt-5">
            Acquisition...
          </h2>
          <p>
            You will need to attain <b>acquisition</b> to have a business that makes a significant impact. By offering incentives
            and targeting the right people with the right exposure, your business will bumping up its acquisition rate for
            good. As all humans, we desire gratitude. If we knew that we'd have the possibility of visiting restaurants where our opinion is
            highly valued, or visiting restaurants where they are less valued, then there we have our answer, we'd choose being valued
            everytime. SpotBie users know that their decisions are highly valued at SpotBie, and that's why they choose our SpotBie
            Community Member locations to spend their money.
          </p>
          <h2 class="sb-text-light-green-gradient mt-5">
            Retention...
          </h2>
          <p>
            SpotBie is a solution that will retain customers efficiently by using Loyalty Points, User Engagement, Private Feedback,
            and SMS & E-Mail notifications for your most recent guests. With SpotBie, you'll be seeing more sales more often. The SpotBie
            Loyalty Points program keeps users in your revenue stream by creating rewards and points that help your users get closer to that
            Ice Cream cone they'll be melting for continuously week after week. We create a spending loop that customers enjoy being a part of.
            Loyalty and Quality at the tap of a few buttons, isn't that something we'd all wish to have?
          </p>
          <br/>
          <p>
            SpotBie keeps users engaged through the platform by making our app their first option when they're ready to
            spend their money on something they want. This is because not only will users be spending their money on something they enjoy,
            but they'll also be getting an extended token of gratitude for doing so. With features like Feedback, SMS, and E-mail, your guests will keep
            coming back because they'll feel valued through your continuous incentives, reach, offers, updates, and improvements.
          </p>

          <ng-container *ngIf="!isMobile">
            <div class="d-flex align-middle justify-content-center">
              <button
                class="spotbie-button sb-getStarted sbBetaBtn mt-4 mb-5"
                (click)="calendly()"
              >
                SCHEDULE DEMO
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="isMobile">
            <div>
              <button
                class="spotbie-button sb-getStarted mt-5 mb-4"
                (click)="calendly()"
              >
                SCHEDULE DEMO
              </button>
            </div>
          </ng-container>

          <h2 class="sb-text-light-green-gradient mt-5">Questions?</h2>
          <p>
            Don't hesitate to call. Simply dial +1 (786) 600-5946 and we'll take
            your request!
          </p>
        </div>

        <!--        <div class='spotbie-overlay-window' style="z-index: 99;" *ngIf="false">
          <div class='sb-v-wrapper' style="display: grid; align-content: center;">

            &lt;!&ndash; Calendly inline widget begin &ndash;&gt;
            <div id="calendlyEl" class="calendly-inline-widget"></div>
            &lt;!&ndash; Calendly inline widget end &ndash;&gt;

            <div class='spotbie-text-gradient text-center text-uppercase mt-4'
                 style="cursor: pointer;" (click)="calendly()">CLOSE</div>
          </div>
        </div>-->

        <div class="mb-4 sb-readImage" id="sbReadImageUsers"></div>

        <div class="sb-footer text-uppercase pt-5 pb-5">
          <p [routerLink]="['/terms']">Terms & Privacy Policy</p>

          <img class="mt-3 mb-3" src="../../../assets/images/logo_spotbie_green.svg" />

          <p [routerLink]="['/terms']">SpotBie, LLC.&copy; Copyright 2024-25</p>

          <div class="mt-4">
            <i class="fab fa-instagram" (click)="openIg()"></i>
            <i class="fab fa-twitter" (click)="openTwitter()"></i>
            <i class="fab fa-youtube" (click)="openYoutube()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
