<div class='spotbie-overlay-window animated fadeIn' [ngStyle]="{ 'background-color' : bg_color }">

    <div #spotbie_post_repost_title class='spotbie-repost-title'>Repost post on your stream.</div>

    <app-stream-post [stream_post]="stream_post" [input_flag]="input_flag"></app-stream-post>  

    <div class='spotbie-toast-message animated fadeIn' *ngIf="repost_sent"> {{ repost_send_msg }}</div>
    
    <table class="spotbie-bottom-button-bar">
        <tr>
            <td class="spotbie-button spotbie-td-button" (click)="repostIt()">repost</td>
            <td class="spotbie-button spotbie-td-button" (click)="closeWindowX()">close</td>
        </tr>
    </table>

</div>