<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-overlay-window' [ngStyle]="{ 'background-color' : bg_color }">
    
    <div class='spotbie-info-text' #spotbieSettingsInfoText>
        Change your settings.
    </div>

    <div class='spotbie-block'>

        <form [formGroup]="settings_form">

            <table class='spotbie-settings-table'>
                
                <div *ngIf="submitted && f.spotbie_username.errors else username_normal" class="spotbie-invalid-feedback animated shake">
            
                    <div *ngIf="f.spotbie_username.errors.required">
                        You must enter a username!
                    </div>

                    <div *ngIf="f.spotbie_username.errors.maxlength || f.spotbie_username.errors.wrongLength">
                        Your username cannot be longer than 15 characters.
                    </div> 
                    
                    <div *ngIf="f.spotbie_username.errors.illegalChars">
                        Must only contain letters, numbers, and underscores.
                    </div> 
                    
                </div> 
                
                <ng-template #username_normal>
                    <div #spotbie_settings_issues class="spotbie-input-info">
                    Change your username?
                    </div>          
                </ng-template>

                <tr>
                    <td>
                        <input class="spotbie-input" (click)="$event.target.select()" formControlName="spotbie_username" type="text" value="username" maxlength="35" />
                    </td>
                </tr>

                <div *ngIf="submitted && f.spotbie_first_name.errors else user_first_name_normal" class="spotbie-invalid-feedback animated shake">
            
                    <div *ngIf="f.spotbie_first_name.errors.required">
                        Please identify yourself!
                    </div>
                    
                    <div *ngIf="f.spotbie_first_name.errors.maxlength">
                        Your name cannot be longer than 72 characters.
                    </div>  

                </div> 
                
                <ng-template #user_first_name_normal>
                    <label class="spotbie-input-info">
                    What is your first name?
                    </label>
                </ng-template>

                <tr>
                    <td>
                        <input class="spotbie-input" (click)="$event.target.select()" formControlName="spotbie_first_name" type="text" value="name" maxlength="72" />
                    </td>
                </tr> 
                
                <div *ngIf="submitted && f.spotbie_last_name.errors else user_last_name_normal" class="spotbie-invalid-feedback animated shake">
            
                    <div *ngIf="f.spotbie_last_name.errors.required">
                        Please identify yourself!
                    </div>
                    
                    <div *ngIf="f.spotbie_last_name.errors.maxlength">
                        Your name cannot be longer than 72 characters.
                    </div>  

                </div> 
                
                <ng-template #user_last_name_normal>
                    <label class="spotbie-input-info">
                    What is your last name?
                    </label>
                </ng-template>

                <tr>
                    <td>
                        <input class="spotbie-input" (click)="$event.target.select()" formControlName="spotbie_last_name" type="text" value="name" maxlength="72" />
                    </td>
                </tr> 

                <div *ngIf="submitted && f.spotbie_email.errors else user_email_normal" class="spotbie-invalid-feedback animated shake">
            
                    <div *ngIf="f.spotbie_email.errors.required">
                        Please enter your e-mail, it will be used if you lose your password.
                    </div>
            
                </div> 
                
                <ng-template #user_email_normal>
                    <div class="spotbie-input-info">
                    Used for password recovery.
                    </div>
                </ng-template>

                <tr>
                    <td>
                        <input class="spotbie-input" (click)="$event.target.select()" formControlName="spotbie_email" type="text" value="email" maxlength="135"/>
                    </td>
                </tr> 
                
                <div *ngIf="submitted && f.spotbie_phone_number.errors else phone_normal" class="signUpBoxInstructions animated shake">

                    <div *ngIf="f.spotbie_phone_number.errors.required">
                        Please enter your phone number.
                    </div>                                                

                </div>        

                <ng-template #phone_normal>

                    <div class="spotbie-input-info">
                        Phone number.
                    </div>

                </ng-template>

                <tr>
                    <td>                                  
                        <input class='spotbie-input' type='tel' mask="(000) 000-0000" 
                            autocomplete="tel" placeholder='(555) 555-5555' formControlName="spotbie_phone_number"/>
                    </td>
                </tr>

                <div *ngIf="submitted && f.spotbie_acc_type.errors else user_account_type_normal" class="spotbie-invalid-feedback animated shake">
            
                    <div *ngIf="f.spotbie_acc_type.errors.required">
                        You must choose an account type!
                    </div>
            
                </div> 
                
                <ng-template #user_account_type_normal>
                    <div class="spotbie-input-info">
                    Choose an account type.
                    </div>
                </ng-template>

                <tr>
                    <td>
                        <input (click)="changeAccType()" 
                                class="spotbie-input spotbie-clickable-field" 
                                formControlName="spotbie_acc_type" 
                                type="text"
                                readonly="readonly" />
                    </td>
                </tr> 
                
                <!-- Personal Accounts information -->
                <div *ngIf="submitted && f.spotbie_animal.errors else user_animal_normal" class="spotbie-invalid-feedback animated shake">
            
                    <div *ngIf="f.spotbie_animal.errors.required">
                        You must choose a favorite animal!
                    </div>
            
                </div> 
                
                <ng-template #user_animal_normal>
                    <div class="spotbie-input-info" *ngIf="account_type_category == 'Personal'">
                    What is your favorite animal?
                    </div>
                </ng-template>        

                <tr *ngIf="account_type_category == 'Personal'">
                    <td>
                        <input (click)="changeAnimal()" (click)="$event.target.select()" class="spotbie-input spotbie-clickable-field" formControlName="spotbie_animal" type="text" value="animal" />
                    </td>
                </tr>
                <!-- End Of Personal Accounts information -->

                <!-- Locale Accounts information 
                <div *ngIf="account_type_category == 'Business'">
                    <div *ngIf="submitted && f.spotbie_origin.errors else spotbie_origin_normal" class="spotbie-invalid-feedback animated shake">
            
                        <div *ngIf="f.spotbie_origin.errors.required">
                            You must choose a place of origin!
                        </div>
                
                    </div> 
                </div>
                
                <!--<ng-template #spotbie_origin_normal>
                    <div class="spotbie-input-info" *ngIf="account_type_category == 'Business'" >
                        Where is your {{ chosen_account_type }} located?
                    </div>
                </ng-template>-->

                <!--<tr *ngIf="account_type_category == 'Business'">
                    <td>
                        <div class='spotbie-map'>
                            <agm-map class="spotbie-map" 
                                [latitude]="lat" 
                                [longitude]="lng"
                                [zoom]="zoom">
                                <agm-marker [latitude]="lat" 
                                            [longitude]="lng"
                                            [markerDraggable]="true"                                     
                                            (dragEnd)="markerDragEnd($event)"
                                            *ngIf="locationFound">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </td>
                </tr>

                <div class="spotbie-input-info" *ngIf="account_type_category == 'Business'" >
                    Drag the marker or use the search bar.
                </div>

                <tr *ngIf="account_type_category == 'Business'">
                    <td>
                        <input class="spotbie-input spotbie-search-map-input"
                                (click)="$event.target.select()"
                                autocorrect="off" 
                                autocapitalize="off" 
                                spellcheck="off" 
                                type="text"
                                formControlName ="spotbie_place_address" 
                                maxlength="72"
                                #addressSearch />
                                
                                <div class='spotbie-search-map-button' (click)="searchMaps()">Search Address</div>

                        <input class="spotbie-input" type="hidden" formControlName ="spotbie_origin" />                

                        <div class='spotbie-place-picker'>
                            <div class='spotbie-place' *ngFor="let prediction of address_results"  (click)="focusPlace(prediction);">
                                {{ prediction.description }}
                            </div>
                        </div>

                    </td>
                </tr>
                
                <div *ngIf="submitted && f.spotbie_origin_description.errors else spotbie_origin_description_normal" class="spotbie-invalid-feedback animated shake">
            
                    <div *ngIf="f.spotbie_origin_description.errors.required">
                        You must enter a description!
                    </div>
            
                </div> 
                
                <ng-template #spotbie_origin_description_normal>
                    <div class="spotbie-input-info" *ngIf="account_type_category == 'Business'">
                        Enter a description for your {{ chosen_account_type }}.
                    </div>
                </ng-template>

                <tr *ngIf="account_type_category == 'Business'">
                    <td>
                        <textarea class='spotbie-textarea' (click)="$event.target.select()" formControlName ="spotbie_origin_description" maxlength="365"></textarea>
                    </td>
                </tr> --> 

                <!-- End of Business Account information -->

                <!-- Privacy and Ghost Mode Block : disable if account is not personal -->
                <tr *ngIf="account_type_category == 'Personal' || account_type_category == 'Content Creator'">
                    <td>
                        <table class="spotbie-toggle">

                            <tr>
                                <input type="hidden" formControlName="spotbie_ghost_mode" />

                                <td class="spotbie-toggle-info-text" id="spotbieGhostText" (click)="toggleGhostMode()">
                                    <img class="spotbie-settings-ghost-icon" src="../../assets/images/ghost.png">
                                    Ghost Mode <span>{{ghost_mode_state}}</span>
                                </td>
                                
                                <td class="spotbie-toggle-light" (click)="toggleGhostMode()" [ngStyle]="getLight(this.spotbie_ghost_mode)"></td>
                        
                                <td class="spotbie-toggle-help-switch" (click)="toggleHelp(this.ghost_mode_help)">?</td>
                    
                            </tr>
                        
                        </table>
                    </td>
                </tr>

                <tr *ngIf="account_type_category == 'Personal' || account_type_category == 'Content Creator'">
                    <td>
                        <table class="spotbie-toggle">

                            <tr>
                                <input type="hidden" formControlName="spotbie_privacy" />

                                <td class="spotbie-toggle-info-text" id="spotbiePrivacyText" (click)="togglePrivacy()">
                                    Privacy <span>{{privacy_state}}</span>
                                </td>
                        
                                <td class="spotbie-toggle-light" id="spotbiePrivacyLight" (click)="togglePrivacy()" [ngStyle]="getLight(this.spotbie_privacy)"></td>
                        
                                <td class="spotbie-toggle-help-switch" (click)="toggleHelp(this.privacy_help)">?</td>
                            </tr>
                        
                        </table>   
                    </td>
                </tr>
                <!-- End of Privacy and Ghost Mode Block  -->   
                <tr>
                    <td>
                        <div class="spotbie-help-text" *ngIf="help_text.length > 0">
                            {{ help_text }}
                        </div>                
                    </td>
                </tr>
                <tr>
                    <td class='spotbie-button spotbie-save-settings-button' (click)="saveSettings()">
                        Save Settings
                    </td> 
                </tr>
            </table>
        
        </form>
    </div>

    <div class='spotbie-block'>

        <form [formGroup]="password_form">

            <table class='spotbie-settings-table' id="spotbie-password-table">
                    <!-- Change Password Block -->
            
                    <div *ngIf="password_submitted && g.spotbie_password.errors else spotbie_password_normal" class="spotbie-invalid-feedback animated shake">    
                
                        <div *ngIf="g.spotbie_password.errors.required">
                            Please provide a password.
                        </div>

                        <div *ngIf="g.spotbie_password.errors.wrongLength">
                            Username must be 1 to 15 characters long.
                        </div>

                        <div *ngIf="g.spotbie_password.errors.oneNumber">
                            Password must contain at least one number (0-9)!
                        </div> 

                        <div *ngIf="g.spotbie_password.errors.oneLowerCase">
                            Password must contain at least one lowercase letter (a-z)!
                        </div>  

                        <div *ngIf="g.spotbie_password.errors.oneUpperCase">
                            Password must contain at least one uppercase letter (A-Z)!
                        </div> 

                    </div> 
                    
                    <ng-template #spotbie_password_normal>
                        <div class="spotbie-input-info" #spotbie_password_change_info_text>
                            Change your password?
                        </div>
                    </ng-template>            
        
                    <tr>
                        <td>
                            <input class="spotbie-input" (click)="$event.target.select()" formControlName="spotbie_password" type="password" value="password" autocomplete="false"/>
                        </td>
                    </tr>
            
                    <div *ngIf="password_submitted && g.spotbie_confirm_password.errors else spotbie_confirm_password_normal" class="spotbie-invalid-feedback animated shake">
            
                        <div *ngIf="g.spotbie_confirm_password.errors.required">
                            Please confirm your password.
                        </div>            
                        
                    </div> 
        
                    <ng-template #spotbie_confirm_password_normal>
                        <div class="spotbie-input-info">
                            Confirm your new password.
                        </div>
                    </ng-template>  
        
                    <tr>
                        <td>
                            <input class="spotbie-input" (click)="$event.target.select()" formControlName="spotbie_confirm_password" type="password" value="newpassword" autocomplete="false" />
                        </td>
                    </tr>
            
                    <tr>
                        <td class='spotbie-button' (click)="savePassword()">
                            Save New Password
                        </td>
                    </tr>
                    <!-- End Of Change Password Block -->        
            </table>
        
            <div class="spotbie-overlay-window" *ngIf="save_password">
        
                <div class="spotbie-toast-input-box" [ngStyle]="{ 'background-color' : bg_color }">
                    
                    <table class='spotbie-settings-table'>

                        <div *ngIf="password_submitted && g.spotbie_current_password.errors else spotbie_current_password_normal" class="spotbie-invalid-feedback animated shake">
        
                            <div *ngIf="g.spotbie_current_password.errors.required">
                                Please enter your current password.
                            </div>            
                    
                        </div> 
            
                        <ng-template #spotbie_current_password_normal>
                            <div class="spotbie-input-info" #current_password_info>
                                To complete the change, enter your CURRENT password.
                            </div>
                        </ng-template>

                        <tr>
                            <td>

                                <input class="spotbie-input" (click)="$event.target.select()" type="password" formControlName="spotbie_current_password" value="123456789" autocomplete="false">        
                            
                                <div class="spotbie-button spotbie-button-mini" (click)="completeSavePassword()">
                                    Complete Change
                                </div>

                                <div class="spotbie-button spotbie-button-mini" (click)="cancelPasswordSet()">
                                    Cancel
                                </div>
                                
                            </td>
                        </tr>

                    </table>  
        
                </div>
        
            </div>
        
        </form>
    
    </div>

    <div class='spotbie-block'>

        <table class="spotbie-settings-table" id="spotbie-deactivate-table">
            <tr>
                <td class='spotbie-button' style="margin-top: 0px;" (click)="startDeactivateAccount()">
                    Deactivate Account
                </td>
            </tr>
        </table>    
        
        <form [formGroup]="deactivation_form" *ngIf="account_deactivation">
    
            <div class="spotbie-toast-input-overlay">
        
                <div class="spotbie-toast-input-box" [ngStyle]="{ 'background-color' : bg_color }">
                    
                    <div *ngIf="deactivation_submitted && h.spotbie_deactivation_password.errors else spotbie_deactivate_normal" class="spotbie-invalid-feedback animated shake">
        
                        <div *ngIf="h.spotbie_deactivation_password.errors.required">
                            Please enter your current password.
                        </div>            
                
                    </div> 
        
                    <ng-template #spotbie_deactivate_normal>
                        <div class="spotbie-toast-info spotbie-deactivation-info" #spotbie_deactivation_info>
                            If you choose to deactivate your account, your information will remain in our system but it will be locked and no one will be able to access it. In this way, you will be able to restore 
                            all your data if you ever feel like coming back. Enter your password to deactivate your account.
                        </div>
                    </ng-template>  
        
                    <input class="spotbie-input" (click)="$event.target.select()" type="password" formControlName="spotbie_deactivation_password" autocomplete="false">
        
                    <div class="spotbie-button spotbie-button-mini" (click)="deactivateAccount()">
                        Deactivate Account
                    </div>
        
                    <div class="spotbie-button spotbie-button-mini" (click)="cancelDeactivateAccount()">
                        Cancel
                    </div>
        
                </div>
        
            </div>
    
        </form>
    </div>

    <div class="spotbie-close-button" (click)="closeWindow()">close settings</div>

    <div class="spotbie-select-menu" *ngIf="load_animals">
        
        <div class="spotbie-select-menu-option" *ngFor="let animal of animal_list" (click)="selectAnimal(animal)">
            <table class="spotbie-select-table">
                <tr>
                    <td class='spotbie-select-table-img' [ngStyle]="{'background' : 'url('+animal.animal_img+')'}"></td>
                    <td class='spotbie-select-table-text'>{{ animal.animal_name }}</td>
                </tr>
            </table>            
        </div>

        <div class="spotbie-close-button" (click)="closeAnimals()">close</div>

    </div>

    <div class="spotbie-select-menu" *ngIf="load_account_types">
        <div class="spotbie-select-menu-option" *ngFor="let account_type of account_type_list" (click)="selectAccountType(account_type)">
            <table class="spotbie-select-table">
                <tr>
                    <td class='spotbie-select-table-text' style="text-align: center;">{{ account_type }}</td>
                </tr>
            </table>            
        </div>
    </div>    

    <app-ads-main *ngIf="adSettingsWindow.open"></app-ads-main>

</div>
