.spotbie-block{
    position: relative;
    margin: 0 auto;
    width: 950px;
    max-width: 950px;
    margin-bottom: 20px;
}
.spotbie-deactivate-table{
    cursor: pointer;
}
.spotbie-info-text{
    background-color: transparent;
}
.spotbie-overlay-window{
    padding-top: 90px;
    padding-bottom: 100px;
    background: #332f3e;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;    
    z-index: 99;
}
.spotbie-select-menu{
    overflow-y: hidden !important;
}
.spotbie-settings-table{
    position: relative;
    margin: 0 auto;
    width: 950px;
    min-width: 950px;
    max-width: 950px;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 1px solid #535353;
}
.spotbie-settings-table td{
    padding-top: 20px;
    padding-bottom: 20px;
}
.spotbie-place-result td{
    padding: unset;
}
.sb-button{
    cursor: pointer;
    background-color: transparent;
    margin-top: 20px;
    width: 350px;
    min-width: unset;
    max-width: 350px;     
}
.sb-button-mini {
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(0,0,0,.23);
    max-width: 350px;
    min-width: 250px;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sb-closeButton{
    z-index: 98;
}
.spotbie-save-settings-button{
    margin-bottom: 10px;
}
.spotbie-toggle{
    width: 350px;
    min-width: 350px;
    max-width: 350px;
}
.spotbie-toggle, .spotbie-toggle td{
    padding-top: unset;
    padding-bottom: unset;
    margin-bottom: unset;
}
.spotbie-toggle-info-text{
    padding-top: 10px;
    padding-bottom: 10px;
}
.spotbie-toggle-light{
    padding-top: 10px;
    padding-bottom: 10px;
}
.spotbie-toggle-help-switch {
    min-width: 20%;
    max-width: 20%;
    width: 20%;
}
.spotbie-help-text{
    background-color: transparent;
    margin-bottom: unset;
    margin-top: unset;
}
.spotbie-settings-ghost-icon{
    position: absolute;
    top: -2px;
    left: -20px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    border-radius: 24px;
    max-height: 30px;
    background-color: white;
}
.spotbie-map{
    position: relative;
    margin: 0 auto;
    width: 650px;
    min-width: 650px;
    max-width: 650px;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    background-color: #353535;
}
.agm-map-container-inner{
    margin: 0 auto !important;
}
agm-map{
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 500px;
    min-height: 500px;
    background-color: #181818;
}
.map-prompt-mobile{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #181818;
    z-index: 9;
    cursor: pointer;
}
.map-prompt-mobile .title{
    position: absolute;
    left: 0;
    right: 0;    
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}
.sb-input{
    min-width: 500px;
    text-align: left;
}
textarea{
    height: 300px;
    min-height: 300px;
    max-height : 300px;
    width: 100%;
    min-width: 100%;
    resize: none;
    text-transform: uppercase;
}
.spotbie-field-blocker{
    position: absolute;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
.spotbie-clickable-field{
    cursor: pointer;
}
.spotbie-place-picker{
    margin-top: 20px;
    margin-bottom: 20px;
}
.spotbie-place{
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    min-width: 100%;
    background-color: rgba(0,0,0,.23);
    padding: 10px;
    cursor: pointer;
}
.spotbie-search-map-button{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 35%;
    min-width: 35%;
    max-width: 35%;
    color: white;
    text-align: center;
    cursor : pointer;
    background-color: green;
}
.spotbie-deactivation-info{
    line-height: 32px;
    margin-bottom: 20px;
}
.spotbie-input-info{
    margin-top: 20px;
    max-width: 500px;
    width: 500px;
    min-width: 500px;
    text-align: left;
}
.spotbie-search-map-input{
    display: inline-block!important;
}
.sb-origin-address-input{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.sb-search-icon{
    display: inline-block!important;
    max-width: 50px;
    padding-top: 20px;
    text-align: center;
    padding: 0px !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    border-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.sb-passKeyWrapper{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100%;
    height: 100%;
}
.calendly-inline-widget{
    min-width: 90vw;
    width: 90vw;
    max-width: 90vw;
    height: 70vh;
    min-height: 70vh;
    max-height: 70vh;
    overflow-x: hidden;
}
.sb-freeDemo{
    background: -webkit-linear-gradient(90deg, #35a99f, #64e56f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.sb-verificationCheck i{
    font-size: 2rem;
    color: #35a99f;
}
.spotbie-background-upload-input{
    display: none;
}
.spotbie-upload-new-background-holder{
    position: relative;
    margin: 0 auto;
    width: 650px;
    min-width: 650px;
    max-width: 650px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    cursor: pointer; 
    border-radius: 27px;
    border: 1px solid #eee;
}
.spotbie-click-or-drag-upload{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    min-width: 100%;
    text-align: center;
    background-color: #000000e0;
    font-size: 20px;
    letter-spacing: 4px;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 

}
@media (max-width: 768px) { 
    .spotbie-block{
        margin: 0 auto;
        width: 98%;
        min-width: 98%;
        max-width: 98%;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 0;
    }
    .spotbie-settings-table{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        border-radius: 0;
        margin-top: 10px;        
    }    
}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 

}
@media (max-width: 560px) { 
    .spotbie-settings-ghost-icon{
        display: none;
    }
}
@media (max-width: 460px) {
    .sb-input{
        min-width: 90%;
    }
    .spotbie-input-info{
        margin-top: 0px;
    }
    .spotbie-info-text{
        margin-bottom: 0px;
    }
    .spotbie-toggle{
        width: 98%;
        min-width: 98%;
        max-width: 98%;
    } 
    .spotbie-help-text {
        width: 98%;
        min-width: 98%;
        max-width: 98%;
        line-height: 32px;
        font-size: 16px;
        padding: unset;
    }
    .sb-button{
        font-size: 20px;            
    }
    .spotbie-save-settings-button {
        margin-top: 0px;        
    }
    #spotbie-password-table{
        margin-top: 0px;
    }
    #spotbie-deactivate-table{
        margin-top: 0px;
    }
    .spotbie-overlay-window{
        padding-bottom: 60px;
    }
    .spotbie-current-password-info{
        margin-bottom: 20px;
    }
    
}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) { 
 
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}