<div class="spotbie-overlay-window" [ngStyle]="{'background-color' : bg_color}">

    <div class='spotbie-album-media-image-wrapper'
        *ngIf="media.media_type == 'image' && media.content | albumMediaPath as media_path"
        [ngStyle]="{'background' : 'url(' + media_path  + ')' } ">

        <div class='spotbie-album-media-image-blur'></div>         

    </div>

    <img class='spotbie-album-media-image' *ngIf="media.media_type == 'image' && media.content | albumMediaPath as media_path" [src]="media_path" /> 
    
    <div class='spotbie-album-media-image-wrapper'
        *ngIf="media.media_type == 'video' && media.poster | albumMediaPath as video_poster"
        [ngStyle]="{'background' : 'url(' + video_poster  + ')' } ">

        <div class='spotbie-m-wrapper'>

            <video class='spotbie-album-media-video'
                    *ngIf="media.media_type == 'video' && media.poster | albumMediaPath as video_poster"
                    poster="{'background' : 'url(' + video_poster  + ')' }"
                    controls>
                    
                <source *ngIf="media.content | albumMediaPath as media_path" src="{{ media_path }}">

            </video>

        </div>

    </div>

    <div class='spotbie-media-caption' *ngIf="media.album_item_caption !== 'null'">
        {{ media.album_item_caption }}
    </div>

    <div class='spotbie-exif-optional'></div>
    <div class='spotbie-ai-items-in-image'></div>

    <div class='spotbie-share-buttons-wrappper'>

        <button mat-fab class="spotbie-share-button" shareButton="facebook" 
                [style.backgroundColor]="share.prop.facebook.color" 
                [url]="album_media_item_link"
                [title]="album_media_item_title"
                [description]="album_media_description">     
            <ngx-fa name="facebook" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color"
                [url]="album_media_item_link"
                [title]="album_media_item_title"
                [description]="album_media_description">    
            <ngx-fa name="twitter" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color"
                [url]="album_media_item_link"
                [title]="album_media_item_title"
                [description]="album_media_description">     
            <ngx-fa name="linkedin" style="color:white;"></ngx-fa>
        </button>

        <button mat-fab class="spotbie-share-button" shareButton="reddit" [style.backgroundColor]="share.prop.reddit.color"
                [url]="album_media_item_link"
                [title]="album_media_item_title"
                [description]="album_media_description">   
            <ngx-fa name="reddit" style="color:white;"></ngx-fa>
        </button> 

        <button mat-fab class="spotbie-share-button" shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color"
                [url]="album_media_item_link"
                [title]="album_media_item_title"
                [description]="album_media_description">     
            <ngx-fa name="pinterest" style="color:white;"></ngx-fa>
        </button>

    </div>

    <div class='spotbie-copy-link-button' (click)="linkCopy(spotbie_share_link)">tap to copy link</div>

    <div class='spotbie-share-post-link' (click)="linkCopy(spotbie_share_link)">
        <input class='spotbie-input' type='text' [attr.value]="album_media_item_link" readonly #spotbie_share_link/>
    </div>
    
    <div class="spotbie-close-button" (click)="closeWindow()"><i class="fa fa-times"></i></div>

    <div class='spotbie-toast-message animated fadeIn' *ngIf="successful_url_copy">Album Item link copied.</div>

</div>