<table class="spotbie-el-100 spotbie-menu spotbie-menu-fixed" #spotbieMainMenu>
  <tr>
    <td class="sb-menu-nav" (click)="slideMenu()" *ngIf="!isDesktop">
      <i class="fa fa-bars" *ngIf="!menuActive"></i>
      <i class="fa fa-times" *ngIf="menuActive"></i>
    </td>

    <td style="width: 25%">
      <img
        class="spotbie-header-mini-logo"
        src="assets/images/spotbie_logo_header.svg"
      />
    </td>

    <td
      *ngIf="isDesktop"
      class="sb-desktopNavBar"
      style="text-align: right; cursor: default"
    >
      <span (click)="goToBusiness()" *ngIf="!business">
        <i class="fa fa-business-time"></i> BUSINESS
      </span>

      <span (click)="goToAppUser()" *ngIf="business">
        <i class="fa fa-user-alt"></i> APP USERS
      </span>
    </td>
  </tr>
</table>

<div class="spotbie-slider-menu-background" *ngIf="menuActive">
  <table class="spotbie-slider-menu animated slideInLeft">
    <tr>
      <td>
        <div (click)="goToBusiness()" *ngIf="!business">BUSINESS PLATFORM</div>
        <div (click)="goToAppUser()" *ngIf="business">APP USERS</div>
      </td>
    </tr>
  </table>
</div>
