<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="spotbie-overlay-window">
  
  <div class='spotbie-forgot-pass-app'>

  <h2 class="spotbie-el-100
              spotbie-h2">
    Password Recovery
  </h2>
  
  <p class="spotbie-el-100
            spotbie-rel-div
            spotbie-paragraph">
  
    Forgot your SpotBie password? Enter your e-mail or phone number below.
    We will send you a reset pin which you will enter to reset your password.
  
  </p>  

  <form [formGroup]="passwordResetForm" *ngIf="step_one">
    
    <div *ngIf="passResetSubmitted && g.spotbie_email_or_ph.errors else spotbie_reset_1_normal" class="spotbie-invalid-feedback animated shake"> 

      <div *ngIf="g.spotbie_email_or_ph.errors.maxlength">
          Phone number or e-mail can only be 130 characters in length.
      </div>

      <div *ngIf="g.spotbie_email_or_ph.errors.required">
        Please enter your phone number or e-mail.
      </div>

    </div> 

    <ng-template #spotbie_reset_1_normal>

      <div #getLinkMessage class="spotbie-toast-info spotbie-contact-me-info">
        {{ email_or_ph_error }}
      </div>

    </ng-template>    

    <input class="spotbie-input"
          formControlName="spotbie_email_or_ph" 
          type="text" 
          placeholder="Phone Number or E-Mail"/>

    <button class="spotbie-button spotbie-padding spotbie-margin" (click)="setPassResetPin()">
      Send Reset Link
    </button>

  </form>
  
  <div *ngIf="step_two">
  
    <div>

        <div class="spotbie-toast-info spotbie-contact-me-info">
          {{ pin_ready_msg }}
        </div>

    </div>    

  </div>

  <form [formGroup]="passwordForm" *ngIf="step_three">

    <table class='spotbie-settings-table'>      

            <tr>
                <td>
                    <div *ngIf="password_submitted && h.spotbieResetPassword.errors else spotbie_password_normal" class="spotbie-invalid-feedback animated shake">
          
                      <div *ngIf="h.spotbieResetPassword.errors.required">
                          Enter a new password.
                      </div>       
                
                      <div *ngIf="h.spotbieResetPassword.errors.oneNumber">
                        Password must contain at least one number (0-9)!
                      </div> 

                      <div *ngIf="h.spotbieResetPassword.errors.oneLowerCase">
                          Password must contain at least one lowercase letter (a-z)!
                      </div>  

                      <div *ngIf="h.spotbieResetPassword.errors.oneUpperCase">
                          Password must contain at least one uppercase letter (A-Z)!
                      </div>                       

                    </div>                       

                    <ng-template #spotbie_password_normal>
        
                        <div class="spotbie-input-info" #spotbie_password_change_info_text>
                            {{ new_password_msg }}
                        </div>
                        
                    </ng-template>       

                    <input class="spotbie-input" (click)="$event.target.select()" 
                          formControlName="spotbieResetPassword" 
                          type="password" 
                          value="password"
                          placeholder="New Password"
                          autocomplete="false"/>

                </td>
            </tr>

            <tr>

                <td>

                  <div *ngIf="password_submitted && h.spotbieResetPasswordC.errors else spotbie_confirm_password_normal" class="spotbie-invalid-feedback animated shake">          
            
                    <div *ngIf="h.spotbieResetPasswordC.errors.mustMatch">
                      Your passwords must match.
                    </div>
                    
                    <div *ngIf="h.spotbieResetPasswordC.errors.required">
                        Please confirm your password.
                    </div>

                  </div> 
      
                  <ng-template #spotbie_confirm_password_normal>
                      <div class="spotbie-input-info">
                          Confirm your new password.
                      </div>
                  </ng-template>

                  <input class="spotbie-input" (click)="$event.target.select()" 
                          formControlName="spotbieResetPasswordC" 
                          type="password" 
                          value="newpassword" 
                          placeholder="Confirm New Password"
                          autocomplete="false" />
                
                </td>

            </tr>
    
            <tr>
                <td class='spotbie-button' (click)="completeSavePassword()">
                    Save New Password
                </td>
            </tr>
            <!-- End Of Change Password Block -->        
      </table>

  </form>

  <p class="spotbie-el-100
            spotbie-rel-div
            spotbie-paragraph
            spotbie-success-pass" *ngIf="step_four">
  
    Password changed.<br/>
    You may now log-in.
  
  </p>  
  
  </div>

  <div class="spotbie-close-button" (click)="closeWindowX()">
    <i class="fa fa-times"></i>
  </div>

</div>