.spotbie-overlay-window{ 
    z-index: 99;
    background-color: #32303e;
}
.sb-closeButton{
    z-index: 99;
}
.spotbie-paragraph{
    text-indent: unset;
}
.sb-forgot-password-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.spotbie-contact-me-info{
    font-size: 17px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.sb-input{
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sb-button{
    width: 350px;
    min-width: 350px;
    max-width: 350px;   
}
.spotbie-settings-table{
    margin: 0 auto;
    width: 450px;
    min-width: 450px;
    max-width: 450px;
}
.spotbie-success-pass{
    font-size: 20px;
    box-shadow: unset;
    line-height: 60px;
}
.spotbie-invalid-feedback {
    margin-bottom: 30px;
}
.spotbie-forgot-pass-app{
    position: relative;
    margin: 0 auto;
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 
}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 

}
@media (max-width: 560px) {
    .spotbie-forgot-pass-app{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }     
    .spotbie-invalid-feedback{
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;       
    }
    .spotbie-settings-table{
        width: 95%;
        min-width: 95%;
        max-width: 95%;        
    }    
    .sb-button{
        width: 80%;
        min-width: 80%;
        max-width: 80%;
        font-size: 18px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .spotbie-input-info,
    .spotbie-contact-me-info{
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        width: 85%;
        min-width: 85%;
        max-width: 85%;
    }
    .sb-input{
        width: 75%;
        min-width: 75%;
        max-width: 75%;        
    }    
}
@media (max-width: 460px) { 
              
}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) {  
    .spotbie-contact-me-info{
        font-size: 16px;           
    }
    .spotbie-forgot-pass-app{
        padding-bottom: 75px; 
    }
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}