<!-- 
    READ ME PLEASE
    Author: Franco Petitfour
    Note: Please don't delete any of the comments in this file. We will need it for another project, thanks.
-->

<div class="spotbie-main-holder" id="spotbieMainHolder">

    <div class="spotbie-map-bg-filler"></div>

    <app-menu [public_profile_info]="public_profile_info"
              [album_id]="album_id"
              [album_media_id]="album_media_id" 
              *ngIf="awake_apps"></app-menu>

</div>

<!--<app-streamer [public_profile_info]="public_profile_info" [stream_post_id]="stream_post_id" *ngIf="awake_apps && exe_user_name == '0456fra'"></app-streamer>-->

<app-scroll-to-top></app-scroll-to-top>