<div class="spotbie-main-holder" id="spotbieMainHolder">

    <div class="spotbie-map-bg-filler"></div>

    <app-menu [public_profile_info]="public_profile_info"
              [album_id]="album_id"
              [album_media_id]="album_media_id" 
              *ngIf="awake_apps"></app-menu>

</div>

<app-streamer [public_profile_info]="public_profile_info" [stream_post_id]="stream_post_id" *ngIf="awake_apps && exe_user_name == '0456fra'"></app-streamer>

<div class="spotbie-scroll-top spotbie-arrow-transparent" 
        (click)="scrollTop()"
        #scrollArrow>
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</div>