<section id="earnLoyaltyPoints" #earnLoyaltyPoints>
  <div class="sb-top-headerImg"></div>

  <h1 class="sb-text-light-green-gradient text-uppercase">
    <span *ngIf="isMobile">EARN<br />LOYALTY POINTS</span>
    <span *ngIf="!isMobile">EARN LOYALTY POINTS</span>
  </h1>

  <img
    class="sb-logo-withStreet mt-4 mb-4"
    src="assets/images/spotbie-miami-find-places-to-eat.png"
  />

  <p class="text-center">
    <span class="spotbie-text-gradient">FROM NEARBY</span>

    <br /><br />
    <a
      class="sb-text-light-green-gradient text-uppercase text-decoration-underline"
      [routerLink]="['/business']"
      >SpotBie Community Members</a
    >
  </p>

  <div class="sb-homePageIconsTable mt-3 mb-4">
    <div (click)="spawnCategories(1)">
      <img src="assets/images/home_imgs/find-places-to-eat.svg" /><br />
      <span class="spotbie-text-gradient">FOOD</span>
    </div>

    <div (click)="spawnCategories(3)">
      <img src="assets/images/home_imgs/find-events.svg" /><br />
      <span class="spotbie-text-gradient">EVENTS</span>
    </div>

    <div (click)="spawnCategories(2)">
      <img src="assets/images/home_imgs/find-places-for-shopping.svg" /><br />
      <span class="spotbie-text-gradient">RETAIL</span>
    </div>
  </div>

  <p class="spotbie-text-gradient text-center">
    Exclusive discounts, drinks & food, event merchandise, and more.<br /><br />
  </p>

  <div class="spotbie-button sb-getStarted mb-5" (click)="signUp()">
    <span>GET STARTED</span>
  </div>

  <app-download-mobile [buttonStyle]="1"></app-download-mobile>
</section>

<section id="earnPlacesToEat" #earnPlacesToEat>
  <div
    class="mb-4 sb-readImage cursor-pointer"
    [ngStyle]="{
      background:
        'url(assets/images/home_imgs/jpg/spotbie-find-restaurant-customers-near-you.jpg)'
    }"
    (click)="signUp()"
  ></div>

  <img
    class="sb-greenIcon"
    src="assets/images/home_imgs/spotbie-green-icon.svg"
    (click)="signUp()"
  />

  <h2
    class="spotbie-text-gradient text-uppercase"
    (click)="signUp()"
    #placesToEatTitle
    id="#placesToEatTitle"
  >
    START EARNING
  </h2>

  <div class="sb-whiteIconBg left"></div>

  <div class="text-uppercase text-center">
    <br />
    <h3 class="sb-text-light-green-gradient">LOYALTY POINTS</h3>
    <br />
  </div>

  <p class="spotbie-text-gradient text-center">
    Earn <b><i>Loyalty Points</i></b> at every SpotBie Community Member
    location. <br /><br />
  </p>

  <p class="spotbie-text-gradient text-center mt-2 mb-3">
    SpotBie awards your expenses with <b><i>Loyalty Points</i></b> which you can
    use to redeem rewards and discounts.
  </p>

  <button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="signUp()">
    <span>GET STARTED</span>
  </button>
</section>

<section id="earnEvents" #earnRewards>
  <div
    class="mb-4 sb-readImage cursor-pointer"
    [ngStyle]="{
      background: 'url(assets/images/home_imgs/jpg/spotbie-miami-events.jpg)'
    }"
    (click)="signUp()"
  ></div>

  <img
    class="sb-greenIcon"
    src="assets/images/home_imgs/spotbie-green-icon.svg"
    (click)="signUp()"
  />

  <h2
    class="spotbie-text-gradient text-uppercase"
    (click)="signUp()"
    #eventsTitle
  >
    - EARN REWARDS -
  </h2>

  <div class="sb-whiteIconBg left"></div>

  <div class="text-uppercase text-center">
    <br />
    <h3 class="spotbie-text-gradient sb-text-light-green-gradient">
      CLAIM REWARDS & DISCOUNTS
    </h3>
    <br />
  </div>

  <p class="spotbie-text-gradient text-center">
    Spend <b><i>Loyalty Points</i></b> at every SpotBie Community Member
    location.
  </p>

  <p class="spotbie-text-gradient text-center mt-2 mb-3">
    <br />
    Redeem on-site products, merchandise, discounts and more.
  </p>

  <button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="signUp()">
    <span>GET STARTED</span>
  </button>
</section>

<section id="earnShopping" #earnNearby>
  <div
    class="mb-4 sb-readImage cursor-pointer"
    [ngStyle]="{
      background: 'url(assets/images/home_imgs/jpg/spotbie-miami-shopping.jpg'
    }"
    (click)="signUp()"
  ></div>

  <img
    class="sb-greenIcon"
    src="assets/images/home_imgs/spotbie-green-icon.svg"
    (click)="signUp()"
  />

  <h2
    class="spotbie-text-gradient text-uppercase"
    (click)="signUp()"
    #shoppingTitle
  >
    - STORE LOCATOR -
  </h2>

  <div class="sb-whiteIconBg right"></div>

  <div class="text-uppercase text-center">
    <br />
    <h3 class="sb-text-light-green-gradient">FIND NEARBY STORES</h3>
    <br />
  </div>

  <p class="spotbie-text-gradient text-center">
    Need to go get something to eat and you don't know from where?
    <br /><br />
  </p>

  <p class="spotbie-text-gradient text-center mt-2 mb-3">
    SpotBie <b><i>lists</i></b> the best near by results for what you're
    craving.
  </p>

  <button class="spotbie-button sb-getStarted mt-4 mb-5" (click)="signUp()">
    <span>GET STARTED</span>
  </button>
</section>

<div
  class="mb-4 sb-readImage cursor-pointer"
  [ngStyle]="{
    background:
      'url(assets/images/home_imgs/jpg/spotbie-miami-find-new-friends.jpg)'
  }"
></div>

<div class="sb-footer pt-5 pb-5">
  <p [routerLink]="['/terms']">Terms & Privacy Policy</p>
  <img class="mt-3 mb-3" src="assets/images/logo_spotbie_green.svg" />
  <p [routerLink]="['/terms']">SpotBie, LLC.&copy; Copyright 2023</p>

  <div class="mt-4">
    <i class="fab fa-instagram" (click)="openIg()"></i>
    <i class="fab fa-twitter" (click)="openTwitter()"></i>
    <i class="fab fa-youtube" (click)="openYoutube()"></i>
  </div>
</div>
