<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class='spotbie-overlay-window'>
    
    <div class='spotbie-friend-actions-image'
        *ngIf="around_me_user.user_info.exe_user_default_picture | defaultImage as exe_user_default"
        [ngStyle]="{'background' : 'url(' + exe_user_default + ')'}"></div>

        <div class='spotbie-friend-actions-username'>{{ around_me_user.user_info.exe_username }}</div>

    <table class='spotbie-friend-action-buttons'>
        <tr>
            <td>
                <div class='spotbie-button' [routerLink]="['/user-profile/' + around_me_user.user_info.exe_username]">View Profile</div>
            </td>          
        </tr>
    </table>

    <div class="spotbie-close-button" (click)="closeWindow()">close actions for "{{around_me_user.user_info.exe_username}}"</div>

</div>
        