<div class="spotbie-overlay-window" [ngStyle]="{ 'color' : fontColor, 'background-color' : bgColor }">

  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[0]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_0.jpeg');"></div>

    <div class="spotbie-tutorial-text">
      Setting your Friendship Questions will prevent online strangers from sending you friend requests. Instead they will have to ask you in person.
    </div>

  </div>

  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[1]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_1.jpeg');"></div>

    <div class="spotbie-tutorial-text">
      Only those who are genuinely interested in becoming your friend will personally ask you your friendship questions.
    </div>

  </div>

  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[2]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_2.jpeg');"></div>

    <div class="spotbie-tutorial-text">
      Answers must be typed EXACTLY as you have typed them when you set them.
    </div>

  </div>
  
  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[3]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_3.png');"></div>

    <div class="spotbie-tutorial-text">
      Do not give out answers to those people who you do not trust.
    </div>

  </div>

  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[4]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_4.jpeg');"></div>

    <div class="spotbie-tutorial-text">
      Some people might give away your answers, so if you see something odd; like receiving friend requests from people who have not asked you your questions, procceed by changing your questions.
    </div>

  </div>

  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[5]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_5.jpeg');"></div>

    <div class="spotbie-tutorial-text">
      You can delete people after you add them.
    </div>

  </div>
  
  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[6]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_6.jpeg');"></div>

    <div class="spotbie-tutorial-text">
      Turning Ghost Mode On will prevent users from spotting you on the map and on the search engine. SpotBie does not list your page to any search engine
    </div>

  </div>  

  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[7]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_7.jpg');"></div>

    <div class="spotbie-tutorial-text">
      Turning Privacy Mode On will prevent users from seeing your reach me at and stream if they are not your friends. They will still be able to see your basic information.
    </div>

  </div>  
    
  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[8]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_8.jpg');"></div>

    <div class="spotbie-tutorial-text" style="margin-top: 40px;">
      To report a user, click on the report flag, choose a reason, and send in your report.
    </div>

  </div>  
      
  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[9]">

    <div class="spotbie-tutorial-image" style="background-image: url('../../assets/images/tutorial/tut_9.jpg');"></div>

    <div class="spotbie-tutorial-text">
      Feel free to change your default icon!
    </div>

  </div>  
  
  <div class="spotbie-tutorial-slide" *ngIf="spotbieTutorialSlide[10]">

    <div class="spotbie-tutorial-image" 
          style="background-image: url('../../assets/images/tutorial/tut_10.jpg');"></div>

    <div class="spotbie-tutorial-text">
      You are done with our Tutorial!
    </div>

  </div>        

  <table class="spotbie-tutorial-table-buttons">
    <tr>
      <td (click)="previousTutorialSlide();" *ngIf="!spotbieTutorialSlide[0]">
        Previous
      </td>
      <td (click)="nextTutorialSlide();" *ngIf="!spotbieTutorialSlide[10]">
        <span>Next</span>
      </td> 
      <td (click)="closeWindow();" *ngIf="spotbieTutorialSlide[10]">
        <span>Finish</span>
      </td>               
    </tr>
  </table>
  
  <div class="spotbie-rel-div" *ngIf="this.currentSlide < 10">
    {{ currentSlide + 1 }}/10
  </div>

  <div class="spotbie-rel-div" *ngIf="this.currentSlide == 10">
    You are done with tutorial.
  </div>

</div>


<div class="sb-closeButton" (click)="closeWindow()">close</div>