<div class='spotbie-loading-screen' *ngIf="loading">

    <i class="fa fa-spinner fa-spin"></i>
    <div class='spotbie-loading-percent' *ngIf='show_upload_progress'>{{ upload_progress }}% completed.</div>
    <div class='spotbie-loading-percent' *ngIf='upload_progress > 99 && show_upload_progress'>Upload complete...processing.</div>

</div>

<div class='spotbie-albums-table-wrapp'>

    <table class='spotbie-album-holder'> 

        <tr>

            <td *ngIf="publicProfileInfo === undefined" title="Create New Album">

                <div class='spotbie-album-text spotbie-add-album-text-top'>A</div>

                <div class='spotbie-album spotbie-add-album' (click)="createAlbum()">
                    <div class='spotbie-add-album-text'>Add Album</div>
                    <div class='spotbie-album-plus'>+</div>
                </div>

                <div class='spotbie-album-text-bottom spotbie-bottom-likes-comments' style="visibility: hidden;">
                    <i class="fa fa-thumbs-up spotbie-album-editor-buttons spobie-small-icon" aria-hidden="true" title="Total Album Likes"></i> 
                </div>

            </td>

            <td *ngFor="let album of all_albums_array" (click)="openAlbum(album)" title="{{ album.name }}">

                <div class='spotbie-album-text'>{{ album.name }}</div>

                <div class='spotbie-album'  
                    *ngIf="album.cover as album_media_cover"
                    [ngStyle]="{ 'background' : 'url(' + album_media_cover + ')' }">                    
                </div> 

                <div class='spotbie-album-text-bottom spotbie-bottom-likes-comments'>

                    <i class="fa fa-thumbs-up spotbie-album-editor-buttons spobie-small-icon" aria-hidden="true" title="Total Album Likes"></i> 
                    <span class="spotbie-bottom-span" title="Total Album Likes"> {{ album.likes_count }} </span>

                    <i class="fa fa-comment spotbie-album-editor-buttons spobie-small-icon" aria-hidden="true" title="Total Album Comments"></i> 
                    <span class="spotbie-bottom-span" title="Total Album Comments"> {{ album.comments_count }} </span>
                    
                </div>

            </td>

            <td *ngIf="albums_load_more" (click)="pullAlbums()">
    
                <div class='spotbie-album spotbie-add-album'>
                    <div class='spotbie-add-album-text'>More Albums</div>
                </div>         
    
            </td>  

        </tr>

    </table>
    
</div>

<!-- Show this if user is viewing another user's albums-->
<div class='spotbie-overlay-window' 
    (spotbieOnScroll)="albumScroll($event)" 
    *ngIf='album_slider && publicProfileInfo !== undefined' 
    [ngStyle]="{'background-color' : bg_color}">

    <div class="spotbie-album-media-info-public" *ngIf="show_album_description">  

        <div class="spotbie-stream-album-media-message">
            <p>{{ current_album.exe_album_name }}</p>
            <p>{{ current_album.exe_album_description }}</p>
        </div>
                    
    </div>  

    <div class='spotbie-album-editor-buttons-wrapper'>
        <i class="fa fa-link spotbie-album-editor-buttons grey" aria-hidden="true" (click)="shareAlbum()"></i>
        <i class="fa fa-eye-slash spotbie-album-editor-buttons grey" *ngIf="show_album_description" aria-hidden="true" (click)="toggleAlbumDescription()"></i>
        <i class="fa fa-eye spotbie-album-editor-buttons grey" *ngIf="!show_album_description" aria-hidden="true" (click)="toggleAlbumDescription()"></i>
    </div>

    <div class='spotbie-album-maker stream-poster-album-media-wrapper animated slideInUp' [ngStyle]="{'background-color' : bg_color}">    
      
        <div class='spotbie-album-media' *ngFor="let album_media of album_media_array; let i = index" 
            (click)="openMedia(album_media)" id="{{'album_media_element' + i}}">
            
            <div class='spotbie-album-media-image-backdrop'
                *ngIf="album_media.media_type == 'image' && album_media.content as album_media_path"
                [ngStyle]="{'background' : 'url(' + album_media_path  + ')' } " >
            </div>

            <div class='spotbie-album-media-image'
                *ngIf="album_media.media_type == 'image' && album_media.content as album_media_path"
                [ngStyle]="{'background' : 'url(' + album_media_path  + ')' } " >
            </div>
            
            <div class='spotbie-album-media-image-backdrop'
                *ngIf="album_media.media_type == 'video' && album_media.poster as album_media_poster"
                [ngStyle]="{'background' : 'url(' + album_media_poster  + ')' } " >
            </div>

            <div class='spotbie-album-media-video-holder' 
                *ngIf="album_media.media_type == 'video' && album_media.poster as album_media_poster"
                [ngStyle]="{'background' : 'url(' + album_media_poster + ')' }">
            
                <div class='spotbie-play-button'>
                    <i class="fa fa-play" aria-hidden="true"></i> 
                </div> 

            </div>

            <div class='spotbie-album-media-tools'>                    

                <div class='spotbie-album-media-button' id='shareMedia' title='Share' *ngIf="album_media.album_media_id !== undefined" (click)="shareAlbumMedia(album_media)" SpotBieStopClickPropagation>
                    <i class="fa fa-link spotbie-album-editor-buttons" aria-hidden="true"></i>
                </div>                         

                <div class='spotbie-album-media-button' id='likeMedia' title='Likes' *ngIf="album_media.album_media_id !== undefined" (click)="likeAlbumItem(album_media)" SpotBieStopClickPropagation>                        
                    <i class="fa fa-thumbs-up spotbie-album-editor-buttons" aria-hidden="true"></i>
                    <div class='spotbie-album-media-likes-counter'>{{ album_media.likes_count }}</div>
                </div> 

                <div class='spotbie-album-media-button' id='commentMedia' title='Comments' *ngIf="album_media.album_media_id !== undefined">                        
                    <i class="fa fa-comment spotbie-album-editor-buttons" aria-hidden="true"></i>
                    <div class='spotbie-album-media-comments-counter' >{{ album_media.comments_count }}</div>
                </div> 

            </div>

        </div>
        
        <div class='spotbie-load-more-album-items' *ngIf="pullMoreAlbumItems" (click)="loadMoreAlbumItems()">load more</div>

    </div>

    <div class='spotbie-confirm-box' *ngIf="spotbie_alert_box">

        <div class='spotbie-confirm-box-inner'>
            Are you sure you want to delete this album? All your media will be deleted.
            <table class="spotbie-confirm-box-table">
                <tr>
                    <td (click)="confirmAlbumDelete()">
                        <div class='spotbie-button'>Delete Album</div>
                    </td>
                    <td (click)="declineAlbumDelete()">
                        <div class='spotbie-button'>Cancel</div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="spotbie-close-button" (click)="closeWindow()">
        <i class="fa fa-times"></i>
    </div>

</div>

<!-- Show this if user is viewing their own albums-->
<div class='spotbie-overlay-window'
        (spotbieOnScroll)="albumScroll($event)" 
        *ngIf='album_maker && publicProfileInfo === undefined'
        [ngStyle]="{'background-color' : bg_color}">

    <div class='spotbie-album-editor-buttons-wrapper'>
        <i class="fa fa-pencil spotbie-album-editor-buttons" aria-hidden="false" (click)="toggleAlbumMakerForm()" title="Edit Album"></i>
        <i class="fa fa-link spotbie-album-editor-buttons" aria-hidden="false" (click)="shareAlbum()" title="Share Album"></i>
        <i class="fa fa-times-circle-o spotbie-album-editor-buttons" aria-hidden="false" (click)="initDeleteAlbum()" title="Delete Album"></i>
    </div>    

    <div *ngIf='show_album_maker_form' class="spotbie-album-maker-form-wrapper">

        <form>

            <div class="spotbie-album-media-info">                
                <div class="spotbie-stream-album-media-message" *ngIf="album_media_message">
                    {{album_media_message}}
                </div>
            </div>    

            <input type="file" 
                    class='spotbie-album-media-upload-input'
                    #albumMediaInput (change)="attachAlbumMedia(albumMediaInput.files)" 
                    accept="image/jpeg, image/gif, image/png, video/webm, video/mp4, video/ogg, video/quicktime, video/avi,
                    video/x-msvideo, video/x-msvideo"
                    multiple='true' >
            
            <div class='spotbie-stream-poster-album-media-option'
                (click)="startAlbumMediaUploader()"
                title="Drag or Tap for Upload">

                <div class='spotbie-album-upload-text'>Upload Images or Videos</div>       
                   
            </div>

        </form>

        <form [formGroup]="album_form" (ngSubmit)="saveAlbum()">

            <div class="spotbie-stream-album-media-progress" *ngIf="album_media_progress > 0">Upload {{ upload_progress }}% done.</div>

            <div class='spotbie-album-media-upload-title' #albumMediaFileInfoMessage>{{ album_media_uploaded_msg }}</div>

            <button class='spotbie-button'>Save Album</button>

            <table class='spotbie-settings-table'>                     
        
                <tr>
                    <td>
                        <div *ngIf="submitted && f.spotbie_album_name.errors else album_name_normal" class="spotbie-invalid-feedback animated shake">
            
                            <div *ngIf="f.spotbie_album_name.errors.required">
                                You must enter an album name.
                            </div>
                
                            <div *ngIf="f.spotbie_album_name.errors.maxlength">
                                Your album name cannot be longer than 35 characters.
                            </div>            
                    
                            <div *ngIf="f.spotbie_album_name.errors.invalidAlbumName">
                                Please enter a valid album name. Only letters, numbers, and underscores.
                            </div>   

                        </div>                            
                        
                        <ng-template #album_name_normal>
                            <div #spotbie_settings_issues class="spotbie-input-info"></div>          
                        </ng-template>                        
                        
                        <input class="spotbie-input" (click)="$event.target.select()" formControlName="spotbie_album_name" type="text" placeholder="Album Name" maxlength="35" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <div *ngIf="submitted && f.spotbie_album_description.errors else album_description_normal" class="spotbie-invalid-feedback animated shake">
                
                            <div *ngIf="f.spotbie_album_description.errors.maxlength">
                                Your album description cannot be longer than 350 characters.
                            </div>            
                    
                            <div *ngIf="f.spotbie_album_description.errors.invalidAlbumName">
                                Please enter a valid album description. Only letters, numbers, and underscores.
                            </div>   

                        </div>                            
                        <ng-template #album_description_normal>
                            <div #spotbie_settings_issues class="spotbie-input-info"></div>          
                        </ng-template>                        
                        <textarea class="spotbie-input-textarea spotbie-input"
                                    formControlName="spotbie_album_description" type="text" 
                                    placeholder="Album Description" maxlength="350"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='spotbie-album-privacy-explain' *ngIf="album_privacy_help"> {{ privacy_help }}</div>
                        <table class="spotbie-toggle">

                            <tr>
                                <input type="hidden" formControlName="spotbie_album_privacy" />
        
                                <td class="spotbie-toggle-info-text" (click)="toggleAlbumPrivacy()">
                                    Album Privacy <span>{{album_privacy_state}}</span>
                                </td>
                        
                                <td class="spotbie-toggle-light" id="spotbiePrivacyLight" (click)="toggleAlbumPrivacy()" [ngStyle]="getLight(this.spotbie_album_privacy)" title="Toggle Album Privacy"></td>
                        
                                <td class="spotbie-toggle-help-switch" (click)="toggleHelp()" title="Help">?</td>
                            </tr>
                            
                        </table> 
                    </td>
                </tr>
            </table>

        </form>

        <div class='spotbie-close-button' (click)="toggleAlbumMakerForm()">
            <i class="fa fa-times"></i>
        </div>

    </div>

    <div class='spotbie-album-maker animated slideInUp' [ngStyle]="{'background-color' : bg_color}">

        <div #spotbieAlbumMediaHolderForPost class='stream-poster-album-media-wrapper' *ngIf="upload_complete">            
    
            <div class='spotbie-album-media' *ngFor="let album_media of album_media_array; let i = index" 
                    (click)="openMedia(album_media)"
                    id="{{'album_media_element' + i}}">
    
                <div class='spotbie-album-media-image-backdrop'
                    *ngIf="album_media.media_type == 'image' && album_media.content as album_media_path"
                    [ngStyle]="{'background' : 'url(' + album_media_path + ')' } " >
                </div>

                <div class='spotbie-album-media-image'
                    *ngIf="album_media.media_type == 'image' && album_media.content as album_media_path"
                    [ngStyle]="{'background' : 'url(' + album_media_path + ')' } " >
                </div>

                <div class='spotbie-album-media-image-backdrop'
                    *ngIf="album_media.media_type == 'video' && album_media.poster as album_media_poster"
                    [ngStyle]="{'background' : 'url(' + album_media_poster  + ')' } " >
                </div>

                <div class='spotbie-album-media-video-holder' 
                    *ngIf="album_media.media_type == 'video' && album_media.poster as album_media_poster"
                    [ngStyle]="{'background' : 'url(' + album_media_poster + ')' }">
                    
                    <div class='spotbie-play-button'>
                        <i class="fa fa-play" aria-hidden="true"></i> 
                    </div> 

                </div>
                
                <div class='spotbie-album-media-tools'>

                    <div class='spotbie-album-media-button' id='removeMedia' title='Remove' *ngIf="album_media.album_media_id === undefined" (click)="removeAlbumMediaBeforeUpload(album_media)" (SpotBieStopClickPropagation>
                        <i class="fa fa-times-circle-o spotbie-album-editor-buttons" aria-hidden="true"></i>
                    </div>

                    <div class='spotbie-album-media-button' id='removeMedia' title='Remove' *ngIf="album_media.album_media_id !== undefined" (click)="removeAlbumItem(album_media)" SpotBieStopClickPropagation>
                        <i class="fa fa-times-circle-o spotbie-album-editor-buttons" aria-hidden="true"></i>
                    </div> 
                    
                    <div class='spotbie-album-media-button' id='albumCoverMedia' title='Set as Cover' *ngIf="album_media.album_media_id !== undefined" (click)="setAlbumCover(album_media)" SpotBieStopClickPropagation>
                        <i class="fa fa-picture-o spotbie-album-editor-buttons" aria-hidden="true"></i>
                    </div> 

                    <div class='spotbie-album-media-button' id='editMedia' title='Edit Item' *ngIf="album_media.album_media_id !== undefined" (click)="editAlbumMedia(album_media)" SpotBieStopClickPropagation>
                        <i class="fa fa-pencil spotbie-album-editor-buttons" aria-hidden="true"></i>
                    </div> 

                    <div class='spotbie-album-media-button' id='shareMedia' title='Share' *ngIf="album_media.album_media_id !== undefined" (click)="shareAlbumMedia(album_media)" SpotBieStopClickPropagation>
                        <i class="fa fa-link spotbie-album-editor-buttons" aria-hidden="true"></i>
                    </div>                         

                    <div class='spotbie-album-media-button' id='likeMedia' title='Likes' *ngIf="album_media.album_media_id !== undefined" (click)="pullAlbumMediaLikes(album_media)" SpotBieStopClickPropagation>                            
                        <i class="fa fa-thumbs-up spotbie-album-editor-buttons" aria-hidden="true"></i>
                        <div class='spotbie-album-media-likes-counter'>{{ album_media.likes_count }}</div>
                    </div> 

                    <div class='spotbie-album-media-button' id='commentMedia' title='Comments' *ngIf="album_media.album_media_id !== undefined">                            
                        <i class="fa fa-comment spotbie-album-editor-buttons" aria-hidden="true"></i>
                        <div class='spotbie-album-media-comments-counter'>{{ album_media.comments_count }}</div>
                    </div> 

                </div>

            </div>

            <div class='spotbie-load-more-album-items' *ngIf="pullMoreAlbumItems" (click)="loadMoreAlbumItems()">load more</div>

        </div>

    </div>

    <div class='spotbie-confirm-box' *ngIf="spotbie_alert_box">

        <div class='spotbie-confirm-box-inner'>
            Are you sure you want to delete this album? All your media will be deleted.
            <table class="spotbie-confirm-box-table">
                <tr>
                    <td (click)="confirmAlbumDelete()">
                        <div class='spotbie-button'>Delete Album</div>
                    </td>
                    <td (click)="declineAlbumDelete()">
                        <div class='spotbie-button'>Cancel</div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="spotbie-close-button" (click)="closeWindow()"><i class="fa fa-times"></i></div>

</div>

<app-view-media *ngIf="view_media" [media]="current_album_media"></app-view-media>

<app-share-media *ngIf="share_media" [media]="current_album_media"></app-share-media>

<app-share-album *ngIf="share_album" [current_album]="current_album"></app-share-album>

<app-edit-media *ngIf="edit_media" [media]="current_album_media"></app-edit-media>

<app-album-media-likes *ngIf="media_likes" [media]="current_album_media"></app-album-media-likes>

<app-toast-helper [helper_config]="toast_helper_config" *ngIf="toast_helper"></app-toast-helper>