
<div class='spotbie-search-result' *ngFor='let place of placeList' (click)="openPlace(place)">
    
    <div class='spotbie-search-result-title'>
        {{ place.name }}
    </div>
    
    <table class='spotbie-search-result-table'>

        <tr>
        
            <td *ngIf="place.image_url != '0'">

                <div class='spotbie-search-result-image' 
                    [ngStyle]="{ 'background' : 'url(' + place.image_url + ')' }" >
                </div>  

            </td>

        </tr>

    </table>

</div>     

<div class='spotbie-load-more-button sb-button' *ngIf="loadMore" (click)="loadMorePlaces()">load more</div>

<div class='spotbie-no-notis-box' *ngIf="noPlaces">
    <div>
        You have no saved places yet.
    </div>
</div>

<app-info-object [info_object]="infoObject" 
                (closeWindow)="infoObjectWindow.open = false" 
                *ngIf="infoObjectWindow.open"
                (removeFavoriteEvent)="removeFavorite($event)">
</app-info-object>