.spotbie-overlay-window{
    padding-bottom: 90px;
    text-align: left;
}
.spotbie-repost-title{
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.spotbie-copy-link-button{
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}
.spotbie-share-post-link{
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.spotbie-input{
    width: 550px;
    min-width: 550px;
    max-width: 550px;
    background-color: rgba(0,0,0,0.23);
    color: white;
    cursor: pointer;
}
.spotbie-share-button{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 99%;
    padding: 15px;
    min-width: 48px;
    border: none;
    box-shadow: 0px 0px 12px #ffffff45;
    cursor: pointer;
}
.spotbie-share-buttons-wrappper{
    margin-top: 40px;
    text-align: center;
}

/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 

}
@media (max-width: 768px) { 

}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 

}
@media (max-width: 560px) { 
    .spotbie-input{
        max-width: 80%;
        width: 80%;
        min-width: 80%;
    } 
}
@media (max-width: 460px) { 

}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) { 
 
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}