<div class="spotbie-overlay-window">

  <div class="spotbie-background-bg-filler"></div>

  <input class="spotbie-color-picker"
        [cpToggle]="true"
        [cpDialogDisplay]="'popup'"      
        [cpOKButton]="true"
        [cpOKButtonText]="'Select Color'"
        [cpOKButtonClass]="'spotbie-color-picker-ok spotbie-button'"      
        [(colorPicker)]="picked_color"
        [cpCloseClickOutside]="false"
        [cpSaveClickOutside]="false"
        [cpFallbackColor] ="'#101010'"
        [cpDisableInput]="true"
        (colorPickerCancel)="triggerColorCancel()"
        (colorPickerSelect)="confirmColorPick(picked_color)"
        [style.background]="picked_color" />        
  <div class="spotbie-close-button" (click)="closeWindow()">close</div>

</div>