<div class="spotbie-overlay-window"> 

    <div class="spotbie-close-button" (click)="closeWindow()">close</div>
    
    <div class="spotbie-last-logged-table-holder">

        <div class="spotbie-last-logged-user-holder" (click)="fetchUserToLoginNew()">
            <table class="spotbie-last-logged-user-holder-table">
                <tr>
    
                    <td class="spotbie-last-logged-user-picture" [ngStyle]="{ 'background' : 'url(' + newUser.exe_user_default_picture + ')'}"></td>
                    
                    <td class="spotbie-last-logged-user-username">
                        New User
                    </td>
    
                </tr>
            </table>        
        </div>
    
        <div class="spotbie-last-logged-user-holder" *ngFor="let last_logged_user of last_logged_user_list" (click)="fetchUserToLogin(last_logged_user);">
            <table class="spotbie-last-logged-user-holder-table">
                <tr>
                    <td class="spotbie-last-logged-user-picture" [ngStyle]="{ 'background' : 'url(' + last_logged_user.exe_user_default_picture + ')'}"></td>
                    <td class="spotbie-last-logged-user-username">
                        {{ last_logged_user.exe_username }}
                    </td> 
                </tr>
            </table>
        </div>        

    </div>

</div>
