<h1 mat-dialog-title>Send a Text Message.</h1>
<div mat-dialog-content>
  <form [formGroup]="textMessageForm">
    <p>
      What would you like to tell your recent guests? Message will be sent to
      recent guests that have opted in to sms and have a valid phone number.
    </p>
    <p
      *ngIf="submitted && f.smsText.errors"
      class="spotbie-invalid-feedback text-uppercase spotbie-text-gradient spotbie-error"
    >
      <span *ngIf="f.smsText.errors.required">
        Text message body is required.
      </span>

      <span *ngIf="f.smsText.errors.maxlength || f.smsText.errors.minlength">
        Text messages must be between 120 and 320 characters long.
      </span>
    </p>
    <mat-form-field>
      <mat-label>Text Message</mat-label>
      <textarea
        formControlName="smsText"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="15"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button cdkFocusInitial (click)="sendMessage()">Send</button>
</div>
